.advertiser
   figure
      img(src="images/zurich.jpg", alt="")
   article
      h4 Lorem ipsum dolor sit amet. lorem
      p.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nostrum possimus modi et eum dolorum inventore nisi cupiditate. Nemo sequi quae harum a architecto consectetur voluptatibus incidunt #[a(href="#") Testing] eaque numquam magnam!