ul.boxDataset
   li
      article
         h4 DMO Minyak (BBLS) Sumber Data Perusahaan
         p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
         p #[strong Industri:] Energi
         p #[strong SubIndustri:] Eksplorasi dan Produksi
         p #[strong Periode:] 2011
         p #[strong Diperbarui:] 11 Mei 2017
      a(href="#" class="btn btn-orange") Unduh
   li
      article
         h4 DMO Minyak (BBLS) Sumber Data Perusahaan
         p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
         p #[strong Industri:] Energi
         p #[strong SubIndustri:] Eksplorasi dan Produksi
         p #[strong Periode:] 2011
         p #[strong Diperbarui:] 11 Mei 2017
      a(href="#" class="btn btn-orange") Unduh
   li
      article
         h4 DMO Minyak (BBLS) Sumber Data Perusahaan
         p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
         p #[strong Industri:] Energi
         p #[strong SubIndustri:] Eksplorasi dan Produksi
         p #[strong Periode:] 2011
         p #[strong Diperbarui:] 11 Mei 2017
      a(href="#" class="btn btn-orange") Unduh
   li
      article
         h4 DMO Minyak (BBLS) Sumber Data Perusahaan
         p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
         p #[strong Industri:] Energi
         p #[strong SubIndustri:] Eksplorasi dan Produksi
         p #[strong Periode:] 2011
         p #[strong Diperbarui:] 11 Mei 2017
      a(href="#" class="btn btn-orange") Unduh
   li
      article
         h4 DMO Minyak (BBLS) Sumber Data Perusahaan
         p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
         p #[strong Industri:] Energi
         p #[strong SubIndustri:] Eksplorasi dan Produksi
         p #[strong Periode:] 2011
         p #[strong Diperbarui:] 11 Mei 2017
      a(href="#" class="btn btn-orange") Unduh
   li
      article
         h4 DMO Minyak (BBLS) Sumber Data Perusahaan
         p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
         p #[strong Industri:] Energi
         p #[strong SubIndustri:] Eksplorasi dan Produksi
         p #[strong Periode:] 2011
         p #[strong Diperbarui:] 11 Mei 2017
      a(href="#" class="btn btn-orange") Unduh
   li
      article
         h4 DMO Minyak (BBLS) Sumber Data Perusahaan
         p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
         p #[strong Industri:] Energi
         p #[strong SubIndustri:] Eksplorasi dan Produksi
         p #[strong Periode:] 2011
         p #[strong Diperbarui:] 11 Mei 2017
      a(href="#" class="btn btn-orange") Unduh
   li
      article
         h4 DMO Minyak (BBLS) Sumber Data Perusahaan
         p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
         p #[strong Industri:] Energi
         p #[strong SubIndustri:] Eksplorasi dan Produksi
         p #[strong Periode:] 2011
         p #[strong Diperbarui:] 11 Mei 2017
      a(href="#" class="btn btn-orange") Unduh
   li
      article
         h4 DMO Minyak (BBLS) Sumber Data Perusahaan
         p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
         p #[strong Industri:] Energi
         p #[strong SubIndustri:] Eksplorasi dan Produksi
         p #[strong Periode:] 2011
         p #[strong Diperbarui:] 11 Mei 2017
      a(href="#" class="btn btn-orange") Unduh