.box-scheduler
   strong Waktu
   form
      .radio
         label
            input#sevenDay(type='radio', class="chooseSchedule", name='optionsRadios', value='option1')
            |	7 hari terakhir
      .radio
         label
            input#thirdTeen(type='radio', class="chooseSchedule", name='optionsRadios', value='option2')
            |	30 hari terakhir
      .radio
         label
            input#pastYear(type='radio', class="chooseSchedule", name='optionsRadios', value='option3')
            |	Tahun lalu
      .form-group
         label(for='fromDate', class="width-full") Dari
            input#fromDate.form-control(type='text', placeholder='dd/mm/yyyy')
      .form-group
         label(for='toDate', class="width-full") Hingga
            input#toDate.form-control(type='text', placeholder='dd/mm/yyyy')
      button(class="btn btn-abu-hijau", type="submit") Terapkan
      button(class="btn btn-link", type="reset") Hapus filter