.footer
	.container.posRelative
		a(href="#" class="goUp")
			i(class="fa fa-chevron-up" aria-hidden="true")
		img(src="images/new-logo-blue.svg", alt="", class="logo-bottom")
		.row
			.col-md-2
				ul
					li
						a(href="#") Home
					li
						a(href="#") Berita
					li
						a(href="#") Opini
					li
						a(href="#") Ekonografik
					li
						a(href="#") Databoks
					li
						a(href="#") Telaah
					li
						a(href="#") Multimedia
					li
						a(href="#") Infomark
			.col-md-2
				strong Katadata Networks
				ul
					li
						a(href="") D-Inside
					li
						a(href="") Xplorer
					li
						a(href="") Autoinsight
			.col-md-3
				a(href="") #[strong Laporan Khusus »]
				ul
					li
						a(href="") 3 Tahun Jokowi
					li
						a(href="") Sejarah Ekonomi Indonesia
					li
						a(href="") Electronic Road Pricing (ERP)
					li
						a(href="") Masa Depan Periklanan Indonesia
			.col-md-2
				strong Tentang Katadata
				ul
					li
						a(href="") Profil dan Masthead
					li
						a(href="") Hubungi Kami
					li
						a(href="") Advertising
					li
						a(href="") Pedoman Pemberitaan
					li
						a(href="") Media Siber
					li
						a(href="") Kesempata Karier
			.col-md-3.text-center
				//- strong Langganan Newsletter
				//- form
				//- 	.customInput
				//- 		input(type="email" name="" placeholder="Email anda...")
				//- p.small.
				//- 	Dengan mendaftar, Anda setuju untuk menerima Newsletter dari Katadata. Anda bisa melakukan Unsubscribe kapan pun.
				
				strong Ikuti kami di media sosial
				.followSosmed.margin-top-5.margin-bottom-10
					ul
						li
							a(href="#" class="facebook")
								<i class="fa fa-facebook"></i>
						li
							a(href="#" class="twitter")
								<i class="fa fa-twitter"></i>
						li
							a(href="#" class="instagram")
								<i class="fa fa-instagram"></i>
						li
							a(href="#" class="linkedin")
								<i class="fa fa-linkedin"></i>
				a(href="#", class="btn medium width-75 xs-width-full") Langganan Newsletter 

	.copyright
		.row.no-margin
			.col-md-12
				ul
					li
						| &copy; 2018 Katadata. All rights reserved
					li
						a(href="") Kebijakan Privasi
					li
						a(href="") Disclaimer