footer
	.container
		.flex-footer
			.footer-left
				a(href="#")
					img(src="images/new-logo-blue.svg", alt="")
				ul
					li #[a(href="#") Tentang katadata]
					li #[a(href="#") Advertising]
					li #[a(href="#") Karier]
					li #[a(href="#") Pedoman Media Siber]
					li #[a(href="#") Hubungi Kami]
			.footer-right
				div &copy;2018 Katadata. #[span Hak cipta dilindungi Undang-undang.]
				div.legal
					a(href="#") Kebijakan Privasi 
					a(href="#") Disclaimer