section.formSearch
   form
      .row
         .col-md-4.col-sm-6
            .form-group
               input(type="text" class="form-control" placeholder="Kata kunci")
         .col-md-2.col-sm-6
            .form-group
               select(class="form-control")
                  option Topik Satu
                  option Topik Dua
                  option Topik Tiga
                  option(selected="selected") Pilih Topik..
         .col-md-2.col-sm-6
            .form-group
               select(class="form-control")
                  option Topik Satu
                  option Topik Dua
                  option Topik Tiga
                  option(selected="selected") Pilih Subtopik..
         .col-md-2.col-sm-6
            .form-group
               input(type="text" class="form-control" id="datetimepicker1" placeholder="Short by Date")
         .col-md-2.col-sm-12
            input(type="submit" class="btn btn-block btn-orange" value="Cari Statistik")