.header
	.main-head
		.container
			.left-main-head
				.humburger-btn
					span
					span
					span
				a(href="" class="margin-right-20 hidden-xs") Kategori
			.center-main-head
				figure(class="logo-brand")
					img(src="./images/new-logo-putih.svg")
			.right-main-head
				i(class="fa fa-search" aria-hidden="true")
				a(href="" class="hidden-xs") Search
				//- div.kdNetwork
				//- 	a Jejaring Katadata