.header
	.main-head
		.container
			.left-main-head
				.toggleMnu
					span
					span
					span
				a(href="" class="margin-right-20 hidden-xs") Kategori
			.center-main-head
				figure
					img(src="./images/logo-kd.png")
			.right-main-head
				i(class="fa fa-search" aria-hidden="true")
				a(href="" class="hidden-xs") Search
				//- div.kdNetwork
				//- 	a Jejaring Katadata