
.main-head
	.container
		.left-main-head
			.btn-hum#trigger
				div.humburger-btn
					span
					span
					span
				a(href="" class="hidden-xs") Kategori
			.cari-btn.hidden-xs
				i(class="fa fa-search" aria-hidden="true")
				a(href="" class="hidden-xs") Search
		.center-main-head
			figure(class="logo-brand")
				img(src="./images/new-logo-putih.svg")
		.right-main-head
			i(class="fa fa-search visible-xs" aria-hidden="true")
			//- i(class="fa fa-search" aria-hidden="true")
			//- a(href="" class="hidden-xs") Search
			//- div.kdNetwork.hidden-xs
			//- 	a Jejaring Katadata
			a(href="#", class="btn small btn-blue-navy margin-right-10 hidden-xs") subscribe
			a(href="#", class="btn small btn-blue-navy hidden-xs") login