.hero-banner-about
	a(href="https://www.youtube.com/watch?v=ACBsXjuj2O4" data-fancybox)
		img(src="images/icons/icon-play-2.png", alt="") 
		span Profile Perusahan
	figure
		img(src="images/foto-profil-kd.jpg")
