// mp-menu
nav#mp-menu.mp-menu
	.mp-level
		ul
			li
				a(href='index.html') Beranda
			li.hasSub
				a(href='#') Semua Topik
				.mp-level
					h2 Daftar Topik
					a.mp-back(href='#') kembali
					ul
						li
							a(href='#') Energi
						li
							a(href='#') Nasional
						li
							a(href='#') Digital
						li
							a(href='#') Infrastruktur
						li
							a(href='#') Makro
						li
							a(href='#') Keuangan
						li
							a(href='#') Industri
						li
							a(href='#') Bursa
						li
							a(href='#') Bisnis
						li
							a(href='#') Perdagangan
						li
							a(href='#') Pertambangan
						li
							a(href='#') Pertanian
						li
							a(href='#') Otomotif
						li
							a(href='#') Transportasi
						li
							a(href='#') Internasional
						li
							a(href='#') Maritim
						li
							a(href='#') Olahraga
			li
				a(href='#') Berita
			li
				a(href='ekonografik-home.html') Ekonografik
			li
				a(href='kategori-opini-home.html') Opini
			li
				a(href='#') Analisis
			li
				a(href='#') Telaah
			li.hasSub
				a(href='#') Multimedia
				.mp-level
					h2 Multimedia
					a.mp-back(href='#') kembali
					ul
						li
							a(href='kd-multimedia-home.html') Multimedia Home
						li
							a(href='kd-foto-home.html') Foto
						li
							a(href='kd-video-home.html') Video
			li
				a(href='#') Infomark
			li
				a(href='#') Laporan Khusus
			li
				a(href='#') Kuis
			li
				a(href='indeks-page.html') Indeks
			li.otherLinks
				h2 Simak Juga
			li
				a(href='#') D-Inside
			li
				a(href='#') Xplorer
			li.hasSub
				a(href='#') Databoks
				.mp-level
					h2 Databoks
					a.mp-back(href='#') kembali
					ul
						li
							a(href='databoks-statistik-home.html') Statistik
						li
							a(href='databoks-dataset-home.html') Dataset
// /mp-menu