// mp-menu
nav#mp-menu.mp-menu
	.mp-level
		ul
			li.goHome
				a(href='index.html') #[i.fa.fa-home] Beranda
			li
				a(href='#') Berita
			li.hasSub
				a(href='#') Topik
				.mp-level
					h2 Topik
					a.mp-back(href='#') kembali
					ul
						li
							a(href='#') Energi
						li
							a(href='#') Olahraga
						li
							a(href='#') Digital
						li
							a(href='#') Transportasi
						li
							a(href='#') Bisnis
						li
							a(href='#') Pertambangan
						li
							a(href='#') Bursa
						li
							a(href='#') Maritim
						li
							a(href='#') Keuangan
						li
							a(href='#') Internasional
						li
							a(href='#') Makro
						li
							a(href='#') Otomotif
						li
							a(href='#') Perdagangan
						li
							a(href='#') Infrastruktur
						li
							a(href='#') Nasional
			li.hasSub
				a(href='#') Databoks
				.mp-level
					h2 Databoks
					a.mp-back(href='#') kembali
					ul
						li
							a(href='#') Statistik
						li
							a(href='#') Dataset
			li
				a(href='#') Opini
			li
				a(href='#') Ekonografik
			li
				a(href='#') Telaah
			li
				a(href='#') Multimedia
			li
				a(href='#') Infomark
			li
				a(href='#') Laporan Khusus
			li
				a(href='#') Collections
			li
				a.icon.icon-wallet(href='#') Credits
// /mp-menu