nav.wwNavigation.hidden-xs.hidden-sm
   .container
      ul
         li
            a(href="index.html") Beranda
         li.hasSub
            a(href="#") Berita
            ul
               li
                  a(href="#") Energi
               li
                  a(href="#") Olahraga
               li
                  a(href="#") Digital
               li
                  a(href="#") Transportasi
               li
                  a(href="#") Bisnis
               li
                  a(href="#") Pertambangan
               li
                  a(href="#") Bursa
               li
                  a(href="#") Maritim
               li
                  a(href="#") Keuangan
               li
                  a(href="#") Internasional
               li
                  a(href="#") Makro
               li
                  a(href="#") Otomotif
               li
                  a(href="#") Perdagangan
               li
                  a(href="#") Infrastruktur
               li
                  a(href="#") Nasional
         li.hasSub
            a(href="#") Opini
            ul
               li
                  a(href="#") Energi
               li
                  a(href="#") Olahraga
               li
                  a(href="#") Digital
               li
                  a(href="#") Transportasi
               li
                  a(href="#") Bisnis
               li
                  a(href="#") Pertambangan
               li
                  a(href="#") Bursa
               li
                  a(href="#") Maritim
               li
                  a(href="#") Keuangan
               li
                  a(href="#") Internasional
               li
                  a(href="#") Makro
               li
                  a(href="#") Otomotif
               li
                  a(href="#") Perdagangan
               li
                  a(href="#") Infrastruktur
               li
                  a(href="#") Nasional
         li.hasSub
            a(href="#") Ekonografik
            ul
               li
                  a(href="#") Energi
               li
                  a(href="#") Olahraga
               li
                  a(href="#") Digital
               li
                  a(href="#") Transportasi
               li
                  a(href="#") Bisnis
               li
                  a(href="#") Pertambangan
               li
                  a(href="#") Bursa
               li
                  a(href="#") Maritim
               li
                  a(href="#") Keuangan
               li
                  a(href="#") Internasional
               li
                  a(href="#") Makro
               li
                  a(href="#") Otomotif
               li
                  a(href="#") Perdagangan
               li
                  a(href="#") Infrastruktur
               li
                  a(href="#") Nasional
         li.hasSub
            a(href="#") Telaah
            ul
               li
                  a(href="#") Energi
               li
                  a(href="#") Olahraga
               li
                  a(href="#") Digital
               li
                  a(href="#") Transportasi
               li
                  a(href="#") Bisnis
               li
                  a(href="#") Pertambangan
               li
                  a(href="#") Bursa
               li
                  a(href="#") Maritim
               li
                  a(href="#") Keuangan
               li
                  a(href="#") Internasional
               li
                  a(href="#") Makro
               li
                  a(href="#") Otomotif
               li
                  a(href="#") Perdagangan
               li
                  a(href="#") Infrastruktur
               li
                  a(href="#") Nasional
         li.hasSub
            a(href="#") Databoks
            ul
               li
                  a(href="#") Statistik
               li
                  a(href="#") Dataset
         li.hasSub
            a(href="#") Multimedia
            ul
               li
                  a(href="#") Energi
               li
                  a(href="#") Olahraga
               li
                  a(href="#") Digital
               li
                  a(href="#") Transportasi
               li
                  a(href="#") Bisnis
               li
                  a(href="#") Pertambangan
               li
                  a(href="#") Bursa
               li
                  a(href="#") Maritim
               li
                  a(href="#") Keuangan
               li
                  a(href="#") Internasional
               li
                  a(href="#") Makro
               li
                  a(href="#") Otomotif
               li
                  a(href="#") Perdagangan
               li
                  a(href="#") Infrastruktur
               li
                  a(href="#") Nasional
         li
            a(href="#") Infomark
         li.hasSub
            a(href="#") Laporan Khusus
            ul
               li
                  a(href="#") Energi
               li
                  a(href="#") Olahraga
               li
                  a(href="#") Digital
               li
                  a(href="#") Transportasi
               li
                  a(href="#") Bisnis
               li
                  a(href="#") Pertambangan
               li
                  a(href="#") Bursa
               li
                  a(href="#") Maritim
               li
                  a(href="#") Keuangan
               li
                  a(href="#") Internasional
               li
                  a(href="#") Makro
               li
                  a(href="#") Otomotif
               li
                  a(href="#") Perdagangan
               li
                  a(href="#") Infrastruktur
               li
                  a(href="#") Nasional
.wwNavigation-overlay
nav.mmNavigation.visible-xs.visible-sm