// simple-menu

nav.navigasi
	ul
		li
			a(href='/') Beranda
		li
			a(href='indeks-page.html') Indeks
		li.hasSub
			a(href='#') Semua Topik
			ul
				li
					a(href='#') Energi
				li
					a(href='#') Nasional
				li
					a(href='#') Digital
				li
					a(href='#') Infrastruktur
				li
					a(href='#') Makro
				li
					a(href='#') Keuangan
				li
					a(href='#') Industri
				li
					a(href='#') Bursa
				li
					a(href='#') Bisnis
				li
					a(href='#') Perdagangan
				li
					a(href='#') Pertambangan
				li
					a(href='#') Pertanian
				li
					a(href='#') Otomotif
				li
					a(href='#') Transportasi
				li
					a(href='#') Internasional
				li
					a(href='#') Maritim
				li
					a(href='#') Olahraga
		li
			a(href='#') Berita
		li
			a(href='ekonografik-home.html') Ekonografik
		li
			a(href='kategori-opini-home.html') Opini
		li
			a(href='#') Analisis
		li
			a(href='#') Telaah
		li.hasSub
			a(href='kd-multimedia-home.html') Multimedia
			ul
				li
					a(href='kd-foto-home.html') Foto
				li
					a(href='kd-video-home.html') Video
		li
			a(href='#') Infomark
		li
			a(href='#') Laporan Khusus
		li
			a(href='#') Kuis
		li.otherListMnu Simak Juga
		li.hasSub
			a(href='https://beta-databoks.katadata.co.id/') Databoks
			ul
				li
					a(href='kd-video-home.html') Dataset
				li
					a(href='kd-foto-home.html') Statistik
		li
			a(href='https://dinside.katadata.co.id/') D-Inside
		li
			a(href='https://xplorer.katadata.co.id/') Xplorer

// End Menu