ul.sprite-ico
	li
		a
			span.icoico.ico-agro
			span Agro Industri
	li
		a
			span.icoico.ico-demog
			span Demografi
	li
		a
			span.icoico.ico-energi
			span Energi
	li
		a
			span.icoico.ico-kerja
			span Ketenagakerjaan
	li
		a
			span.icoico.ico-laut
			span Kelautan
	li
		a
			span.icoico.ico-uang
			span Keuangan
	li
		a
			span.icoico.ico-moneter
			span Moneter
	li
		a
			span.icoico.ico-pasar
			span Pasar
	li
		a
			span.icoico.ico-pdb
			span PDB
	li
		a
			span.icoico.ico-tekno
			span Teknologi &amp; Telko
	li
		a
			span.icoico.ico-dagang
			span Perdagangan
	li
		a
			span.icoico.ico-all
			span Seluruh Topik