ul.thumb-ico-topik.grid-4
	li
		a(href="#")
			figure
				img(src="images/icons/agro-industri.png", alt="")
			p Agro Industri
	li
		a(href="#")
			figure
				img(src="images/icons/demografi.png", alt="")
			p Demografi
	li
		a(href="#")
			figure
				img(src="images/icons/energi.png", alt="")
			p Energi
	li
		a(href="#")
			figure
				img(src="images/icons/ketenagakerjaan.png", alt="")
			p Ketenagakerjaan
	li
		a(href="#")
			figure
				img(src="images/icons/kelautan.png", alt="")
			p Kelautan
	li
		a(href="#")
			figure
				img(src="images/icons/keuangan.png", alt="")
			p Keuangan
	li
		a(href="#")
			figure
				img(src="images/icons/moneter.png", alt="")
			p Moneter
	li
		a(href="#")
			figure
				img(src="images/icons/pasar.png", alt="")
			p Pasar
	li
		a(href="#")
			figure
				img(src="images/icons/pdb.png", alt="")
			p PDB
	li
		a(href="#")
			figure
				img(src="images/icons/teknologi-n-telko.png", alt="")
			p Teknologi &amp; Telko
	li
		a(href="#")
			figure
				img(src="images/icons/perdagangan.png", alt="")
			p Perdagangan
	li
		a(href="#")
			figure
				img(src="images/icons/seluruh-topik.png", alt="")
			p Seluruh Topik