.market-ticker
  .container
    .market-ticker-wrapper
      ul
        li #[strong Asii] 7.025 #[span -25 / -0.35%]
        li #[strong Bbca] 22.100 #[span +25 / +0.35%]
        li #[strong Ggrm] 22.100 #[span -25 / -0.35%]
        li #[strong Asii] 7.025 #[span -25/-0.35%]
        li #[strong Bbca] 22.100 #[span +25 / +0.35%]
      a(href="#") Market Data #[span »]