section.newsletter.inDetail
  //- img(src="images/icons/bel.png", alt="")
  article
    strong News Alert
    p.
      Dapatkan informasi terkini seputar ekonomi dan bisnis langsung lewat email Anda
  form
    .customInput.withBorder
      input(type="email" name="" placeholder="Email anda...")
    //- p.small.
    //- 	Dengan mendaftar, Anda setuju untuk menerima Newsletter dari Katadata. Anda bisa melakukan Unsubscribe kapan pun.
    //- .recaptha-space
    //- 	img(src="images/recaptcha.png", alt="")
    input(type="submit" name="" value="Daftar" class="btn btn-blue-pastel")