ul.opiniTerpopuler
   li
      figure
         img(src="images/avatar/avatarMale1.png", alt="")
      a(href="#").
         Menjawab Keraguan Terhadap Gross Split
      p Prahoro Nurtjahyo
   li
      figure
         img(src="images/avatar/avatarMale2.png", alt="")
      a(href="#").
         Menjawab Keraguan Terhadap Gross Split
      p Prahoro Nurtjahyo
   li
      figure
         img(src="images/avatar/avatarFemale1.png", alt="")
      a(href="#").
         Menjawab Keraguan Terhadap Gross Split
      p Prahoro Nurtjahyo
   li
      figure
         img(src="images/avatar/avatarMale2.png", alt="")
      a(href="#").
         Menjawab Keraguan Terhadap Gross Split
      p Prahoro Nurtjahyo
   li
      figure
         img(src="images/avatar/avatarFemale1.png", alt="")
      a(href="#").
         Menjawab Keraguan Terhadap Gross Split
      p Prahoro Nurtjahyo