ul.opiniTerpopuler
	li
		a(href="", class="figure")
			img(src="images/avatar/opini-jokowi-pict.jpg", alt="")
		span
			strong.small-label Wawancara
			a(href="#") Menjawab Keraguan Terhadap Gross Split
			p Prahoro Nurtjahyo
	li
		a(href="", class="figure")
			img(src="images/avatar/opini-pict2.jpg", alt="")
		span
			strong.small-label Opini
			a(href="#") Menjawab Keraguan Terhadap Gross Split
			p Prahoro Nurtjahyo
	li
		a(href="", class="figure")
			img(src="images/avatar/opini-jk-pict.jpg", alt="")
		span
			strong.small-label Wawancara
			a(href="#") Menjawab Keraguan Terhadap Gross Split
			p Prahoro Nurtjahyo
	li
		a(href="", class="figure")
			img(src="images/avatar/opini-menteri-pict.jpg", alt="")
		span
			strong.small-label Opini
			a(href="#") Menjawab Keraguan Terhadap Gross Split
			p Prahoro Nurtjahyo
	li
		a(href="", class="figure")
			img(src="images/avatar/woman-thumb.png", alt="")
		span
			strong.small-label Opini
			a(href="#") Menjawab Keraguan Terhadap Gross Split
			p Prahoro Nurtjahyo