ul.opiniTerpopuler
   li
      strong.small-label Wawancara
      a(href="", class="figure")
         img(src="images/avatar/opini-jokowi-pict.jpg", alt="")
      a(href="#").
         Menjawab Keraguan Terhadap Gross Split
      p Prahoro Nurtjahyo
   li
      strong.small-label Opini
      a(href="", class="figure")
         img(src="images/avatar/opini-pict2.jpg", alt="")
      a(href="#").
         Menjawab Keraguan Terhadap Gross Split
      p Prahoro Nurtjahyo
   li
      strong.small-label Wawancara
      a(href="", class="figure")
         img(src="images/avatar/opini-jk-pict.jpg", alt="")
      a(href="#").
         Menjawab Keraguan Terhadap Gross Split
      p Prahoro Nurtjahyo
   li
      strong.small-label Opini
      a(href="", class="figure")
         img(src="images/avatar/opini-menteri-pict.jpg", alt="")
      a(href="#").
         Menjawab Keraguan Terhadap Gross Split
      p Prahoro Nurtjahyo
   li
      strong.small-label Opini
      a(href="", class="figure")
         img(src="images/avatar/woman-thumb.png", alt="")
      a(href="#").
         Menjawab Keraguan Terhadap Gross Split
      p Prahoro Nurtjahyo