.trending.hidden-xs
   strong Trending:
   ul
      li
         a(href="#") Danamon
      li
         a(href="#") Bitcoin
      li
         a(href="#") Ripple
      li
         a(href="#") OJK
      li
         a(href="#") Cryptocurrency
      li
         a(href="#") Freeport