.widget-link-content
   .widget-head-link-content.
      Klinik Hukum Bisnis dan Investasi
   .widget-main-content
      ul
         li
            a(href="#") Dapatkah Pengurus Mengalihkan Kekayaan Yayasan?
         li
            a(href="#") Perlukah Resign Jika Tidak Sepakat Memperpanjang PKWT?
         li
            a(href="#") Bolehkah CV Mengajukan Permohonan Paten?
   .widget-footer-link-content
      a(href="#" class="pull-right").
         Didukung oleh #[img(src="images/hol-logo.png")]