/* Space out content a bit */

/* body */

// *,
// *:after,
// *:before
//   box-sizing: border-box
//   // -webkit-font-smoothing: antialiased
//   // font-smoothing: antialiased
//   text-rendering: optimizeLegibility

// html, body, .wrapper, main
//   height: 100%

// body
//   .wrapper // Container Main
//     position: relative
//     overflow: hidden
//     main // Scroller
//       padding-top: 73px
//       position: relative
//       overflow-y: auto
//       +breakpoint(mobile)
//         padding-top: 57px
//       &.for-video-detail
//         padding-top: 0
//       .contentWrapper // Scroller Inner
//         position: relative
//         height: auto

*,
*:after,
*:before
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  text-rendering: optimizeLegibility

html, body
  box-sizing: border-box
  min-height: 100%
  
html
  height: 100%
  position: relative

body
  .wrapper
    position: relative
    // overflow: hidden
    overflow-y: auto
    overflow-x: hidden
    height: 100%
    main
      padding-top: 73px
      // margin-bottom: 600px
      &.for-video-detail
        padding-top: 0
        .navigasi
          z-index: 8
      &.for-longform
        padding-top: 0
        .navigasi
          z-index: 8
      .contentWrapper
        width: 100%

/* Customize container */
.container
  +breakpoint(mobile)
    padding-left: 15px
    padding-right: 15px
  +breakpoint(laptop)
    width: 1200px
  +breakpoint(desktop)
    width: 1280px
  
  