/* Space out content a bit */

/* body */

*,
*:after,
*:before
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  text-rendering: optimizeLegibility

html, body
  box-sizing: border-box
  min-height: 100%
  
html
  position: relative

body
  .wrapper
    overflow: hidden
    main
      // margin-bottom: 600px
      .contentWrapper
        // padding: 90px 0 70px
        padding: 0 0 70px

/* Customize container */
.container
  +breakpoint(desktop)
    max-width: 1170px

  