a.btn,
button.btn,
input[type='button'].btn,
input[type='submit'].btn,
	display: inline-block
	padding: 10px 25px
	font-family: "robotoMedium"
	font-size: 16px
	color: #333333
	background: #f2f2f2
	border: 1px darken(#ccc, 1%) solid
	border-radius: 3px
	vertical-align: middle

	&.block-half
		margin: 0 auto
		display: block
		width: 75%
		@for $i from 1 through $offset
			&.switch-#{5 * $i}
				width: 5% * $i !important
			+breakpoint(mobile)
				&.xs-switch-#{5 * $i}
					width: 5% * $i !important
		+breakpoint(mobile)
			margin-bottom: 30px

	&.large
		font-size: 20px
		padding: 8px 40px

	&.small
		font-size: 12px
		padding: 5px 20px

	&:hover
		background: darken(#FFFFFF, 7%)

	@each $class, $background, $font_color in $buttons
		&.#{$class}
			background: $background
			color: $font_color
			// border-color: darken($background, 8%);
			border-color: $background

			&:hover
					background: darken($background, 5%)