.ekonoList
	ul.listGraph
		+flexOwnGrid(li, 3, 2%, 25)
		+breakpoint(mobile)
			+flexOwnGrid(li, 1, 0, 25)
		> li
			position: relative
			padding: 15px
			border: 1px solid #eee
			transition: box-shadow .3s ease-in-out
			+box-shadow(0,0,10px, rgba(0,0,0,.1))
			// +ownGrid(3, 2%)
			// +breakpoint(tablet)
			//    +ownGrid(2, 3%)
			// +breakpoint(mobile)
			//    +ownGrid(1, 0)
			//    margin-bottom: 30px
			.foot-list-graph
				position: absolute
				left: 0
				bottom: 15px
				width: 100%
				+clearit
				a.btn
					margin-left: 15px
					margin-bottom: 0
				ul.btn-sosmed
					position: inherit
					top: 5px
					right: 15px
					li
						margin-right: 3px
						margin-bottom: 0
						width: auto
						display: inline-block
						a
							color: #fff
				+breakpoint(mobile)
					a.btn
						padding: 7px 10px
						font-size: 14px
					ul.btn-sosmed
						top: 3px
			&:hover
				cursor: pointer
				+box-shadow(0,0,20px, rgba(0,0,0,.25))
				transition: box-shadow .3s ease-in-out
			figure
				position: relative
				margin-bottom: 15px
				overflow: hidden
				img
						display: block
				// span.btnLinks
				// 	position: absolute
				// 	display: inline-block
				// 	width: 100%
				// 	height: 100%
				// 	opacity: 0
				// 	background: rgba(0,0,0, .5)
				// 	transition: opacity .3s ease-in-out
				// 	z-index: 2
				// 	span.btnLinksWrapper
				// 		position: inherit
				// 		top: 50%
				// 		left: 50%
				// 		transform: translate(-50%, -50%)
				// 		a.btn
				// 			margin-bottom: 12px
				// 			position: relative
				// 			opacity: 0
				// 			color: #fff
				// 			display: block
				// 			transition: all .3s ease-in-out
				// 			top: -80px
				// 		span.share-ekono
				// 			position: relative
				// 			top: 80px
				// 			padding: 10px 0
				// 			display: block
				// 			color: #fff
				// 			text-align: center
				// 			// border-radius: 3px
				// 			transition: all .3s ease-in-out
				// 			background-color: #dedede
				// 			a
				// 				margin-right: 10px
				// 				display: inline-block
				// 				width: 28px
				// 				height: 28px
				// 				line-height: 1.5
				// 				border-radius: 50%
				// 				color: white
				// 				&:nth-child(1)
				// 						background-color: $fb
				// 				&:nth-child(2)
				// 						background-color: $tw
				// 				&:nth-child(3)
				// 						background-color: $lnkd
				// 				&:last-child
				// 						margin-right: 0
				// 				i
				// 						font-size: 16px
				// 	&:hover
				// 		opacity: 1
				// 		background: rgba(0,0,0, .5)
				// 		transition: all .3s ease-in-out
				// 		span.btnLinksWrapper
				// 				a.btn
				// 					opacity: 1
				// 					transition: all .3s ease-in-out
				// 					top: 0
				// 				span.share-ekono
				// 					transition: all .3s ease-in-out
				// 					top: 0

			a
				font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
				font-size: 18px
				font-weight: 500
				line-height: 1.4
				color: $black
				+breakpoint(tablet)
					position: relative
					z-index: 2
				+breakpoint(mobile)
					position: relative
					z-index: 2
