.customInput
    margin: 0 0 10px
    padding: 10px 0 10px 42px
    background: url('../images/icons/email2.png') no-repeat 10px center, #fff
    +border-radius(3px)
    &.withBorder
      border: 1px solid #aaa
    input
      padding: 0
      font-family: gothamNarr_book
      border: none
      width: 100%
      line-height: 1.5
      &:focus
        outline: none
.formSearch
  padding-bottom: 15px
  margin-bottom: 20px
  border-bottom: 1px solid #ddd
  input[type="text"],
  select
    font-family: gothamNarr_book
    height: 40px 
  input[type="submit"]
    padding: 8px 20px