.customInput
	margin: 0 0 10px
	padding: 10px 0 10px 42px
	background: url('../images/icons/email2.png') no-repeat 10px center, #fff
	+border-radius(3px)
	&.withBorder
		border: 1px solid #aaa
	input
		padding: 0
		font-family: gothamNarr_book
		border: none
		width: 100%
		line-height: 1.5
		&:focus
		outline: none
.formSearch
	padding-bottom: 15px
	margin-bottom: 30px
	border-bottom: 1px solid #ddd
	h2
		margin-bottom: 0
		+breakpoint(mobile)
			margin-bottom: 10px
	&.sectionGray
		padding: 30px 20px 15px
		background-color: #e1e1e1
		border-bottom: none
		margin-bottom: 45px
	input[type="text"],
	input[type="email"],
	input[type="password"]
		font-family: gothamNarr_book
		padding: 20px 10px
		// height: 40px
		// line-height: 1.4
	label:not(.label-checkbox):not(.radio-inline):not([for="ingatkan"])
		position: relative
		width: 100%
		select
			font-family: gothamNarr_book
			height: 42px
			appearance: none
		&:before
			position: absolute
			content: '\f0d7'
			font-family: fontawesome
			font-size: 22px
			top: 50%
			right: 12px
			color: lighten($black, 45%)
			transform: translateY(-50%)

	textarea
		font-family: gothamNarr_book
	input.form-control,
	textarea.form-control
		&::-webkit-input-placeholder
			font-family: robotoRegular
			color: #aaa
		&::-moz-placeholder
			font-family: robotoRegular
			color: #aaa
		&:-ms-input-placeholder
			font-family: robotoRegular
			color: #aaa
		&:-moz-placeholder
			font-family: robotoRegular
			color: #aaa
	&.removeBorder
		border-bottom: 0
	&.otherStyle
		position: relative
		margin-bottom: 0
		border-bottom: 3px solid #ddd
		strong
			padding: 10px 0
			display: inline-block
			vertical-align: middle
			font-family: robotoMedium
		a.btn
			padding: 8px 0
			i
				font-size: 20px
		&.removeBorder
			border-bottom: 0
