.head-and-caption
	position: relative
	+clearit
	h2
		font-family: gothamNarr_book
		font-size: 42px
		display: inline-block
		vertical-align: middle
		margin-right: 50px
		margin-bottom: 15px
		+breakpoint(mobile)
			font-size: 35px
			float: left
		small
			font-family: robotoLight
			font-size: 25px
			letter-spacing: 1px
			color: white
	strong,p
		display: inline-block
		+breakpoint(mobile)
			margin-left: 0
			margin-bottom: 15px
	strong
		font-family: robotoMedium
	article
		+clearit
		margin-bottom: 12px
		padding-bottom: 12px
		border-bottom: 1px solid #ddd
		display: block
		p
			display: inline-block
		p.strong
			float: right
			font-family: robotoMedium
			font-size: 18px
			width: 86.5%
			+breakpoint(tablet)
				margin-top: 10px
				width: 100%
			+breakpoint(mobile)
				width: 100%
				margin-top: 0
				margin-bottom: 0

	p.detailTaiching
		padding-left: 114px
		margin-bottom: 20px
		+breakpoint(tablet)
			padding-left: 0
		+breakpoint(mobile)
			padding-left: 0
	p
		&.sendMail
			float: right
			margin-top: 20px
			+breakpoint(mobile)
				text-align: right
				width: 180px
				font-size: 16px
				margin-top: 8px				
		a
			font-family: robotoMedium
		+breakpoint(mobile)
			margin-left: 0
			margin-bottom: 15px
	&.no-breadcrumb
		margin-top: 90px
		.linkIndex
			float: none
			margin-top: 15px
			+breakpoint(mobile)
				margin-top: 8px
.topik-pil
	display: block
	padding: 20px 0
	margin: 0 15px 32px
	border-top: 1px solid #ddd
	border-bottom: 1px solid #ddd
	+breakpoint(mobile)
		margin-left: 15px
		margin-right: 15px
	strong,
		font-family: robotoMedium
		display: inline-block
		margin-right: 55px
		+breakpoint(mobile)
			margin-bottom: 10px
			display: block
	a
		line-height: 1.4
		font-family: RobotoLight
		color: $black

.blueHead
	position: relative
	top: -25px
	padding-top: 10px
	background-color: $blue-sec-head2
	.head-and-caption
		margin-top: 90px
		h2
			color: white
			margin-bottom: 0
			vertical-align: baseline
			+breakpoint(mobile)
				margin-bottom: 2px
				font-size: 38px
			small
				+breakpoint(mobile)
					font-size: 20px
		ul
			display: inline-block
			li
				display: inline-block
				margin-right: 35px
				box-sizing: border-box
				&.pilih
					> a
						border-bottom: 5px solid $black
				&:nth-child(3)
					margin-right: 0
				a
					padding: 10px 0 11px
					display: block
					font-family: robotoRegular
					font-size: 17px
					color: white