.listing
	ul:not(.opiniTerpopuler)
		li
			position: relative
			padding-bottom: 25px
			margin-bottom: 25px
			display: inline-block
			width: 100%
			+clearit
			+borderDot
			p.small
				float: left
				vertical-align: top
				// margin: 0 30px 0 0
				font-size: 15px
				width: 15%
				+breakpoint(mobile)
					width: auto
					margin-bottom: 20px
			article
				float: left
				padding-right: 20px
				width: calc(100% - 35%)
				+breakpoint(mobile)
					width: auto
				h4
					margin-bottom: 10px
					a
						font-family: robotoMedium
						font-size: 20px
				p
					font-size: 17px
					+breakpoint(mobile)
						margin-bottom: 20px
			figure
				float: right
				width: 20%
				img
					width: 100%
					height: auto
				+breakpoint(mobile)
					float: none
					width: 100%