.listing
	ul:not(.opiniTerpopuler)
		li
			position: relative
			padding-bottom: 25px
			margin-bottom: 25px
			display: inline-block
			+clearit
			+borderDot
			p.small
				display: inline-block
				vertical-align: top
				margin: 0 30px 0 0
				font-size: 16px
				+breakpoint(mobile)
					margin-bottom: 20px
			article
				padding-right: 35px
				display: inline-block
				+breakpoint(wide)
					width: 550px
				+breakpoint(tablet)
					padding-right: 20px
					width: calc(595px - 180px)
				+breakpoint(mobile)
					width: auto
				h4
					margin-bottom: 10px
					a
						font-family: robotoMedium
						font-size: 20px
				p
					font-size: 17px
					+breakpoint(mobile)
						margin-bottom: 20px
			figure
				float: right
				width: 180px
				+breakpoint(mobile)
					float: none
					width: 100%