.pg-style-2-wrapper
   .pg-style-2
      padding: 8px 10px
      border-radius: 3px
      display: inline-block
      text-decoration: none
      background-color: $blue-cap
      color: white
      &:hover
         background-color: $blue-sec-head2
      &.prev:before,
      &.next:after
         font-family: fontawesome
      &.prev:before
         content: '\f104'

      &.next:after
         content: '\f105'
   span
      padding: 8px 12px
      margin: 0 2px
      font-family: "Gotham Narrow A", "Gotham Narrow B", robotoRegular
      font-weight: 400
      display: inline-block