.slideTabbing
	position: relative
	padding: 25px 0
	.wrapperTabbing
		height: auto
		.tabs-content
			overflow: hidden
			.tab-content
				figure
					position: relative
					display: block
					width: 100%
					height: 635px
					margin-bottom: 15px
					+breakpoint(mobile)
						width: 100%
						height: auto
					+breakpoint(small-mobile)
						width: 100%
						height: auto
					img
						position: absolute
						width: 100%
						height: 100%
						+breakpoint(mobile)
							position: static
							width: 100%
							height: auto
						+breakpoint(mobile)
							position: static
							width: 100%
							height: auto
					&:after
						position: absolute
						content: ''
						top: 0
						right: 0
						bottom: 0
						left: 0
						background-color: rgba(0,0,0,.3)
					a
						position: absolute
						top: 50%
						left: 50%
						transform: translate(-50%, -50%)
						display: inline-block
						z-index: 2
						&.playing
							background: url('../images/icons/youtube-play.png') center center no-repeat
							width: 64px
							height: 46px
						&.cam
							background: url('../images/icons/photo-camera.png') center center no-repeat
							width: 64px
							height: 58px
				h4
					font-size: 25px
					margin-bottom: 8px
					// margin-left: 15px
				p
					font-size: 17px
					// margin-left: 15px
				.followSosmed
					img
						height: auto
						margin-bottom: 0
		.tabs-list-wrapper
			overflow: auto
			height: 635px
			+breakpoint(mobile)
				height: auto
			ul.tabs-list
				li.tab-link
					margin-bottom: 25px
					display: block
					+clearit
					article
						width: 255px
						margin: 0 auto
						figure
							// padding: 5px
							margin-bottom: 10px
							position: relative
							width: 100%
							height: 166px
							overflow: hidden
							+box-shadow(0,0,10px, rgba(0,0,0,.15))
							a
								width: 100%
								img
									display: block
									width: 100%
						img
							display: inline-block
							width: 24px
							margin-right: 10px
						a
							float: right
							width: calc(100% - 34px)
							font-family: "Gotham Narrow A", "Gotham Narrow B", robotoRegular
							font-size: 17px
							font-weight: 400
							line-height: 1.4
							color: $black
				+breakpoint(mobile)
					width: auto
					height: 100%
					overflow-x: auto
					white-space: nowrap
					li.tab-link
						display: inline-block
						*display: inline
						zoom: 1
						margin-right: 10px
						&:last-child
							margin-right: 0
						article
							a
								white-space: pre-wrap

		&.whiteText
			.tab-content
				*
					color: white
			ul.tabs-list
				li.tab-link
					article
						a
							color: white