.box-newsletter
  .section-heading.centerAbsolute
    h3.section-title Laporan Khusus
  .newsletter-wrapper
    p.
      Dapatkan berita-berita ekonomi, bisnis, fintech, politik, dan isu terkini lainnya langsung via email Anda.
    .form-group
      input(type="email" placeholder="Email" )
      input(type="submit" value="Daftar")
    p.
      Untuk berlangganan newsletter #[br] #[strong Oil & Gas], #[a(href="#") klik di sini].