.lapsus
  .section-heading
    h3.section-title #[a(href="#") Laporan Khusus »]
  figure
    a(href="#")
      img(src="images/kedung_ombo.jpg", alt="")
  a(href="#") Terjerat Kemiskinan di Kedungombo