.opini-widget
  h3.section-title #[a(href="#") Opini »]
  div.list-opini-widget
    div
      figure
        img(src="images/round-square1.jpg", alt="alt")
      article
        small Indah Mustikasari
        a(href="#") Memaksimalkan Big Data untuk Menunjang Strategi E-commerce
        span Opini
    div
      figure
        img(src="images/round-square1.jpg", alt="alt")
      article
        small Indah Mustikasari
        a(href="#") Memaksimalkan Big Data untuk Menunjang Strategi E-commerce
        span Wawancara
    div
      figure
        img(src="images/round-square3.jpg", alt="alt")
      article
        small Indah Mustikasari
        a(href="#") Memaksimalkan Big Data untuk Menunjang Strategi E-commerce
        span Opini
    div
      figure
        img(src="images/round-square2.jpg", alt="alt")
      article
        small Indah Mustikasari
        a(href="#") Memaksimalkan Big Data untuk Menunjang Strategi E-commerce
        span Wawancara
    div
      figure
        img(src="images/round-square1.jpg", alt="alt")
      article
        small Indah Mustikasari
        a(href="#") Memaksimalkan Big Data untuk Menunjang Strategi E-commerce
        span Wawancara