.video-widget
  h3.section-title #[a(href="#") Video »]
  .head-video-widget
    figure
      a(href="#")
        span
          i(class="fa fa-play") #[b 2:35]
        img(src="images/video-luhut.jpg", alt="")
    a(href="#") Wawancara Khusus Menko Kemaritiman Luhut Pandjaitan
  div.list-video-widget
    div
      a(href="#") Wawancara Khusus Menteri Pertanian Amran Sulaiman
      figure
        img(src="images/video-luhut.jpg", alt="alt")
      span.infoBottom.bottom-up-10
        i(class="fa fa-play") #[b Putar video 3:12]
    div
      a(href="#") Wawancara Khusus Menteri Pertanian Amran Sulaiman
      figure
        img(src="images/video-luhut.jpg", alt="alt")
      span.infoBottom.bottom-up-10
        i(class="fa fa-play") #[b Putar video 3:12]