// OFFSET //
$offset: 20

/* Width */
.width-full
	 width: 100% !important

.center-block
	display: block
	margin-left: auto !important
	margin-right: auto !important

.center-block-ads
	display: inline-block !important
	margin: 0 auto !important

@for $i from 1 through $offset
	.width-#{5 * $i}
		width: 5% * $i !important
		+breakpoint(mobile)
			.xs-width-#{5 * $i}
				width: 5% * $i !important

.xs-width-auto
	+breakpoint(mobile)
		width: auto !important

.xs-width-full
	+breakpoint(mobile)
	 	width: 100% !important

.tb-float-none
	+breakpoint(tablet)
		float: none !important
.xs-float-none
	+breakpoint(mobile)
		float: none !important

.no-gap
	 margin-right: 0
	 margin-left: 0
	 > [class|="col"]
		  padding-right: 0
		  padding-left: 0

.shortcutBorderTop
	border-top: 1px solid #ddd
.shortcutBorderBottom
	border-bottom: 1px solid #ddd
.shortcutBorderBottomCustom
	position: relative
	@extend %line-custom-bottom

/* Margin */
.no-margin
	margin: 0 !important

@for $i from 1 through $offset
	.margin-min-#{5 * $i}
		margin: -#{5px * $i} !important

	@each $value in $position
		.margin-min-#{$value}-#{5 * $i}
			margin-#{$value}: -#{5px * $i} !important

@for $i from 1 through $offset
	.margin-#{5 * $i}
		margin: 5px * $i !important

	@each $value in $position
		+breakpoint(tablet)
			.margin-tb-#{$value}-#{5 * $i}
				margin-#{$value}: 5px * $i !important
		+breakpoint(mobile)
			.margin-mm-#{$value}-#{5 * $i}
				margin-#{$value}: 5px * $i !important
		.margin-#{$value}-#{5 * $i}
			margin-#{$value}: 5px * $i !important

/* Padding */
.no-padding
	padding: 0 !important
.no-padding-left
	padding-left: 0 !important
.no-padding-right
	padding-right: 0 !important
.no-padding-top
	padding-top: 0 !important
.no-padding-bottom
	padding-bottom: 0 !important
.xs-no-padding-right
	+breakpoint(mobile)
		padding-right: 0
.xs-no-padding-left
	+breakpoint(mobile)
		padding-left: 0
.tb-no-padding-right
	+breakpoint(tablet)
		padding-right: 0
.tb-no-padding-left
	+breakpoint(tablet)
		padding-left: 0

.no-margin-top
	margin-top: 0 !important
.xs-no-margin
	+breakpoint(small-mobile)
		margin: 0 !important
.xs-no-margin-top
	+breakpoint(small-mobile)
		margin-top: 0 !important
.m-no-margin
	+breakpoint(mobile)
		margin: 0 !important
.m-no-margin-top
	+breakpoint(mobile)
		margin-top: 0 !important

.no-margin-bottom
	margin-bottom: 0 !important
.xs-no-margin
	+breakpoint(small-mobile)
		margin: 0 !important
.xs-no-margin-bottom
	+breakpoint(small-mobile)
		margin-bottom: 0 !important
.m-no-margin
	+breakpoint(mobile)
		margin: 0 !important
.m-no-margin-bottom
	+breakpoint(mobile)
		margin-bottom: 0 !important

/* MatchHeight */
.row
	&.is-table-row-top
		+breakpoint(wide)
			display: table
			[class*="col-"]
				float: none
				display: table-cell
				vertical-align: top
	&.is-table-row-middle
		+breakpoint(wide)
			display: table
			[class*="col-"]
				float: none
				display: table-cell
				vertical-align: middle

@for $i from 1 through $offset
	.padding-#{5 * $i}
		padding: 5px * $i !important

	@each $value in $position
		+breakpoint(tablet)
			.padding-tb-#{$value}-#{5 * $i}
				padding-#{$value}: 5px * $i !important
		+breakpoint(mobile)
			.padding-mm-#{$value}-#{5 * $i}
				padding-#{$value}: 5px * $i !important
		.padding-#{$value}-#{5 * $i}
			padding-#{$value}: 5px * $i !important

.posRelative
	position: relative
