footer 
	background-color: $bg-footer
	.flex-footer 
		display: flex
		justify-content: space-between
		padding: 20px 0
		@include breakpoint(mobile) 
			flex-direction: column
		.footer-left 
			flex: 6
			a 
				display: inline-block
				vertical-align: middle
				margin-bottom: 20px
				img 
					display: block
					width: 270px
			ul   
				li 
					margin-right: 10px
					display: inline-block
					a 
						font-family: 'Hind'
						margin-bottom: 0
						font-weight: 500
						font-size: 12px
						text-transform: uppercase
						color: #555
				+breakpoint(mobile)
					margin-bottom: 25px
					li
						display: block
						a
							padding: 7px 0
		.footer-right 
			flex: 6
			display: flex
			align-items: flex-end
			div 
				font-family: 'Hind'
				display: inline-block
				margin-right: 5px
				font-size: 14px
				color: #555
			div.legal
				a 
					padding: 0
					display: inline-block
					font-family: 'Roboto'
					font-size: 14px
					color: $blue	
					&:nth-of-type(1)
						padding-right: 7px
						margin-right: 7px
						border-right: 1px solid #777
			+breakpoint(mobile)
				align-items: center
				flex-direction: column
				div
					margin-bottom: 10px
					display: block
					line-height: 1.3
					text-align: center
					span
						display: block
				div.legal
					text-align: center
					a
						white-space: nowrap
			
		
	
