.headlines,
.headlines2
	.headlinesWrapper
		position: relative
		padding-bottom: 30px
		+breakpoint(mobile)
			padding-bottom: 10px
	
.headlines
	.headlinesWrapper
		@extend %line-custom-bottom
	article
		+breakpoint(tablet)
			margin-bottom: 20px
		p
			+breakpoint(mobile)
				margin-bottom: 20px
	a.hl-pict
		display: inline-block
		width: 100%
		overflow: hidden
		img
			display: block
			width: 100%
		+breakpoint(mobile)
			margin-bottom: 20px
.headlines2
	.headlinesWrapper
		@extend %thin-line-custom-bottom
	h3
		margin-bottom: 18px
		a
			font-family: "Gotham Narrow A", "Gotham Narrow B", robotoRegular
			font-size: 1.3rem
			font-weight: 400
			line-height: 1.4
			color: $black
	h4
		margin-bottom: 8px