header
	position: fixed
	top: 0
	left: 0
	width: 100%
	max-height: 113px
	transition: top .4s ease
	z-index: 7
	&.scrollingUp
		// top: -67px
		top: -112px
	// +breakpoint(mobile)clear

	// 	&.scrollingUp
	// 		top: -73px
	.main-head
		position: relative
		padding: 12px 0
		background: $blue
		color: white
		// +box-shadow(0, 2px, 10px, rgba(0,0,0,.25))
		+clearit
		z-index: 3
		+breakpoint(mobile)
			border-bottom: 5px solid $blue-light
		.left-main-head,
		.center-main-head,
		.right-main-head
			// padding: 10px 0
			padding: 6px 0
		.left-main-head
			position: absolute
			top: 50%
			transform: translateY(-50%)
			a
				font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
				font-weight: 500
				text-decoration: none
				text-transform: uppercase
				font-size: .85em
				color: white
		.center-main-head
			// position: absolute !important
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			a
				&.logo-brand
					display: inline-block
					margin-bottom: 0
					width: 249px
					height: auto
					+breakpoint(mobile)
						width: 166px
						height: auto
					img
						width: 100%
		.right-main-head
			float: right
			a.btn
				font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
				font-weight: 500
				text-transform: uppercase
				font-size: .85em
				color: white
			a
				&.mm-sign-in
					background: url('../images/icons/icon-signin.svg') no-repeat
					text-align: center
					width: 24px
					height: 24px
	.layerSearch
		position: fixed
		top: -100px
		padding: 10px 10px
		width: 100%
		opacity: 0
		text-align: center
		transition: all .3s ease-in-out
		background-color: $blue-light
		z-index: 2
		.lineInput
			display: none
		&.openSearch
			opacity: 1
			top: 65px
			.lineInput
				display: block
	.mnu-horz
		background-color: $blue-light
		+breakpoint(mobile)
			display: none
		ul
			li
				padding: 0 14px 0 0
				display: inline-block
				a
					padding: 15px 0
					font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
					font-weight: 400
					font-size: 15px
					color: #fff
					display: block
				&:nth-child(1)
					a
						padding-left: 0
				&:last-child
					a
						padding-right: 0
header#header-alt-1
	opacity: 1
	position: absolute
	transition: all .5s ease-in-out
	.main-head
		background-color: transparent
		border-bottom: none
		z-index: 2
		&:before
			position: absolute
			content: ''
			display: block
			top: 0
			width: 100%
			height: 150px
			background: rgba(0,0,0,0.9)
			background: -moz-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%)
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.9)), color-stop(100%, rgba(0,0,0,0)))
			background: -webkit-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%)
			background: -o-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%)
			background: -ms-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%)
			background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 )
			+breakpoint(mobile)
				height: 90px
		.right-main-head
			position: relative
			a.btn
				position: relative
				background-color: transparent
				border: none
	.layerSearch
		background-color: transparent
		opacity: 0
		top: 0
		transform: scaleX(0)
		transform-origin: center
		transition: all .3s ease-in-out
		.lineInput
			width: 960px
			+breakpoint(mobile)
				width: 100%
		&.openSearch
			opacity: 1
			transform: scaleX(1)
			top: 64px
	&.hilang
		opacity: 0
		top: -200px
	.mnu-horz
		display: none

header#header-alt-2 ~ main
	padding-top: 57px
	+breakpoint(mobile)
		padding-top: 50px
header#header-alt-2
	.main-head
		padding: 10px 0
		border-bottom: 6px solid $blue-light
		// +box-shadow(0, 1px, 10px, rgba(0,0,0,.25))
		.left-main-head,
		.center-main-head,
		.right-main-head
			// padding: 10px 0
			padding: 0
		.center-main-head
			a
				&.logo-brand
					width: 190px
					+breakpoint(mobile)
						width: 166px
						height: auto
	.layerSearch
		&.openSearch
			top: 50px