ul.opiniTerpopuler
   li
      +clearit
      a.figure
         float: left
         width: 70px
         height: 70px
         border-radius: 50%
         overflow: hidden
         margin-right: 15px
         margin-bottom: 35px
         img
            width: 100%
      a
         display: block
         margin-bottom: 5px
         font-family: "Gotham Narrow A", "Gotham Narrow B", robotoRegular
         font-size: 18px
         line-height: 1.4
         color: $black
      p
         font-size: 14px