.otherKatalog
	position: relative
	.otherKat
		position: relative
		padding: 25px 0
		@extend %thin-line-custom-top
		div[class*="col-"]
			+breakpoint(mobile)
				margin-bottom: 30px
				&:last-child
					margin-bottom: 0
		a:not(.linkIndex):not(.brand-microsite)
			font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
			font-size: 17px
			font-weight: 500
			line-height: 1.4
			color: $black
		a.brand-microsite
			display: inline-block
			vertical-align: middle
			width: 155px
			+breakpoint(small-mobile)
				width: 130px
		img
			margin-bottom: 10px
			width: 100%
	.pertukaran-konten
		padding-top: 69px
		+breakpoint(mobile)
			padding-top: 0
	&.abu
		background-color: #eaeaea
		.linkIndex
			&.no-left-border
				+breakpoint(mobile)
					position: absolute
					top: 20px
					right: 0