.otherKatalog
	position: relative
	.otherKat
		position: relative
		padding: 25px 0
		@extend %thin-line-custom-top
		div[class*="col-"]
			+breakpoint(mobile)
				margin-bottom: 30px
				&:last-child
					margin-bottom: 0
		a:not(.linkIndex):not(.brand-microsite)
			font-family: gothamNarr_book
			font-size: 17px
			line-height: 1.4
			color: $black
		a.brand-microsite
			display: inline-block
			vertical-align: middle
			width: 155px
		img
			margin-bottom: 10px
			width: 100%
	&.abu
		background-color: #f2f2f2
		.linkIndex
			&.no-left-border
				+breakpoint(mobile)
					position: absolute
					top: 20px
					right: 0