.databoks-dataset
	.detail-dataset
		position: relative
		padding-bottom: 20px
		border-bottom: 1px solid #ddd
		+clearit
		.boxDetail
			float: left
			width: 60%
			margin-right: 20px
			+breakpoint(mobile)
				width: auto
				margin-right: 0
			p
				strong
					font-family: "Gotham Narrow A", "Gotham Narrow B", robotoMedium
					font-weight: 500
					color: #333
		a.btn
			width: 30%
			margin-bottom: 8px
			+breakpoint(mobile)
				margin-top: 20px
				width: 100%
		span
			font-family: "Gotham Narrow A", "Gotham Narrow B", robotoLight
			font-weight: 300
			display: inline-block
			width: 30%
			text-align: center
			+breakpoint(mobile)
				width: 100%