.detail-artikel
	.wrapperDetailArtikel
		margin-bottom: 20px
		position: relative
		border-bottom: 1px solid #ddd
		h1
			font-size: 45px
			// width: 65%
			+breakpoint(mobile)
				width: auto
				font-size: 30px
		h3.taiching
			font-family: "Gotham Narrow A", "Gotham Narrow B", robotoLight
			font-size: 24px
			line-height: 1.4
			color: $black
		figure
			&.mainDetailPict
				position: relative
				padding-bottom: 10px
				margin-bottom: 15px
				@extend %thin-line-custom-bottom
				figcaption
					padding: 3px 5px
					font-family: "Gotham Narrow A", "Gotham Narrow B", robotoLight
					font-size: 14px
					font-weight: 300
					font-weight: 300
					line-height: 1.5
					strong
						font-family: "Gotham Narrow A", "Gotham Narrow B", robotoBold
						font-weight: 700
		.penulis-opini
			position: relative
			padding-bottom: 20px
			border-bottom: 1px solid #ddd
			+clearit
			> a
				display: inline-block
				vertical-align: middle
				margin-right: 15px
				width: 86px
				height: 86px
				border-radius: 50%
				overflow: hidden
				+breakpoint(mobile)
					float: left
				img
					width: 100%
					height: 100%
			article
				display: inline-block
				vertical-align: middle
				+breakpoint(mobile)
					width: calc(100% - 101px)
		.tweetLine
			margin-top: 30px
			position: relative
			padding: 15px 0
			border-top: 1px solid #ddd
			border-bottom: 1px solid #ddd
			&:before
				position: absolute
				top: -24px
				content: 'Tweet This'
				font-family: "Gotham Narrow A", "Gotham Narrow B", robotoMedium
				font-size: 16px
				font-weight: 500
			ul
				li
					position: relative
					width: 750px
					padding-left: 30px
					margin-bottom: 15px
					+breakpoint(mobile)
						width: 100%
					&:last-child
						margin-bottom: 0
					&:before
						position: absolute
						top: 2px
						left: 0
						content: '\f099'
						font-family: fontawesome
						font-size: 22px
						color: #03a9f4
					a
						font-family: "Gotham Narrow A", "Gotham Narrow B", robotoLight
						font-size: 15px
						font-weight: 300
						line-height: 1.5
						color: $black
		.detail-article-caption
			font-family: "Gotham Narrow A", "Gotham Narrow B", robotoMedium
			font-size: 20px
			font-weight: 500
		article.textArticle
			width: 655px
			margin: 0 0 0 auto
			+breakpoint(desktop)
				width: 720px
			+breakpoint(mobile)
				width: 100%
			div[class*="tinyimg"]
				margin-bottom: 20px
				> div:nth-child(2)
					padding: 2px 0
					line-height: 1.3
					font-size: 14px
				figure
					margin-bottom: 0
			p
				margin-bottom: 20px
				a
					font-family: "Gotham Narrow A", "Gotham Narrow B", robotoRegular
					font-weight: 400
			p
				strong
					display: block
					font-family: "Gotham Narrow A", "Gotham Narrow B", robotoMedium
					font-weight: 500
					margin-bottom: -10px

			.baca-juga
				padding: 10px 0
				margin-bottom: 20px
				border-top: 5px solid #002d49
				border-bottom: 1px solid #ddd
				h4
					margin-bottom: 10px
				ul
					li
						margin-left: 17px
						margin-bottom: 10px
						list-style: square
						a
							line-height: 1.4
							color: $black
			// .newsletter
				// &.inDetail
				// 	float: left
				// 	width: 48%
				// 	padding: 15px 0
				// 	margin-bottom: 4px
				// 	margin-right: 15px
				// 	border-top: 1px solid #ddd
				// 	border-bottom: 1px solid #ddd
				// 	background-color: transparent
				// 	strong
				// 		display: block
				// 		font-family: "Gotham Narrow A", "Gotham Narrow B", robotoBold
				// 		font-size: 20px
				//  		font-weight: 700
				// 		margin-bottom: 8px
				// 	p
				// 		font-size: 14px
				// 		margin-bottom: 20px
				// 		&.small
				// 			padding: 0 2px
				// 			font-size: 12px
				// 			margin-bottom: 12px
				// 	.customInput
				// 		display: block
				// 		margin: 0 0 7px
				// 		width: 100%
				// 	.recaptha-space
				// 		margin-bottom: 15px
				// 		+clearit
				// 		img
				// 			width: 100%
				// 	input[type="submit"]
				// 		float: none
				// 		width: 100%