.foto-detail
	.foto-slider-wrapper
		padding: 0 0 20px
		margin-bottom: 50px
		.arrowNavigation3
			width: 150px
			top: 17px
			left: 50%
			transform: translateX(-50%)
			.prevArrowNav3,
			.nextArrowNav3
				i
					font-size: 35px
			.prevArrowNav3
				left: 0
			.nextArrowNav3
				right: 0
		.counter-text
			padding: 20px 0
			margin: 0 auto
			display: block
			width: 80px
			color: white
			text-align: center
			span
				font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
				font-size: 25px
				font-weight: 500
		.foto-slider
			.item-slide
				figure
					margin-bottom: 0
					figcaption
						color: #fff
				p
					width: 75%
					color: white
					font-size: 15px
					+breakpoint(mobile)
						width: auto
			.slick-dots
				bottom: -70px
				+breakpoint(mobile)
					bottom: -62px
	ul.foto-list
		+breakpoint(wide)
			+flexOwnGrid(li, 2, 3%, 25)
		+breakpoint(tablet)
			+flexOwnGrid(li, 2, 3.2%, 25)
		+breakpoint(mobile)
			+flexOwnGrid(li, 1, 0, 25)
		~ a.btn
				margin-bottom: 10px
	.pengantar-foto
		position: relative
		+breakpoint(mobile)
			padding-bottom: 20px
			margin-bottom: 20px
			+borderDot
		h1
			margin-bottom: 10px
		p
			margin-bottom: 20px
			strong
				padding-bottom: 15px
				display: block
				font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
				font-size: 18px
				font-weight: 500
				border-bottom: 1px solid #ddd
			&.infoArtikel
				margin-bottom: 15px
				font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
				font-weight: 400
				span
					margin-left: 20px
	.share-it
		.btn-sosmed
			+breakpoint(mobile)
				text-align: left
				margin-bottom: 10px
		.topik-terkait
			padding: 15px 0
			background-color: transparent
			span
				font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
				font-weight: 400
				width: 50px
			ul
				float: right
				width: calc(100% - 50px)
				li
					a
						color: $tw
	&.alt2
		.pengantar-foto
			article
				overflow: hidden
		.fotoStory
			div
				margin-bottom: 50px
				figure
					margin-bottom: 5px
				p
					margin-left: auto
					margin-right: auto
					display: block
					width: 75%
					font-size: 16px
					+breakpoint(mobil)
						width: 100%
		ul.foto-list
			+breakpoint(wide)
				+flexOwnGrid(li, 4, 3%, 25)
			+breakpoint(tablet)
				+flexOwnGrid(li, 2, 3.2%, 25)
			+breakpoint(mobile)
				+flexOwnGrid(li, 1, 0, 25)