.foto-detail
	.foto-slider-wrapper
		padding: 25px 5px
	.pengantar-foto
		position: relative
		+breakpoint(mobile)
			padding-bottom: 20px
			margin-bottom: 20px
			+borderDot
		h1
			margin-bottom: 10px
		p
			margin-bottom: 30px
			&.infoArtikel
				margin-bottom: 15px
				color: white
				font-family: robotoRegular
				span
					margin-left: 20px
	.share-it
		.btn-sosmed
			+breakpoint(mobile)
				text-align: left
				margin-bottom: 10px
		.topik-terkait
			padding: 15px 0
			background-color: transparent
			span
				font-family: robotoRegular
				color: white
				width: 50px
			ul
				float: right
				width: calc(100% - 50px)
				li
					a
						color: $tw