.kategori-berita
	.content-kategori
		position: relative
		padding-bottom: 25px
		margin-bottom: 40px
		@extend %thin-line-custom-bottom
		.smallKategori
			li
				+ownGrid(2, 6%)
				+breakpoint(mobile)
					+ownGrid(1, 0)               
				h4
					margin-bottom: 10px
				p
					font-size: 17px