.kategori-berita
	.content-kategori
		position: relative
		padding-bottom: 25px
		margin-bottom: 30px
		@extend %thin-line-custom-bottom
		+breakpoint(mobile)
			padding-bottom: 0
			margin-bottom: 25px
		article
			+breakpoint(tablet)
				margin-bottom: 25px
			+breakpoint(mobile)
				margin-bottom: 25px
		.smallKategori
			+flexOwnGrid(li, 2, 3.8%, 25)
			+breakpoint(mobile)
				+flexOwnGrid(li, 1, 0, 25)
			li
				// +ownGrid(2, 4%)
				// +breakpoint(mobile)
				// 	+ownGrid(1, 0)
				// 	margin-bottom: 20px               
				h4
					margin-bottom: 10px
				p
					font-size: 17px
	.listing
		margin-bottom: 25px
		a.btn
			margin-bottom: 0
	.otherBanner
		padding-top: 0