.multimedia-home
	.foto-head
		margin-bottom: 20px
		position: relative
		figure
			margin-bottom: 0
			img
				display: block
	ul.foto-list
		+breakpoint(wide)
			+flexOwnGrid(li, 2, 3%, 25)
		+breakpoint(tablet)
			+flexOwnGrid(li, 2, 3.2%, 25)
		+breakpoint(mobile)
			+flexOwnGrid(li, 1, 0, 25)
	// a.btn
	// 	margin-bottom: 5px