section.main-header-hero
  .video-box-title
    h1 30 Tahun Terjerat Kemiskinan di Kedung Ombo
    strong Sebuah laporan khusus lorem ipsum
    p.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
  video(src="videos/video_ombo.mp4" class="hidden-xs" type="video/mp4" autoplay loop="true" muted playsinline preload="metadata" poster="videos/poster1.png")
    //- preload="metadata" poster="videos/teaser.jpg"
    //- source(src="videos/teaser-video.webm" type="video/webm")
    //- source(src="videos/teaser-video.mp4" type="video/mp4")
  figure
    img(src="videos/poster1.jpg", class="visible-xs" alt="alt")
  a(href="#" class="clickToRead")