extends base/databoks
include components/mixings

block content
	.whiteHead
		.container
			.head-and-caption
				//- h2 Databoks #[small / Dataset]
				+breadcrumb-custom(['Databoks','Dataset'])
				//- ul
				//-    li
				//-       a(href="./databoks-analisis-home.html") Analisis
				//-    li
				//-       a(href="./databoks-statistik-home.html") Statistik
				//-    li.pilih
				//-       a(href="./databoks-dataset-home.html") Dataset
	.container
		+formSearch('Dataset')
	section.databoks-dataset
		.container
			.row
				.col-md-9
					h3 Koleksi Dataset
					ul.boxDataset
						li
							article
								h4 DMO Minyak (BBLS) Sumber Data Perusahaan
								p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
								p #[strong Industri:] Energi
								p #[strong SubIndustri:] Eksplorasi dan Produksi
								p #[strong Periode:] 2011
								p #[strong Diperbarui:] 11 Mei 2017
							a(href="#" class="btn btn-orange") Unduh
						li
							article
								h4 DMO Minyak (BBLS) Sumber Data Perusahaan
								p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
								p #[strong Industri:] Energi
								p #[strong SubIndustri:] Eksplorasi dan Produksi
								p #[strong Periode:] 2011
								p #[strong Diperbarui:] 11 Mei 2017
							a(href="#" class="btn btn-orange") Unduh
						li
							article
								h4 DMO Minyak (BBLS) Sumber Data Perusahaan
								p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
								p #[strong Industri:] Energi
								p #[strong SubIndustri:] Eksplorasi dan Produksi
								p #[strong Periode:] 2011
								p #[strong Diperbarui:] 11 Mei 2017
							a(href="#" class="btn btn-orange") Unduh
						li
							article
								h4 DMO Minyak (BBLS) Sumber Data Perusahaan
								p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
								p #[strong Industri:] Energi
								p #[strong SubIndustri:] Eksplorasi dan Produksi
								p #[strong Periode:] 2011
								p #[strong Diperbarui:] 11 Mei 2017
							a(href="#" class="btn btn-orange") Unduh
						li
							article
								h4 DMO Minyak (BBLS) Sumber Data Perusahaan
								p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
								p #[strong Industri:] Energi
								p #[strong SubIndustri:] Eksplorasi dan Produksi
								p #[strong Periode:] 2011
								p #[strong Diperbarui:] 11 Mei 2017
							a(href="#" class="btn btn-orange") Unduh
						li
							article
								h4 DMO Minyak (BBLS) Sumber Data Perusahaan
								p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
								p #[strong Industri:] Energi
								p #[strong SubIndustri:] Eksplorasi dan Produksi
								p #[strong Periode:] 2011
								p #[strong Diperbarui:] 11 Mei 2017
							a(href="#" class="btn btn-orange") Unduh
						li
							article
								h4 DMO Minyak (BBLS) Sumber Data Perusahaan
								p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
								p #[strong Industri:] Energi
								p #[strong SubIndustri:] Eksplorasi dan Produksi
								p #[strong Periode:] 2011
								p #[strong Diperbarui:] 11 Mei 2017
							a(href="#" class="btn btn-orange") Unduh
						li
							article
								h4 DMO Minyak (BBLS) Sumber Data Perusahaan
								p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
								p #[strong Industri:] Energi
								p #[strong SubIndustri:] Eksplorasi dan Produksi
								p #[strong Periode:] 2011
								p #[strong Diperbarui:] 11 Mei 2017
							a(href="#" class="btn btn-orange") Unduh
						li
							article
								h4 DMO Minyak (BBLS) Sumber Data Perusahaan
								p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
								p #[strong Industri:] Energi
								p #[strong SubIndustri:] Eksplorasi dan Produksi
								p #[strong Periode:] 2011
								p #[strong Diperbarui:] 11 Mei 2017
							a(href="#" class="btn btn-orange") Unduh                  
					a(href="#" class="btn block-half") Dataset Lainnya
				.col-md-3
					.kaitan-list
						h3 Terbanyak Diunduh
						ul
							li
								figure
									img(src="images/thumb-img/thumb1.jpg", alt="")
								a(href="").
									DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
							li
								figure
									img(src="images/thumb-img/thumb3.jpg", alt="")
								a(href="").
									DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
							li
								figure
									img(src="images/thumb-img/thumb2.jpg", alt="")
								a(href="").
									DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
							li
								figure
									img(src="images/thumb-img/thumb2.jpg", alt="")
								a(href="").
									DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
							li
								figure
									img(src="images/thumb-img/thumb2.jpg", alt="")
								a(href="").
									DMO Minyak (BBLS) Sumber Data Perusahaan Minerba