extends base/databoks
include components/mixings

block content
	.second-head.databoks
		.container
			.second-head-left.pull-left
				+breadcrumb(["Home", "Analisis","Nasional"])
			.second-head-right
				ul.btn-sosmed.margin-min-top-10.hidden-xs
					li
						a(href="#" class="facebook" title="Facebook")
							i(class="fa fa-facebook" aria-hidden="true")
							span Share
					li
						a(href="#" class="twitter" title="Twitter")
							i(class="fa fa-twitter" aria-hidden="true")
							span Tweet
					li
						a(href="#" class="linkedin" title="Linkedin")
							i(class="fa fa-linkedin" aria-hidden="true")
							span Linkedin
					li
						a(href="#" class="g-plus" title="Google Plus")
							i(class="fa fa-google-plus" aria-hidden="true")
							span Email
					li
						a(href="#" class="link-chain" title="Copy Link")
							i(class="fa fa-link" aria-hidden="true")
							span Copy URl
	section.databoks-analisis-details
		.container
			.row
				.col-md-9.clearfix
					h2 Di Mana Kantong Suara Ganjar Pranowo?
					.analisis-detail-info-article
						.left-caption
							p.writer-name Tita Adelia
							p 5 Januari 2018
						.right-caption
							p Merujuk pada hasil pilkada tingkat provinsi dan kabupaten/kota tahun 2013, 2015, dan 2017, PDIP mencengkram kuat 15 kabupaten/kota di Jawa Tengah.
							.text-center.visible-xs
								ul.btn-sosmed.margin-top-15
									li
										a(href="#" class="facebook" title="Facebook")
											i(class="fa fa-facebook" aria-hidden="true")
											span Share
									li
										a(href="#" class="twitter" title="Twitter")
											i(class="fa fa-twitter" aria-hidden="true")
											span Tweet
									li
										a(href="#" class="linkedin" title="Linkedin")
											i(class="fa fa-linkedin" aria-hidden="true")
											span Linkedin
									li
										a(href="#" class="g-plus" title="Google Plus")
											i(class="fa fa-google-plus" aria-hidden="true")
											span Email
									li
										a(href="#" class="link-chain" title="Copy Link")
											i(class="fa fa-link" aria-hidden="true")
											span Copy URl
					.analisi-detail-content-article
						p.
							Pemilihan Gubernur Jawa Tengah 2018 akan menjadi ujian bagi soliditas Partai Demokrasi Indonesia Perjuangan (PDIP) di provinsi yang selama ini dikenal sebagai kandang banteng. Dalam dua pilgub langsung sebelumnya, calon yang diajukan oleh partai moncong putih itu memang selalu keluar sebagai pemenang. Namun, persentase suara yang diperoleh tak sampai dari separuh pemilih, 43 persen (2008) dan 48 persen (2013). Dua pilgub tersebut memang diikuti oleh lebih dari dua pasangan calon.
						p.
							Kali ini, hanya dua calon pasangan yang akan berebut kursi gubernur dan wakilnya. Artinya, untuk tampil sebagai pemenang harus merebut lebih dari separuh suara pemilih. Menilik kursi anggota DPRD, calon petahana, Ganjar Pranowo dan pasangannya Taj Yasin, didukung oleh PDIP, PPP, Demokrat, NasDem, dan Golkar dengan 58 kursi. Sedangkan duet mantan Menteri ESDM Sudirman Said-Ida Fauzia didukung oleh Gerindra, PKS, PAN,
						figure
							img(src="images/analisis/pict-map1.jpg", alt="")
						p.
							Dari hasil pilgub tersebut, kantong suara Ganjar tersebar di 23 Kabupaten dan enam Kota. Namun, di empat kabupaten di antaranya, Ganjar hanya menang dengan selisih kurang dari lima persen. Bila mesin partai tidak bekerja maksimal, bukan tidak mungkin daerah tersebut akan direbut kubu lawan.  Apalagi, hasil pemilihan bupati dan walikota 2013-2017 tak menggambarkan dominasi PDIP. Dari 34 pemilihan Bupati dan Walikota, PDIP hanya sukses di separuh daerah. Bahkan PDIP tak memiliki calon di Demak.
						figure
							img(src="images/analisis/pict-map1.jpg", alt="")
						p.
							Kantong suara Ganjar yang paling potensial berkumpul di kawasan tengah. Daerah tersebut terdiri dari Kota dan Kabupaten Semarang, Magelang, Kabupaten Temanggung, Boyolali, Klaten, Sukoharjo, Wonogiri, dan Kota Surakarta (Solo). Sementara itu, daerah yang berpotensi menjadi basis dukungan Sudirman Said berada di sepanjang jalur pantai utara, terdiri dari Kabupaten Batang, Kendal, Demak, Blora, serta Cilacap di Selatan.
						p.
							Berdasarkan data di atas, boleh dikatakan bahwa Ganjar memiliki modal besar untuk menang. Jumlah Daftar Pemilih Tetap (DPT) yang berada di kota dan kabupaten berwarna merah meliputi 43 persen dari seluruh DPT Jawa Tengah. Sementara itu, jumlah DPT daerah yang berwarna biru hanya 16 persen. Adapun bagi Sudirman Said harus bekerja ekstra keras merebut suara di kantong-kantong yang selama lima tahun terakhir terbukti merupakan basis PDIP untuk meraih kemenangan.
						
				.col-md-3.margin-top-20
					.kaitan-list.margin-bottom-25
						h3 Analisis Terpopuler
						ul
							li
								figure
									img(src="images/thumb-img/thumb105x77.png", alt="")
								a(href="").
									Membidik Potensi Pengembangan Bisnis Fintech di Indonesia
							li
								figure
									img(src="images/thumb-img/thumb105x77.png", alt="")
								a(href="").
									Membidik Potensi Pengembangan Bisnis Fintech di Indonesia
							li
								figure
									img(src="images/thumb-img/thumb105x77.png", alt="")
								a(href="").
									Membidik Potensi Pengembangan Bisnis Fintech di Indonesia
							li
								figure
									img(src="images/thumb-img/thumb105x77.png", alt="")
								a(href="").
									Membidik Potensi Pengembangan Bisnis Fintech di Indonesia
							li
								figure
									img(src="images/thumb-img/thumb105x77.png", alt="")
								a(href="").
									Membidik Potensi Pengembangan Bisnis Fintech di Indonesia
			.row
				.col-md-9
					.analisis-info-writer
						figure
							img(src="images/avatar/woman-thumb.png", alt="")
						article
							p.
								#[strong Tita Adelia] mengisi posisi periset dalam Divisi Riset dan Data Katadata. Menempuh pendidikan magister pada jurusan komunikasi politik di University of Glasgow.
							p.
								Visualisasi data ini dibantu oleh #[strong Nazmi Haddyat Tamara], Data Analyst Katadata. 
			.row
				.col-md-12
					h3 Analisis Lainnya
					ul.boxAnalisis
						li
							figure
								img(src="images/analisis/db-head-analisis2.jpg", alt="")
							article
								p Membidik Potensi Pengembangan Bisnis Fintech di Indonesia
								p.infoArtikel Oleh #[strong Nazmi Haddyat Tamara]
						li
							figure
								img(src="images/analisis/db-head-analisis1.jpg", alt="")
							article
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam esse vitae nemo fugiat pariatur temporibus?
								p.infoArtikel Oleh #[strong Agus Dwi Darmawan]
						li
							figure
								img(src="images/analisis/db-head-analisis2.jpg", alt="")
							article
								p Membidik Potensi Pengembangan Bisnis Fintech di Indonesia
								p.infoArtikel Oleh #[strong Nazmi Haddyat Tamara]
						li
							figure
								img(src="images/analisis/db-head-analisis1.jpg", alt="")
							article
								p Indonesia dalam Satu Dekade Deindustrialisasi
								p.infoArtikel Oleh #[strong Agus Dwi Darmawan]
						li
							figure
								img(src="images/analisis/db-head-analisis2.jpg", alt="")
							article
								p Membidik Potensi Pengembangan Bisnis Fintech di Indonesia
								p.infoArtikel Oleh #[strong Nazmi Haddyat Tamara]
						li
							figure
								img(src="images/analisis/db-head-analisis1.jpg", alt="")
							article
								p Indonesia dalam Satu Dekade Deindustrialisasi
								p.infoArtikel Oleh #[strong Nazmi Haddyat Tamara]
						li
							figure
								img(src="images/analisis/db-head-analisis2.jpg", alt="")
							article
								p Membidik Potensi Pengembangan Bisnis Fintech di Indonesia
								p.infoArtikel Oleh #[strong Nazmi Haddyat Tamara]
						li
							figure
								img(src="images/analisis/db-head-analisis1.jpg", alt="")
							article
								p Indonesia dalam Satu Dekade Deindustrialisasi
								p.infoArtikel Oleh #[strong Nazmi Haddyat Tamara]
					a(href="#" class="btn block-half switch-50 xs-switch-75") Muat Lebih Banyak
			