extends base/home
include components/mixings

block content
	.blueHead
		.container
			.head-and-caption
				h2 Databoks
				ul
					li.pilih
						a(href="./databoks-analisis-home.html") Analisis
					li
						a(href="#") Statistik
					li
						a(href="./databoks-dataset-home.html") Dataset
	.container
		section.formSearch
			form
				.row
					.col-md-4.col-sm-6
						.form-group
							input(type="text" class="form-control" placeholder="Kata kunci")
					.col-md-2.col-sm-6
						.form-group
							select(class="form-control")
								option Topik Satu
								option Topik Dua
								option Topik Tiga
								option(selected="selected") Pilih Topik..
					.col-md-2.col-sm-6
						.form-group
							select(class="form-control")
								option Topik Satu
								option Topik Dua
								option Topik Tiga
								option(selected="selected") Pilih Subtopik..
					.col-md-2.col-sm-6
						.form-group
							input(type="text" class="form-control" id="datetimepicker1" placeholder="Short by Date")
					.col-md-2.col-sm-12
						input(type="submit" class="btn btn-block btn-orange" value="Cari Analisis")
	section.databoks-analisis
		.container
			h3 Analisis Terkini
			.row.headListAnalisis
				.col-md-4
					div.itemListAnalisis
						h4 #[a(href="#") Indonesia dalam Satu Dekade Deindustrialisasi]
						figure
							img(src="images/analisis/db-head-analisis1.jpg", alt="")
						p.
							Sekitar 20 tahun lalu, sektor manufaktur Indonesia dipuji Bank Dunia karena menjanjikan ekonomi berkualitas. Sekarang, kondisinya sedang meredup. Sektor ini dalam 10 tahun terakhir tumbuh lambat.
						p.infoArtikel Oleh #[strong Agus Dwi Darmawan], 6 Januari 2018
				.col-md-4
					div.itemListAnalisis
						h4 #[a(href="#") Membidik Potensi Pengembangan Bisnis Fintech di Indonesia]
						figure
							img(src="images/analisis/db-head-analisis2.jpg", alt="")
						p.
							Sekitar 20 tahun lalu, sektor manufaktur Indonesia dipuji Bank Dunia karena menjanjikan ekonomi berkualitas. Sekarang, kondisinya sedang meredup. Sektor ini dalam 10 tahun terakhir tumbuh lambat.
						p.infoArtikel Oleh #[strong Agus Dwi Darmawan], 6 Januari 2018
				.col-md-4
					div.itemListAnalisis
						h4 #[a(href="#") Membidik Potensi Pengembangan Bisnis Fintech di Indonesia]
						figure
							img(src="images/analisis/db-head-analisis1.jpg", alt="")
						p.
							Sekitar 20 tahun lalu, sektor manufaktur Indonesia dipuji Bank Dunia karena menjanjikan ekonomi berkualitas. Sekarang, kondisinya sedang meredup. Sektor ini dalam 10 tahun terakhir tumbuh lambat.
						p.infoArtikel Oleh #[strong Agus Dwi Darmawan], 6 Januari 2018
			
			.row
				.col-md-9
					h3 Baca Juga
					ul.boxAnalisis
						li.matchingHeight
							figure
								img(src="images/analisis/db-head-analisis1.jpg", alt="")
							article
								p Membidik Potensi Pengembangan Bisnis Fintech di Indonesia
								p.infoArtikel Oleh #[strong Nazmi Haddyat Tamara]
						li.matchingHeight
							figure
								img(src="images/analisis/db-head-analisis1.jpg", alt="")
							article
								p Indonesia dalam Satu Dekade Deindustrialisasi
								p.infoArtikel Oleh #[strong Agus Dwi Darmawan]
						li.matchingHeight
							figure
								img(src="images/analisis/db-head-analisis1.jpg", alt="")
							article
								p Membidik Potensi Pengembangan Bisnis Fintech di Indonesia
								p.infoArtikel Oleh #[strong Nazmi Haddyat Tamara]
						li.matchingHeight
							figure
								img(src="images/analisis/db-head-analisis1.jpg", alt="")
							article
								p Indonesia dalam Satu Dekade Deindustrialisasi
								p.infoArtikel Oleh #[strong Agus Dwi Darmawan]
						li.matchingHeight
							figure
								img(src="images/analisis/db-head-analisis1.jpg", alt="")
							article
								p Membidik Potensi Pengembangan Bisnis Fintech di Indonesia
								p.infoArtikel Oleh #[strong Nazmi Haddyat Tamara]
						li.matchingHeight
							figure
								img(src="images/analisis/db-head-analisis1.jpg", alt="")
							article
								p Indonesia dalam Satu Dekade Deindustrialisasi
								p.infoArtikel Oleh #[strong Nazmi Haddyat Tamara]
					a(href="#" class="btn") Analisis Lainnya
				.col-md-3
					.kaitan-list
						h3 Analisis Terpopuler
						ul
							li
								figure
									img(src="images/thumb-img/thumb1.jpg", alt="")
								a(href="").
									Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
							li
								figure
									img(src="images/thumb-img/thumb3.jpg", alt="")
								a(href="").
									Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
							li
								figure
									img(src="images/thumb-img/thumb2.jpg", alt="")
								a(href="").
									Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
			