extends base/home
include components/mixings

block content
	.whiteHead
		.container
			.head-and-caption
				h2 Databoks #[small / Statistik]
	.container
		+formSearch2('Statistik')
	section.databoks-statistik
		.container
			.row
				.col-md-9.listing
					h3 Statistik Topik Demografi
					ul
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
					a(href="#" class="btn block-half") Statistik Lainnya
				.col-md-3
					article.shortcutBorderBottom.margin-bottom-20
						p.margin-bottom-20.
							Statistik yang ditampilkan dalam halaman ini meliputi berbagai jenis data tentang kependudukan, misalnya ukuran, struktur, fertilitas, migrasi, dan berbagai data lain terkait dengan sebaran penduduk.
						a(href="#" class="btn btn-block margin-bottom-25") Selengkapnya
					.kaitan-list
						h3 Statistik Terpopuler
						ul
							li
								figure
									img(src="images/databoks/stat-thumb.png", alt="")
								a(href="").
									Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
							li
								figure
									img(src="images/databoks/stat-thumb.png", alt="")
								a(href="").
									Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
							li
								figure
									img(src="images/databoks/stat-thumb.png", alt="")
								a(href="").
									Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
			.shortcutBorderTop.margin-top-25.padding-top-35
			.row
				.col-md-12
					h3 Pilihan Topik
					include includes/link-topik