extends base/home
include components/mixings

block content
	.blueHead
		.container
			.head-and-caption
				h2 Databoks #[small / Statistik]
	.container
		+formSearch2('Statistik')
	section.databoks-statistik
		.container
			.row
				.col-md-9.big-chart
					h3 Statistik Terkini
					p.small 1 Jan 2018
					p.latestStatistik Peringkat Membaik, Risiko Investasi Indonesia Terus Turun
					figure
						img(src="images/databoks/statistik.jpg", alt="")
					ul.btn-sosmed.margin-bottom-15.pull-right.xs-float-none
						li
							a(href="#")
								i(class="fa fa-facebook" aria-hidden="true")
								span Share
						li
							a(href="#")
								i(class="fa fa-twitter" aria-hidden="true")
								span Tweet
						li
							a(href="#") 
								i(class="fa fa-linkedin" aria-hidden="true")
								span Linkedin
						li
							a(href="#")
								i(class="fa fa-paper-plane-o" aria-hidden="true")
								span Email
						li
							a(href="#")
								i(class="fa fa-link" aria-hidden="true")
								span Copy URl
					.clearfix
					p.
						Membaiknya peringkat utang pemerintah dalam mata uang asing membuat persepsi risiko investasi di Indonesia semakin menurun. Ini tercermin dari turunnya Credit Default Swap (CDS) surat utang Indonesia untuk tenor lima tahun hingga di bawah level 100 sejak akhir November 2017. Alhasil, imbal hasil surat utang Indonesia kini juga turun di kisaran 6 persen.
				.col-md-3.stat-desc
					p.
						Dari ekonomi sampai teknologi, kami menyajikan statistik-statistik penting dan populer yang telah melalui proses analisis dan verifikasi data. Statistik yang kami kumpulkan ini telah dikelompokkan sesuai kategori yang mewakilinya, guna mempermudah pencarian Anda. Kami mengumpulkan dan memperbarui semua statistik secara berkala sehingga Anda tidak ketinggalan perkembangan terkini data dari tiap kategori tersebut.
					p.text-note.
						Seluruh data yang disajikan di Databoks boleh Anda gunakan secara cuma-cuma.
			.row
				.col-md-12
					.shortcutBorderBottomCustom.margin-bottom-30
			.row
				.col-md-9.listing.margin-mm-top-20
					ul
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
					a(href="#" class="btn block-half") Statistik Lainnya
				.col-md-3
					.kaitan-list.margin-mm-top-20
						h3 Statistik Terpopuler
						ul
							li
								figure
									img(src="images/thumb-img/thumb1.jpg", alt="")
								a(href="").
									Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
							li
								figure
									img(src="images/thumb-img/thumb3.jpg", alt="")
								a(href="").
									Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
							li
								figure
									img(src="images/thumb-img/thumb2.jpg", alt="")
								a(href="").
									Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
			.shortcutBorderTop.margin-top-25.padding-top-35
			.row
				.col-md-12
					h3 Pilihan Topik
					include includes/link-topik