extends base/databoks
include components/mixings

block content
	.second-head.databoks
		.container
			.second-head-left.pull-left
				+breadcrumb(["Home", "Databoks", "Statistik", "Demografi"])
			.second-head-right
				ul.btn-sosmed.hidden-xs
					li
						a(href="#" class="facebook" title="Facebook")
							i(class="fa fa-facebook" aria-hidden="true")
							span Share
					li
						a(href="#" class="twitter" title="Twitter")
							i(class="fa fa-twitter" aria-hidden="true")
							span Tweet
					li
						a(href="#" class="linkedin" title="Linkedin")
							i(class="fa fa-linkedin" aria-hidden="true")
							span Linkedin
					li
						a(href="#" class="g-plus" title="Google Plus")
							i(class="fa fa-google-plus" aria-hidden="true")
							span Email
					li
						a(href="#" class="link-chain" title="Copy Link")
							i(class="fa fa-link" aria-hidden="true")
							span Copy URl
	section.databoks-statistik-detail
		.container
			.head-and-caption
				a(href="#" class="addLabel")
					span Di persembahkan oleh:
					img(src="images/label_kd6.png")
				.row
					.col-md-9
						h2.margin-mm-right-10 Berapa Jumlah Penduduk Jakarta?
						article
							p 1 Jan 2018
							p.strong.
								Selama dua tahun terakhir, jumlah penduduk di Ibu Kota bertambah 269 jiwa setiap hari atau 11 orang per jam.
				.shortcutBorderBottom.margin-top-15.margin-bottom-15
				.row
					.col-md-9
						.detailTaiching
							p Berdasarkan data Badan Pusat Statisik, jumlah penduduk DKI Jakarta pada 2015 mencapai 10,18 juta jiwa. Kemudian meningkat menjadi 10,28 juta jiwa pada 2016, dan bertambah menjadi 10,37 juta jiwa pada 2017. Artinya, selama dua tahun terkahir jumlah penduduk di Ibu Kota bertambah 269 jiwa setiap hari atau 11 orang per jam.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, laboriosam?
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ullam suscipit voluptatem? Dolores odio, iste culpa laboriosam reprehenderit porro optio voluptate. Porro consequuntur impedit mollitia voluptates aperiam, eveniet amet magni!
							a(href="#" class="btn block-half margin-top-25 margin-bottom-20") Read more
			.row
				.col-md-9
					p.margin-bottom-15 #[strong Jumlah Penduduk DKI Jakarta (1961-2017)]
					figure
						img(src="images/databoks/chart-statistik.jpg", alt="")
					.tagLink
						strong.
							Tags
						ul
							li
								a(href="#") Go-Pay
							li
								a(href="#") Go-Jek
							li
								a(href="#") Go-Pay
							li
								a(href="#") Go-Jek
				.col-md-3
					#embedChart.embedChart-wrapper
						.embedChart-section
							ul.embedChart-widget.embedChart-widget-content-tabs-id
								li.embedChart-tab
									a(href="#embedChart-id1") Unduh
								li.embedChart-tab
									a(href="#embedChart-id2") Opsi Lain
							div(class="embedChart-widget-content embedChart-widget-content-widget-id" id="embedChart-id1")
								.format-file
									ul
										li
											a
												img(src="images/icons/pdf-icon.png", alt="")
												|  Pdf
										li
											a
												img(src="images/icons/png-icon.png", alt="")
												|  Png
										li
											a
												img(src="images/icons/xls-icon.png", alt="")
												|  Xls
							div(class="embedChart-widget-content embedChart-widget-content-widget-id" id="embedChart-id2")
								.format-file
									ul
										li
											a
												img(src="images/icons/gmail.png", alt="")
												|  Email Alert
										li
											a
												img(src="images/icons/folder.png", alt="")
												|  Add Collection
										li
											a
												img(src="images/icons/printer.png", alt="")
												|  Print
					
					ul.embed-details
						li
							strong Sumber
							p Lembaga: Badan Pusat Statistik (BPS) 
							p Survey: -
						li
							strong Rilis
							p Badan Pusat Statistik (BPS), 2017
						li
							strong Informasi lain
							p Daerah: DKI Jakarta 
							p Survei Waktu Penerbit: 2016
						li
							strong Embed Chart
							article.embed-scripts
								ul.tab-captions
									li
										a(href="txtArea-1" class="tab-current") ID
									li
										a(href="txtArea-2") EN
									li
										a(href="txtArea-3") Thumbnails
								form.tab-contents
									span#txtArea-1.visible
										textarea(class="form-control" rows="4" placeholder="<div class='embed-responsive embed-responsive-16by9' style='height:550px;' ><iframe class='embed-responsive-item' width ='930' height='550' src='https://databoks.katadata.co.id/datapublishembed/109198/tahukah-anda-obyek-wisata-favorit-di-jakarta'>")
									span#txtArea-2
										textarea(class="form-control" rows="4" placeholder="<div class='embed-responsive embed-responsive-16by9' style='height:550px;' ><iframe class='embed-responsive-item' width ='930' height='550' src='https://databoks.katadata.co.id/datapublishembed/109198/tahukah-anda-obyek-wisata-favorit-di-jakarta'>")
									span#txtArea-3
										p lorem ipsum dolor sit amet
			.shortcutBorderBottom.margin-bottom-20
			.row
				.col-md-9.listing
					h3 Baca Juga
					ul
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#").
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#").
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#").
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#").
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#").
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#").
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#").
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/databoks/statistik.jpg", alt="")
					a(href="#" class="btn block-half") Statistik Lainnya
				.col-md-3
					.kaitan-list
						h3 Statistik Terpopuler
						ul
							li
								figure
									img(src="images/databoks/statistik.jpg", alt="")
								a(href="").
									Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
							li
								figure
									img(src="images/databoks/statistik.jpg", alt="")
								a(href="").
									Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
							li
								figure
									img(src="images/databoks/statistik.jpg", alt="")
								a(href="").
									Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
			.shortcutBorderTop.margin-top-25.padding-top-35
			.row
				.col-md-12
					h3 Pilihan Topik
					include includes/link-topik2
