extends base/home
include components/mixings

block content
	.second-head
		.container
			.second-head-left.pull-left
				+breadcrumb(["Home", "Analisis"])
			.second-head-right
	.container
		+formSearch4('Analisis')
	section.databoks-analisis
		.container
			h3 "Fintech"
			.row.headListAnalisis
				.col-md-4
					div.itemListAnalisis
						a(href="#")
							h4 Indonesia dalam Satu Dekade Deindustrialisasi
							figure
								img(src="images/analisis/db-head-analisis1.jpg", alt="")
						p.
							Sekitar 20 tahun lalu, sektor manufaktur Indonesia dipuji Bank Dunia karena menjanjikan ekonomi berkualitas. Sekarang, kondisinya sedang meredup. Sektor ini dalam 10 tahun terakhir tumbuh lambat.
						p.infoArtikel Oleh #[strong Agus Dwi Darmawan], 6 Januari 2018
				.col-md-4
					div.itemListAnalisis
						a(href="#")
							h4 Membidik Potensi Pengembangan Bisnis Fintech di Indonesia
							figure
								img(src="images/analisis/db-head-analisis2.jpg", alt="")
						p.
							Sekitar 20 tahun lalu, sektor manufaktur Indonesia dipuji Bank Dunia karena menjanjikan ekonomi berkualitas. Sekarang, kondisinya sedang meredup. Sektor ini dalam 10 tahun terakhir tumbuh lambat.
						p.infoArtikel Oleh #[strong Agus Dwi Darmawan], 6 Januari 2018
				.col-md-4
					div.itemListAnalisis
						a(href="#")
							h4 Membidik Potensi Pengembangan Bisnis Fintech di Indonesia
							figure
								img(src="images/analisis/db-head-analisis1.jpg", alt="")
						p.
							Sekitar 20 tahun lalu, sektor manufaktur Indonesia dipuji Bank Dunia karena menjanjikan ekonomi berkualitas. Sekarang, kondisinya sedang meredup. Sektor ini dalam 10 tahun terakhir tumbuh lambat.
						p.infoArtikel Oleh #[strong Agus Dwi Darmawan], 6 Januari 2018
			.row
				.col-md-12
					a(href="#" class="btn block-half") Analisis Lainnya
			