extends base/databoks
include components/mixings

block content
	.second-head.databoks
		.container
			.second-head-left.pull-left
				+breadcrumb(["Home", "Databoks", "Pencarian"])
			.second-head-right
	section.search-results
		.container
			.head-and-caption.shortcutBorderBottom.margin-bottom-30
				h2.margin-bottom-5 Pencarian
			.row
				.col-md-9.listing2.databoks
					+formSearch7('Cari')
					.search-information
						.left-search
							strong.
								Menampilkan 1—25 dari 35321 hasil pencarian
						.right-search
							.pg-style-2-wrapper
								a(href="#", class="pg-style-2 prev")
								span Halaman #[input(type="text" value="1")] dari 32
								a(href="#", class="pg-style-2 next")
					ul
						li
							span
								p.small 21 Jan 2018
								a(href="#", alt="{topik}", class="topik-link") Energi
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
						li
							span
								p.small 21 Jan 2018
								a(href="#", alt="{topik}", class="topik-link") Energi
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
						li
							span
								p.small 11 Jan 2018
								a(href="#", alt="{topik}", class="topik-link") Energi
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
						li
							span
								p.small 31 Jan 2018
								a(href="#", alt="{topik}", class="topik-link") Energi
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
						li
							span
								p.small 19 Jan 2018
								a(href="#", alt="{topik}", class="topik-link") Energi
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
						li
							span
								p.small 17 Jan 2018
								a(href="#", alt="{topik}", class="topik-link") Energi
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
						li
							span
								p.small 22 Jan 2018
								a(href="#", alt="{topik}", class="topik-link") Energi
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
					.pg-style-2-wrapper.pull-right.margin-mm-bottom-20.xs-float-none.text-center
						a(href="#", class="pg-style-2 prev")
						span Halaman 1 dari 32
						a(href="#", class="pg-style-2 next")
				.col-md-3
					include includes/box-scheduler-databoks
				