extends base/home
include components/mixings

block content
	.hero-banner-databoks
		article
			h2 Databoks
			p Permudah urusan Anda dengan data-data dari kami
			a(href="#" class="btn btn-blue") Putar Video
	.container
	section.databoks-home
		.container
			.row
				.col-md-10.col-md-offset-1
					article.databoks-info
						p.
							Databoks dibuat dengan tujuan untuk memudahkan perusahaan, pelaku bisnis, periset, pelajar, pemerintah dan media untuk mencari dan mengolah data ekonomi dan bisnis secara cepat untuk berbagai keperluan, seperti presentasi, pembuatan laporan dan memperkuat pemberitaan di media.#[br]#[a(href="#") Selengkapnya tentang Databoks »]
					a(href="" class="btn btn-blue") Subscribe
			+formSearch3('Dataset')
			.row
				.col-md-9.listing
					h3 Statistik »
					ul
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
				.col-md-3
					.kaitan-list
						h3 Analisis Terpopuler
						ul
							li
								figure
									img(src="images/thumb-img/thumb1.jpg", alt="")
								a(href="").
									Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
							li
								figure
									img(src="images/thumb-img/thumb3.jpg", alt="")
								a(href="").
									Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
							li
								figure
									img(src="images/thumb-img/thumb2.jpg", alt="")
								a(href="").
									Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
			.row
				.col-md-12.shortcutBorderTop.shortcutBorderBottom.padding-top-25.padding-bottom-25.margin-bottom-30.text-center
					a(href="#" class="btn width-50 xs-width-full") Ke Halaman Statistik
			.row
				.col-md-9
					h3 Dataset »
					include includes/box-dataset                  
				.col-md-3
					.kaitan-list
						h3 Terbanyak Diunduh
						ul
							li
								figure
									img(src="images/thumb-img/thumb1.jpg", alt="")
								a(href="").
									DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
							li
								figure
									img(src="images/thumb-img/thumb3.jpg", alt="")
								a(href="").
									DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
							li
								figure
									img(src="images/thumb-img/thumb2.jpg", alt="")
								a(href="").
									DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
							li
								figure
									img(src="images/thumb-img/thumb2.jpg", alt="")
								a(href="").
									DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
							li
								figure
									img(src="images/thumb-img/thumb2.jpg", alt="")
								a(href="").
									DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
			.row
				.col-md-12.shortcutBorderTop.padding-top-25.text-center
					a(href="#" class="btn width-50 xs-width-full") Ke Halaman Dataset
			.row
				.col-md-12.shortcutBorderTop.margin-top-25.padding-top-35
					h3 Pilihan Topik
					include includes/link-topik