
extends base/home
include components/mixings

block content
	.blueHead
		.container
			.head-and-caption
				h2 Databoks #[small / Dataset]
				//- ul
				//-    li
				//-       a(href="./databoks-analisis-home.html") Analisis
				//-    li
				//-       a(href="./databoks-statistik-home.html") Statistik
				//-    li.pilih
				//-       a(href="./databoks-dataset-home.html") Dataset
	.container
		+formSearch('Dataset')
	section.databoks-dataset
		.container
			.row.is-table-row
				.col-md-9
					section.detail-dataset.margin-bottom-25
						h2 #[a(href="") DMO Minyak (BBLS) Sumber Data Perusahaan]
						article.boxDetail
							p.margin-bottom-20 Dataset ini berisi DMO Oil dari perusahaan migas.
							p.margin-bottom-20.
								Deskripsi kolom: Perusahaan: perusahaan migas; Nama Blok: Blok wilayah tersebut; DMO_BBLS: nilai DMO dalam satuan BBLS; company status: operator dan non operator
							p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
							p #[strong Industri:] Energi
							p #[strong SubIndustri:] Eksplorasi dan Produksi
							p #[strong Periode:] 2011
							p #[strong Diperbarui:] 11 Mei 2017
							p #[strong Tags:] 11 Mei 2017
							p #[strong Dilihat:] 351
						a(href="" class="btn btn-orange") Unduh
						span (Diunduh 164 Kali)
					h3 Koleksi Dataset Lainnya
					include includes/box-dataset                  
					a(href="#" class="btn block-half margin-bottom-25") Dataset Lainnya
				.col-md-3
					.kaitan-list
						h3 Terbanyak Diunduh
						ul
							li
								figure
									img(src="images/thumb-img/thumb1.jpg", alt="")
								a(href="").
									DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
							li
								figure
									img(src="images/thumb-img/thumb3.jpg", alt="")
								a(href="").
									DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
							li
								figure
									img(src="images/thumb-img/thumb2.jpg", alt="")
								a(href="").
									DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
							li
								figure
									img(src="images/thumb-img/thumb2.jpg", alt="")
								a(href="").
									DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
							li
								figure
									img(src="images/thumb-img/thumb2.jpg", alt="")
								a(href="").
									DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
			.row
				.col-md-12.shortcutBorderTop.padding-top-35
					h3 Pilihan Topik
					include includes/link-topik