extends base/home
include components/mixings

block content
   .blueHead
      .container
         .head-and-caption
            h2 Databoks
            ul
               li
                  a(href="#") Analisis
               li
                  a(href="#") Statistik
               li.pilih
                  a(href="#") Dataset
   .container
      section.formSearch
         form
            .row
               .col-md-4
                  .form-group
                     input(type="text" class="form-control" placeholder="Kata kunci")
               .col-md-2
                  .form-group
                     select(class="form-control")
                        option Topik Satu
                        option Topik Dua
                        option Topik Tiga
                        option(selected="selected") Pilih Topik..
               .col-md-2
                  .form-group
                     select(class="form-control")
                        option Topik Satu
                        option Topik Dua
                        option Topik Tiga
                        option(selected="selected") Pilih Subtopik..
               .col-md-2
                  .form-group
                     input(type="text" class="form-control" id="datetimepicker1" placeholder="Short by Date")
               .col-md-2
                  input(type="submit" class="btn btn-block btn-orange" value="Cari Dataset")
   section.databoks-dataset
      .container
         .row
            .col-md-9
               h3 Koleksi Dataset
               ul.boxDataset
                  li.matchingHeight
                     article
                        h4 DMO Minyak (BBLS) Sumber Data Perusahaan
                        p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
                        p #[strong Industri:] Energi
                        p #[strong SubIndustri:] Eksplorasi dan Produksi
                        p #[strong Periode:] 2011
                        p #[strong Diperbarui:] 11 Mei 2017
                     a(href="#" class="btn btn-orange") Unduh
                  li.matchingHeight
                     article
                        h4 DMO Minyak (BBLS) Sumber Data Perusahaan
                        p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
                        p #[strong Industri:] Energi
                        p #[strong SubIndustri:] Eksplorasi dan Produksi
                        p #[strong Periode:] 2011
                        p #[strong Diperbarui:] 11 Mei 2017
                     a(href="#" class="btn btn-orange") Unduh
                  li.matchingHeight
                     article
                        h4 DMO Minyak (BBLS) Sumber Data Perusahaan
                        p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
                        p #[strong Industri:] Energi
                        p #[strong SubIndustri:] Eksplorasi dan Produksi
                        p #[strong Periode:] 2011
                        p #[strong Diperbarui:] 11 Mei 2017
                     a(href="#" class="btn btn-orange") Unduh
                  li.matchingHeight
                     article
                        h4 DMO Minyak (BBLS) Sumber Data Perusahaan
                        p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
                        p #[strong Industri:] Energi
                        p #[strong SubIndustri:] Eksplorasi dan Produksi
                        p #[strong Periode:] 2011
                        p #[strong Diperbarui:] 11 Mei 2017
                     a(href="#" class="btn btn-orange") Unduh
                  li.matchingHeight
                     article
                        h4 DMO Minyak (BBLS) Sumber Data Perusahaan
                        p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
                        p #[strong Industri:] Energi
                        p #[strong SubIndustri:] Eksplorasi dan Produksi
                        p #[strong Periode:] 2011
                        p #[strong Diperbarui:] 11 Mei 2017
                     a(href="#" class="btn btn-orange") Unduh
                  li.matchingHeight
                     article
                        h4 DMO Minyak (BBLS) Sumber Data Perusahaan
                        p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
                        p #[strong Industri:] Energi
                        p #[strong SubIndustri:] Eksplorasi dan Produksi
                        p #[strong Periode:] 2011
                        p #[strong Diperbarui:] 11 Mei 2017
                     a(href="#" class="btn btn-orange") Unduh
                  li.matchingHeight
                     article
                        h4 DMO Minyak (BBLS) Sumber Data Perusahaan
                        p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
                        p #[strong Industri:] Energi
                        p #[strong SubIndustri:] Eksplorasi dan Produksi
                        p #[strong Periode:] 2011
                        p #[strong Diperbarui:] 11 Mei 2017
                     a(href="#" class="btn btn-orange") Unduh
                  li.matchingHeight
                     article
                        h4 DMO Minyak (BBLS) Sumber Data Perusahaan
                        p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
                        p #[strong Industri:] Energi
                        p #[strong SubIndustri:] Eksplorasi dan Produksi
                        p #[strong Periode:] 2011
                        p #[strong Diperbarui:] 11 Mei 2017
                     a(href="#" class="btn btn-orange") Unduh
                  li.matchingHeight
                     article
                        h4 DMO Minyak (BBLS) Sumber Data Perusahaan
                        p #[strong Instansi:] Extractive Industries Transparency Initiative (EITI) Indonesia
                        p #[strong Industri:] Energi
                        p #[strong SubIndustri:] Eksplorasi dan Produksi
                        p #[strong Periode:] 2011
                        p #[strong Diperbarui:] 11 Mei 2017
                     a(href="#" class="btn btn-orange") Unduh
                  
                  a(href="#")
            .col-md-3
               .kaitan-list
                  h3 Terbanyak Diunduh
                  ul
                     li
                        figure
                           img(src="images/thumb-img/thumb1.jpg", alt="")
                        a(href="").
                           DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
                     li
                        figure
                           img(src="images/thumb-img/thumb3.jpg", alt="")
                        a(href="").
                           DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
                     li
                        figure
                           img(src="images/thumb-img/thumb2.jpg", alt="")
                        a(href="").
                           DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
                     li
                        figure
                           img(src="images/thumb-img/thumb2.jpg", alt="")
                        a(href="").
                           DMO Minyak (BBLS) Sumber Data Perusahaan Minerba
                     li
                        figure
                           img(src="images/thumb-img/thumb2.jpg", alt="")
                        a(href="").
                           DMO Minyak (BBLS) Sumber Data Perusahaan Minerba