extends base/home
include components/mixings

block content
	.second-head
		.container
			.second-head-left.pull-left
				+breadcrumb(["Home", "Library", "Data"])
			.second-head-right
	.detail-artikel
		.container
			.wrapperDetailArtikel
				.row
					.col-md-12
						h1.width-65.xs-width-auto.
							Kemenperin Usul Kemenkeu Pangkas Penerimaan Negara di Masela
						p.infoArtikel.
							Oleh #[strong Yuliawati], 1 Januari 2018
						ul.btn-sosmed.pull-right.xs-float-none
							li
								a(href="#" class="facebook" title="Facebook")
									i(class="fa fa-facebook" aria-hidden="true")
							li
								a(href="#" class="twitter" title="Twitter")
									i(class="fa fa-twitter" aria-hidden="true")
							li
								a(href="#" class="linkedin" title="Linkedin")
									i(class="fa fa-linkedin" aria-hidden="true")
							li
								a(href="#" class="g-plus" title="Google Plus")
									i(class="fa fa-google-plus" aria-hidden="true")
							li
								a(href="#" class="link-chain" title="Copy Link")
									i(class="fa fa-link" aria-hidden="true")
				.row
					.col-md-12
						//- .tweetLine
						//- 	ul
						//- 		li
						//- 			a(href="").
						//- 				Grab menggandeng PT Visionet Internasional agar dapat menggunakan lisensi uang elektronik OVO untuk kembali menghidupkan GrabPay.
						//- 		li
						//- 			a(href="").
						//- 				Sebelum dengan OVO, Grab pada Rabu (13/12) lalu juga mengumumkan kerja sama dengan perusahaan aplikasi pembayaran mobile milik Yusuf Mansur, PayTren.
						.shortcutBorderBottom.margin-bottom-10.margin-top-20
						p.detail-article-caption
							Sebelum dengan OVO, Grab pada Rabu (13/12) lalu juga mengumumkan kerja sama dengan perusahaan aplikasi pembayaran mobile milik Yusuf Mansur, PayTren.
						.shortcutBorderBottom.margin-top-10
				.row.margin-top-30
					.col-md-8
						figure.mainDetailPict
							img(src="images/article-img/detail-pict1.jpg")
							figcaption (Arief Kamaludin/Katadada)
							small.
								Caption here. Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
						article.textArticle
							p.
								Go-Jek sendiri sebenarnya tak pernah mengurus lisensi itu. Namun, perusahaan yang dipimpin Nadiem Makarim tersebut dengan cerdik telah mengambil langkah antisipasi dengan akuisisi startup financial technology (fintech) PonselPay milik PT MVCommerce (PT Dompet Anak Bangsa) pada akhir 2016 lalu. Meski tak populer, PonselPay sudah mendapat izin penerbitan e-money dari BI sejak 2014.
							p.
								Lisensi e-money PonselPay itulah yang kemudian digunakan oleh GoPay. Alhasil, ketika beberapa perusahaan teknologi seperti Grab, Tokopedia, hingga Bukalapak tersandung masalah lisensi, Go-Pay bisa tetap tenang melenggang.
							p
								strong GrabPay Mati Suri, Lalu Bangkit Lagi
							p.
								Hampir dua bulan ‘mati suri’ karena saldo yang tak bisa diisi, #[a(href="#") GrabPay akhirnya menemukan jalan keluar]. Grab menggandeng PT Visionet Internasional agar dapat menggunakan lisensi uang elektronik OVO untuk kembali menghidupkan GrabPay.
							p.
								“Mulai hari ini, penumpang Grab dapat kembali mengisi ulang GrabPay Credits dan menggunakan 'GrabPay, powered by OVO’ untuk membayar perjalanan mereka yang dipesan dengan aplikasi Grab,” Managing Director GrabPay Southeast Asia Jason Thompson, Kamis (14/12).
							section.baca-juga
								h4 Baca Juga
								ul
									li
										a(href="#") Tiga pulau disulap jadi kapal induk TNI bakal beroperasi 2019 
									li
										a(href="#") Kemenprin usul kemenkeu pangkas penerimaan negara di masela
							p.
								#[a(href="#") Grab dan OVO sama-sama terafiliasi dengan Grup Lippo]. Pada Grab, konglomerasi milik keluarga Riady ini menanamkan modal sebesar US$ 100 juta melalui Venturra Capital (VC). PT Visionet International, penerbit OVO, berada di bawah naungan LippoX yang merupakan perusahaan digital payment milik Grup Lippo.
							p.
								Sebelum dengan OVO, Grab pada Rabu (13/12) lalu juga mengumumkan kerja sama dengan perusahaan aplikasi pembayaran mobile milik Yusuf Mansur, PayTren. Kerja sama keduanya bertujuan untuk membangun jaringan perusahaan mikro besar di Indonesia dengan target member mencapai 3 juta pengusaha.
							section.newsletter.inDetail
								//- img(src="images/icons/bel.png", alt="")
								strong News Alert
								p.
									Dapatkan informasi terkini seputar ekonomi dan bisnis langsung lewat email Anda
								form
									.customInput.withBorder
										input(type="email" name="" placeholder="Email anda...")
									//- p.small.
									//- 	Dengan mendaftar, Anda setuju untuk menerima Newsletter dari Katadata. Anda bisa melakukan Unsubscribe kapan pun.
									.recaptha-space
										img(src="images/recaptcha.png", alt="")
									input(type="submit" name="" value="Daftar" class="btn btn-blue-pastel")
							p.
								#[a(href="#") Sementara pada awal 2017 lalu, Grab juga mengakuisisi Kudo]. Startup online to offline (O2O) ini diakuisisi demi membantu Grab memperluas jangkauan operasionalnya

							p
								strong Ambisi Go-Jek untuk Go-Pay
							p.
								Tak tinggal diam melihat rivalnya bangkit, Go-Jek segera unjuk gigi. Hanya berselang sehari dari pengumuman kemitraan Grab dan OVO, Go-Jek langsung menyatakan akuisisi tiga startup fintech sekaligus; Midtrans, Kartuku, dan Mapan.
							p.
								Chief Executive Officer (CEO) Go-Jek Nadiem Makarim berharap, Go-Pay bakal terus memimpin industri jasa dompet digital dan proses pembayaran independen. “Inisiatif ini merupakan langkah strategis dalam memperkuat pondasi dan langkah kami di industri fintech Indonesia,” kata Nadiem dalam keterangan resmi, Jakarta, Jumat (15/12).
							p.
								#[a(href="#") Seperti yang dilakukan Grab dengan Kudo dan Paytren], akuisisi ketiga fintech oleh Go-Jek itu dipastikan akan memperkuat basis transaksi Go-Pay, baik online maupun offline.
							p.
								Menurut Nadiem, akusisi ini menjadi lompatan perusahaan dari penyedia layanan transportasi hingga menguasai teknologi multi-platform yang fokus pada pembayaran digital. Kartuku, Midtrans, dan Mapan tercatat memproses total transaksi lebih dari Rp 67,5 triliun per tahun melalui kartu kredit, debit, maupun dompet digital.
						.tagLink.match-margin
							strong.
								Tags
							ul
								li
									a(href="#") Go-Pay
								li
									a(href="#") Blue Bird
								li
									a(href="#") Uber
								li
									a(href="#") Pemerintah
								li
									a(href="#") Go-Pay
								li
									a(href="#") Go-Jek
								li
									a(href="#") Go-Pay
								li
									a(href="#") Go-Jek
					.col-md-4
						.kaitan-list.margin-bottom-25
							h3 Terkait
							ul
								li
									figure
										img(src="images/thumb-img/thumb1.jpg", alt="")
									a(href="").
										Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
									p.infoArtikel 1 Januari 2018
								li
									figure
										img(src="images/thumb-img/thumb3.jpg", alt="")
									a(href="").
										Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
									p.infoArtikel 1 Januari 2018
								li
									figure
										img(src="images/thumb-img/thumb2.jpg", alt="")
									a(href="").
										Tiga Pulau Disulap jadi Kapal Induk TNI Bakal Beroperasi 2019
									p.infoArtikel 1 Januari 2018
						include includes/artikel-terpopuler
		section.baca-juga
			.container.posRelative
				h3 Baca Juga
				a(href="#", class="linkIndex") #[span Indeks »]
				.arrowNavigation
					a.prevArrowNav
						i(class="fa fa-chevron-left" aria-hidden="true")
					a.nextArrowNav
						i(class="fa fa-chevron-right" aria-hidden="true")
				//- slider
				.berita-slide
					+otherNews('thumb1.jpg', 'Tiga Pulau Disulap Jadi Kapal Induk TNI Bakal Beroperasi 2019')
					+otherNews('thumb2.jpg', 'Kemenperin Usul Kemenkeu Pangkas Penerimaan Negara di Masela')
					+otherNews('thumb3.jpg', 'Tiga Pulau Disulap Jadi Kapal Induk TNI Bakal Beroperasi 2019')
					+otherNews('thumb2.jpg', 'Tiga Pulau Disulap Jadi Kapal Induk TNI Bakal Beroperasi 2019')
					+otherNews('thumb1.jpg', 'Kemenperin Usul Kemenkeu Pangkas Penerimaan Negara di Masela')