extends base/home
include components/mixings

block content
	.second-head
		.container
			.second-head-left.pull-left
				+breadcrumb(["Home", "Ekonografik"])
			.second-head-right
	section.homeEkonografik
		.container
			.head-and-caption
				h2 Ekonografik
				strong Sajian informasi dalam kemasan visual yang memikat.
				.topik-pil
					strong Topik Pilihan
					+topikPil(['Energi', 'Digital', 'Makro', 'Nasional', 'Pertambangan', 'Perdagangan', 'Bursa'])
			section.ekonoBigImg
				figure
					img(src="images/ekonografik/ekonoMainBanner.jpg", alt="")
				a(href="#" class="btn btn-orange") Unduh Infografik
				ul.btn-sosmed.pull-right
					li
						a(href="#")
							i(class="fa fa-facebook" aria-hidden="true")
							span Share
					li
						a(href="#")
							i(class="fa fa-twitter" aria-hidden="true")
							span Tweet
					li
						a(href="#") 
							i(class="fa fa-linkedin" aria-hidden="true")
							span Linkedin
					li
						a(href="#")
							i(class="fa fa-paper-plane-o" aria-hidden="true")
							span Email
					li
						a(href="#")
							i(class="fa fa-link" aria-hidden="true")
							span Copy URl
			.ekonoList
				.row
					.col-md-8
						ul.listGraph
							li.matchingHeight
								figure
									span.btnLinks
										span.btnLinksWrapper
											a(href="#" class="btn btn-orange") Unduh infografik
											a(href="#" class="btn btn-abu-hijau") Share
									img(src="images/ekonografik/ekono-grid1.jpg", alt="")
								a(href="#").
									Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
							li.matchingHeight
								figure
									span.btnLinks
										span.btnLinksWrapper
											a(href="#" class="btn btn-orange") Unduh infografik
											a(href="#" class="btn btn-abu-hijau") Share
									img(src="images/ekonografik/ekono-grid2.jpg", alt="")
								a(href="#").
									Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin, Begini kalau judulnya 3 baris
							li.matchingHeight
								figure
									span.btnLinks
										span.btnLinksWrapper
											a(href="#" class="btn btn-orange") Unduh infografik
											a(href="#" class="btn btn-abu-hijau") Share
									img(src="images/ekonografik/ekono-grid2.jpg", alt="")
								a(href="#").
									Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin, Begini kalau judulnya 3 baris
							li.matchingHeight
								figure
									span.btnLinks
										span.btnLinksWrapper
											a(href="#" class="btn btn-orange") Unduh infografik
											a(href="#" class="btn btn-abu-hijau") Share
									img(src="images/ekonografik/ekono-grid1.jpg", alt="")
								a(href="#").
									Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
							li.matchingHeight
								figure
									span.btnLinks
										span.btnLinksWrapper
											a(href="#" class="btn btn-orange") Unduh infografik
											a(href="#" class="btn btn-abu-hijau") Share
									img(src="images/ekonografik/ekono-grid1.jpg", alt="")
								a(href="#").
									Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
							li.matchingHeight
								figure
									span.btnLinks
										span.btnLinksWrapper
											a(href="#" class="btn btn-orange") Unduh infografik
											a(href="#" class="btn btn-abu-hijau") Share
									img(src="images/ekonografik/ekono-grid2.jpg", alt="")
								a(href="#").
									Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
						a(href="" class="btn block-half") Infografik Lainnya
					.col-md-4
						h3 Infografik Terpopuler
						ul.infografikTerpopuler
							li
								figure
									img(src="images/ekonografik/ekono-grid1.jpg", alt="")
								a(href="#").
									Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin, Begini kalau judulnya 3 baris
							li
								figure
									img(src="images/ekonografik/ekono-grid2.jpg", alt="")
								a(href="#").
									Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin, Begini kalau judulnya 3 baris
							li
								figure
									img(src="images/ekonografik/ekono-grid1.jpg", alt="")
								a(href="#").
									Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin, Begini kalau judulnya 3 baris
							li
								figure
									img(src="images/ekonografik/ekono-grid2.jpg", alt="")
								a(href="#").
									Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin, Begini kalau judulnya 3 baris