extends base/home
include components/mixings

block content
	.second-head
		.container
			.second-head-left.pull-left
				+breadcrumb(["Home", "Ekonografik", "Makro"])
			.second-head-right
	.detail-artikel
		.container
			.wrapperDetailArtikel
				.row
					.col-md-8
						h2.
							Kemenperin Usul Kemenkeu Pangkas Penerimaan Negara di Masela
						p.infoArtikel.
							Oleh #[strong Yuliawati], 1 Januari 2018
						p.margin-bottom-25
							Peringkat utang jangka panjang Indonesia naik menjadi BBB yang berarti risiko gagal bayar utang relatif lebih rendah.
				section.ekonoBigImg.padding-top-25.margin-bottom-20.shortcutBorderTop
					.row
						.col-md-8
							figure
								img(src="images/ekonografik/infografis-detail.jpg", alt="")
						.col-md-4
							a(href="" class="btn btn-block btn-orange margin-bottom-10") Unduh Infografik
							.shareSlidingDoor
								.slidingDoorContent
									a(href="")
										i(class="fa fa-facebook" aria-hidden="true")
									a(href="")
										i(class="fa fa-twitter" aria-hidden="true")
									a(href="")
										i(class="fa fa-linkedin" aria-hidden="true")
								.slidingDoorTop
									span Share
							article.textArticle.margin-top-20.width-full
								p.
									Setelah jatuh dalam krisis ekonomi 1998, Indonesia kembali masuk ke jajaran negara layak investasi. Ini ditandai dengan kenaikan peringkat utang yang diberikan Fitch Ratings. Lembaga pemeringkat internasional yang berkantor pusat di New York, Amerika Serikat itu menaikkan peringkat utang jangka panjang Indonesia menjadi BBB dengan outlook stabil, satu tingkat di atas batas bawah level layak investasi (investment grade).
								p.
									Fitch menilai Indonesia memiliki ketahanan terhadap guncangan eksternal dalam beberapa tahun terakhir. Ini ditunjukkan dengan kebijakan nilai tukar rupiah yang lebih fleksibel sehingga menaikkan cadangan devisa negara sebesar 31 persen sejak 2013. Selain itu, pemerintah disiplin membatasi arus keluar modal asing di tengah situasi ekonomi global yang bergejolak.
								p.
									Fitch juga mengapresiasi reformasi struktural di tubuh pemerintah sehingga menaikkan peringkat kemudahan berusaha ke level 72 atau naik 37 peringkat dalam dua tahun terakhir. Menurut Gubernur Bank Indonesia (BI), Agus D.W. Martowardojo, peringkat tersebut merupakan yang tertinggi sejak 22 tahun lalu. Kendati demikian, Fitch tetap mengingatkan pemerintah agar tetap mewaspadai guncangan internal dan eksternal yang akan terjadi pada beberapa tahun mendatang.
							.tagLink
								strong.
									Tags
								ul
									li
										a(href="#") Go-Pay
									li
										a(href="#") Go-Jek
									li
										a(href="#") Go-Pay
									li
										a(href="#") Go-Jek
				
				.shortcutBorderBottom.margin-bottom-20
				.ekonoList
					.row
						.col-md-12
							h3 Infografik Terkait
							ul.listGraph
								li.matchingHeight
									figure
										span.btnLinks
											span.btnLinksWrapper
												a(href="#" class="btn btn-orange") Unduh infografik
												span.share-ekono
													a(href="facebook.com")
														i(class="fa fa-facebook" aria-hidden="true")
													a(href="twitter.com")
														i(class="fa fa-twitter" aria-hidden="true")
													a(href="linkedin.com")
														i(class="fa fa-linkedin" aria-hidden="true")
										img(src="images/ekonografik/ekono-grid1.jpg", alt="")
									a(href="#").
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								li.matchingHeight
									figure
										span.btnLinks
											span.btnLinksWrapper
												a(href="#" class="btn btn-orange") Unduh infografik
												span.share-ekono
													a(href="facebook.com")
														i(class="fa fa-facebook" aria-hidden="true")
													a(href="twitter.com")
														i(class="fa fa-twitter" aria-hidden="true")
													a(href="linkedin.com")
														i(class="fa fa-linkedin" aria-hidden="true")
										img(src="images/ekonografik/ekono-grid2.jpg", alt="")
									a(href="#").
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin, Begini kalau judulnya 3 baris
								li.matchingHeight
									figure
										span.btnLinks
											span.btnLinksWrapper
												a(href="#" class="btn btn-orange") Unduh infografik
												span.share-ekono
													a(href="facebook.com")
														i(class="fa fa-facebook" aria-hidden="true")
													a(href="twitter.com")
														i(class="fa fa-twitter" aria-hidden="true")
													a(href="linkedin.com")
														i(class="fa fa-linkedin" aria-hidden="true")
										img(src="images/ekonografik/ekono-grid2.jpg", alt="")
									a(href="#").
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin, Begini kalau judulnya 3 baris
								li.matchingHeight
									figure
										span.btnLinks
											span.btnLinksWrapper
												a(href="#" class="btn btn-orange") Unduh infografik
												span.share-ekono
													a(href="facebook.com")
														i(class="fa fa-facebook" aria-hidden="true")
													a(href="twitter.com")
														i(class="fa fa-twitter" aria-hidden="true")
													a(href="linkedin.com")
														i(class="fa fa-linkedin" aria-hidden="true")
										img(src="images/ekonografik/ekono-grid1.jpg", alt="")
									a(href="#").
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								li.matchingHeight
									figure
										span.btnLinks
											span.btnLinksWrapper
												a(href="#" class="btn btn-orange") Unduh infografik
												span.share-ekono
													a(href="facebook.com")
														i(class="fa fa-facebook" aria-hidden="true")
													a(href="twitter.com")
														i(class="fa fa-twitter" aria-hidden="true")
													a(href="linkedin.com")
														i(class="fa fa-linkedin" aria-hidden="true")
										img(src="images/ekonografik/ekono-grid1.jpg", alt="")
									a(href="#").
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								li.matchingHeight
									figure
										span.btnLinks
											span.btnLinksWrapper
												a(href="#" class="btn btn-orange") Unduh infografik
												span.share-ekono
													a(href="facebook.com")
														i(class="fa fa-facebook" aria-hidden="true")
													a(href="twitter.com")
														i(class="fa fa-twitter" aria-hidden="true")
													a(href="linkedin.com")
														i(class="fa fa-linkedin" aria-hidden="true")
										img(src="images/ekonografik/ekono-grid2.jpg", alt="")
									a(href="#").
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin

		//- section.baca-juga
		//- 	.container.posRelative
		//- 		h3 Baca Juga
		//- 		a(href="#", class="linkIndex") #[span Indeks »]
		//- 		.arrowNavigation
		//- 			button.prevArrowNav
		//- 				i(class="fa fa-chevron-left" aria-hidden="true")
		//- 			button.nextArrowNav
		//- 				i(class="fa fa-chevron-right" aria-hidden="true")
		//- 		//- slider
		//- 		.berita-slide
		//- 			+otherNews('thumb1.jpg', 'Tiga Pulau Disulap Jadi Kapal Induk TNI Bakal Beroperasi 2019')
		//- 			+otherNews('thumb2.jpg', 'Kemenperin Usul Kemenkeu Pangkas Penerimaan Negara di Masela')
		//- 			+otherNews('thumb3.jpg', 'Tiga Pulau Disulap Jadi Kapal Induk TNI Bakal Beroperasi 2019')
		//- 			+otherNews('thumb2.jpg', 'Tiga Pulau Disulap Jadi Kapal Induk TNI Bakal Beroperasi 2019')
		//- 			+otherNews('thumb1.jpg', 'Kemenperin Usul Kemenkeu Pangkas Penerimaan Negara di Masela')