extends base/home
include components/mixings

block content
	.second-head
		.container
			.second-head-left.pull-left
				+breadcrumb(["Home", "Indeks"])
			.second-head-right
	section.indeks-pages
		.container
			.head-and-caption.shortcutBorderBottom.margin-bottom-30
				h2.margin-bottom-5 Indeks
			.row
				.col-md-9.listing2
					+formSearch5
					ul
						li
							span
								p.small 1 Jan 2018
								a(href="#", alt="{topik}", class="topik-link") Energi
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
						li
							span
								p.small 1 Jan 2018
								a(href="#", alt="{topik}", class="topik-link") Energi
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
						li
							span
								p.small 1 Jan 2018
								a(href="#", alt="{topik}", class="topik-link") Energi
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
						li
							span
								p.small 1 Jan 2018
								a(href="#", alt="{topik}", class="topik-link") Energi
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
						li
							span
								p.small 1 Jan 2018
								a(href="#", alt="{topik}", class="topik-link") Energi
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
						li
							span
								p.small 1 Jan 2018
								a(href="#", alt="{topik}", class="topik-link") Energi
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
						li
							span
								p.small 1 Jan 2018
								a(href="#", alt="{topik}", class="topik-link") Energi
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
					.kd-paging-nav
						ul.paging-wrapper
							li.pagination__item.first
								a.pagination__link.first(href='#')  Pertama
								
							li.pagination__item.previous
								a.pagination__link.previous(href='#')

								// Daftar Paging
								
							li.pagination__item
								a.pagination__link(href='#') 1
							li.pagination__item
								a.pagination__link(href='#') 2
							li.pagination__item.page-is-active
								a.pagination__link(href='#') 3
							li.pagination__item
								a.pagination__link(href='#') 4
							li.pagination__item
								a.pagination__link(href='#') 5
								
								// End Daftar Paging

							li.pagination__item.next
								a.pagination__link.next(href='#')

							li.pagination__item.last
								a.pagination__link.last(href='#')  Terakhir 
				.col-md-3
					include includes/box-scheduler