extends base/longform
include components/mixings

block content
	section.longform
		include includes/longform/main-header-hero
		.container.wrapper
			.followSosmed 
				ul
					li
						a(href="#" class="facebook")
							i(class="fa fa-facebook")
					li
						a(href="#" class="twitter")
							i(class="fa fa-twitter")
					li
						a(href="#" class="instagram")
							i(class="fa fa-instagram")
					li
						a(href="#" class="linkedin")
							i(class="fa fa-linkedin")
			.binder
				.longform-content.paragraph
					.row.no-gap
						.col-md-6.col-md-offset-3
							p.lf-dropcap.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias animi quam maxime ipsa vero earum sunt odit voluptates, praesentium est distinctio molestiae sed sint architecto reiciendis amet consequatur dolorem, voluptas officia corrupti. Ad quam officiis ex, cupiditate earum alias a, distinctio recusandae sint quidem odio blanditiis eum adipisci incidunt iste?
							p.
								Cras mi ante, varius id felis a, fringilla pulvinar massa. Donec at ullamcorper lorem. Nulla efficitur feugiat aliquet. Proin porttitor eleifend nunc, vitae maximus metus dignissim et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus cursus convallis ex posuere fringilla. Fusce luctus porttitor sem nec maximus. Morbi in massa felis.
							p.
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod doloremque cupiditate rem ratione sunt! Sunt ducimus quae dignissimos quidem tempora!
							include includes/longform/longform-quote
							figure
								img(src="https://source.unsplash.com/random/640x360", alt="")
								figcaption.
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, exercitationem eaque. Voluptatibus modi hic vitae a error sapiente libero vel necessitatibus veritatis consequuntur, deserunt esse quo dignissimos, rem labore maiores quos. Eligendi tempore saepe qui eos, quisquam ad reiciendis? Nesciunt blanditiis accusamus, corrupti suscipit natus possimus vero tenetur iusto nulla?
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti iste deserunt quidem aliquam sed, accusantium, modi repellat nobis cupiditate harum, fuga quisquam? Ratione soluta hic quibusdam, similique earum, eligendi eveniet veniam eos quasi omnis iusto?
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed necessitatibus omnis tempore quia excepturi reprehenderit voluptates deleniti provident temporibus dolores.
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur laudantium explicabo cumque accusantium, quos distinctio sit incidunt in.
							.html5Video
								video(src="videos/timelapse.mp4" type="video/mp4" playsinline autoplay muted loop)
								figcaption Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, impedit!
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptates doloribus iusto, quia earum quaerat alias pariatur neque hic. Corrupti architecto, enim nostrum molestiae minima laudantium animi sunt a nam?
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Error accusantium ipsam quo ipsa cupiditate quam obcaecati adipisci, consectetur animi amet et consequatur odit soluta libero perferendis quidem possimus!
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium iste voluptatem suscipit laborum eum illum quibusdam blanditiis maxime similique quisquam! Error dolores rerum labore pariatur cumque rem.
							.embed-responsive.embed-responsive-16by9(style='height:550px;')
								iframe.embed-responsive-item(width='978', height='550', src='https://katadata.co.id/embedchart/135')
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus eveniet, necessitatibus, iure nesciunt a quas in est fugiat tenetur dolores minima. Nisi qui aperiam, eaque magni error tempora veritatis officia pariatur!
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque odio ut sint, aliquid ipsa quia eum iure veniam.
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet molestiae, reiciendis maiores ipsa, rerum impedit hic eligendi corporis libero placeat harum quas optio veniam at qui id sapiente, velit inventore?
				.longform-content.foto
					.row.no-gap
						.col-md-9
							//- video(src="videos/teaser-video.mp4" type="video/mp4" preload="metadata" controls poster="videos/teaser.jpg")
							//- .video-container
							//-   iframe(src="https://www.youtube.com/embed/tdwbYGe8pv8?start=101&amp;rel=0&amp;showinfo=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
							include includes/longform/longform-quote
							figure
								span
									img(src="https://source.unsplash.com/random/640x360", alt="")
								figcaption.
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				.longform-content.paragraph
					.row.no-gap
						.col-md-6.col-md-offset-3
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo provident quod odit, tempora consequuntur, quidem corrupti, obcaecati in cumque nihil quo? Nesciunt laboriosam eos voluptatum dolorem, quia sequi. Cum nesciunt ea possimus molestias alias, voluptatum rerum ab adipisci! Labore voluptate ipsum et, dignissimos facilis sed modi rerum nisi! Perferendis, asperiores.
				.longform-content.local-video
					.row.no-gap
						.col-md-12
							video(src="videos/timelapse.mp4" type="video/mp4" playsinline autoplay muted loop)
							figcaption Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, impedit!
				.longform-content.paragraph
					.row.no-gap
						.col-md-6.col-md-offset-3
							p.lf-dropcap.
								Worem ipsum dolor sit amet consectetur adipisicing elit. Alias animi quam maxime ipsa vero earum sunt odit voluptates, praesentium est distinctio molestiae sed sint architecto reiciendis amet consequatur dolorem, voluptas officia corrupti. Ad quam officiis ex, cupiditate earum alias a, distinctio recusandae sint quidem odio blanditiis eum adipisci incidunt iste?
							p.
								Cras mi ante, varius id felis a, fringilla pulvinar massa. Donec at ullamcorper lorem. Nulla efficitur feugiat aliquet. Proin porttitor eleifend nunc, vitae maximus metus dignissim et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus cursus convallis ex posuere fringilla. Fusce luctus porttitor sem nec maximus. Morbi in massa felis.
							p.
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod doloremque cupiditate rem ratione sunt! Sunt ducimus quae dignissimos quidem tempora!
				.longform-content.youtuber
					.row.no-gap
						.col-md-9
							.video-container
								iframe(src="https://www.youtube.com/embed/tdwbYGe8pv8?start=101&amp;rel=0&amp;showinfo=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
							figcaption.
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				.longform-content.paragraph
					.row.no-gap
						.col-md-6.col-md-offset-3
							p.
								Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate debitis voluptatum harum est ipsum eaque voluptas dolorem reiciendis blanditiis eligendi.
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad reiciendis, perspiciatis facilis possimus ipsam distinctio fuga iure! Alias ut explicabo soluta ad dignissimos doloremque quam labore aliquid dolorum deserunt ratione ullam, impedit, exercitationem ea corrupti.
							include includes/longform/longform-quote
							p.
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla, facilis eum quas magni blanditiis alias at sint commodi labore deleniti adipisci temporibus non expedita dignissimos!
							p.
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti ipsam blanditiis perferendis? Id ullam, eum aspernatur voluptatibus alias non totam tempora, commodi quis dignissimos atque vero optio at quae? Possimus amet aliquid asperiores debitis, nulla dicta nostrum nihil accusantium fugit facere suscipit odit vero!
							p.
								Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe qui iure, recusandae rem delectus sapiente illum cumque enim, omnis vel architecto explicabo vitae possimus error commodi quisquam nam eos aspernatur non sed dolores obcaecati asperiores doloremque? Pariatur quibusdam autem voluptas recusandae. Impedit fugiat aliquam aliquid ipsam molestiae, ratione blanditiis dolore?
				.longform-content.graphChart
					.row.no-gap
						.col-md-9.col-xs-12
							.embed-responsive.embed-responsive-16by9(style='height:550px;')
								iframe.embed-responsive-item(width='978', height='550', src='https://katadata.co.id/embedchart/133')
				.longform-content.paragraph
					.row.no-gap
						.col-md-6.col-md-offset-3
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam odio quis, voluptatibus debitis quas alias repellat temporibus facere doloremque iusto iste quo, ducimus cum, vero voluptates rem animi culpa numquam!
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quo itaque ad consectetur amet eius dolores, doloremque maxime voluptatum, facere esse autem reprehenderit doloribus corporis, minus quod tempora maiores quasi suscipit. Sed repudiandae, amet, incidunt magnam eaque laudantium dolores repellendus laborum perspiciatis facere accusantium ad.
					//- .longform-content.timeline
					//-   .col-md-12
					//-     .timeline-container
								//- buat timeline
								//- iframe
				.longform-content.foto
					.row.no-gap
						.col-md-12
							//- video(src="videos/teaser-video.mp4" type="video/mp4" preload="metadata" controls poster="videos/teaser.jpg")
							//- .video-container
							//-   iframe(src="https://www.youtube.com/embed/tdwbYGe8pv8?start=101&amp;rel=0&amp;showinfo=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
							figure
								div
									span.media-title
										strong #[small Proyek Kedung Ombo:] Utang Bank Dunia yang Menyengsarakan
										p.
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Non magnam facere sint eveniet quaerat sapiente quae veritatis similique autem assumenda!
									//- img(src="https://source.unsplash.com/random/640x360", alt="")
									img(src="videos/poster1.jpg", alt="")
								figcaption.
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				.longform-content.paragraph
					.row.no-gap
						.col-md-6.col-md-offset-3
							include includes/longform/longform-infografik
							p.
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae quam doloremque dolor veritatis consectetur modi.
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sit placeat aspernatur porro culpa vitae perferendis, officia facilis exercitationem repudiandae dolorem! Commodi laudantium laborum odio.
							p.
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam accusantium praesentium omnis excepturi nesciunt perferendis vel optio, explicabo minima, vitae, ducimus sed cum voluptas eveniet doloremque obcaecati! A pariatur, mollitia ratione, repellat dignissimos quidem doloremque blanditiis hic, possimus sint earum.
							p.
								Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe aliquam reprehenderit eos nesciunt a iusto quae quisquam ad minus distinctio, suscipit vitae architecto impedit magni consequatur id officia laboriosam enim atque! Eveniet deserunt alias hic.
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eaque esse exercitationem sapiente accusamus pariatur dolorum aliquid iste omnis, quidem magni sint ea labore dicta eligendi praesentium ipsa nobis iure, facere, odio fuga inventore repudiandae? Possimus autem aspernatur, eveniet quos exercitationem quibusdam iure quam magni fugit magnam vitae amet consectetur!
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, numquam! Voluptas autem possimus obcaecati blanditiis illum iure officiis rem esse ut. Neque placeat consectetur minus ullam minima modi atque porro!
							.video-container
								iframe(src="https://www.youtube.com/embed/tdwbYGe8pv8?start=101&amp;rel=0&amp;showinfo=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus odit reprehenderit nemo tempore iusto natus exercitationem! Error iste alias libero dolores nulla corporis. Facilis, animi, voluptas explicabo temporibus saepe quasi aperiam corrupti minima ad in dolores quam laborum esse similique sunt illo incidunt et ducimus culpa possimus suscipit magnam! Quasi sunt necessitatibus esse officia distinctio tempora obcaecati, qui cupiditate dignissimos ipsum aliquam, harum temporibus? Eum, dolorum. Tenetur qui architecto impedit maiores iste accusantium unde dicta.
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quo distinctio ducimus illo aspernatur dolorum earum. Est, praesentium! Dicta tempore aut alias, quae tempora iste repudiandae facilis sed quia doloribus, omnis atque velit aspernatur accusantium esse neque impedit.
				.longform-content.slider
					.row.no-gap
						.col-md-12
							.longform-contain-sliders
								div.item
									figure
										a(href="#")
											img(src="images/sliders/slide1.jpg", alt="")
										figcaption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
								div.item
									figure
										a(href="#")
											img(src="images/sliders/slide2.jpg", alt="")
										figcaption Lorem ipsum dolor sit amet consectetur, adipisicing elit.
								div.item
									figure
										a(href="#")
											img(src="images/sliders/slide3.jpg", alt="")
										figcaption Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, odit iste.
								div.item
									figure
										a(href="#")
											img(src="images/sliders/slide4.jpg", alt="")
										figcaption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
								div.item
									figure
										a(href="#")
											img(src="images/sliders/slide2.jpg", alt="")
										figcaption Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolores tempore qui.
								//- div.item
								//-   figure
								//-     a(href="#")
								//-       img(src="https://source.unsplash.com/random/768x432", alt="")
								//-     figcaption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
								div.item
									figure
										a(href="#")
											img(src="images/sliders/slide5.jpg", alt="")
										figcaption Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				.longform-content.paragraph
					.row.no-gap
						.col-md-6.col-md-offset-3
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptatibus, ea alias ullam tempora obcaecati dicta provident illo doloribus harum odio qui fugit aperiam numquam dolores ratione dolor officia veritatis!
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quas eveniet vero laudantium doloremque porro exercitationem ullam numquam, rem quam odit, animi culpa dolore ipsum?
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim iste libero animi molestias vero quaerat perspiciatis sunt earum at consequuntur!
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nam deserunt voluptate nulla omnis atque!
							.thumbnail-list
								.thumb-item
									img(src="images/icons/icon-bridge.png", alt="")
									span
										strong 123
										p Roads and bridges
								.thumb-item
									img(src="images/icons/icon-industrial.png", alt="")
									span
										strong 321
										p Commercial and industrial
								.thumb-item
									img(src="images/icons/icon-public.png", alt="")
									span
										strong 456
										p Public buildings
								.thumb-item
									img(src="images/icons/icon-leisure.png", alt="")
									span
										strong 654
										p Sports and leisure
								.thumb-item
									img(src="images/icons/icon-military.png", alt="")
									span
										strong 234
										p Military and security
								.thumb-item
									img(src="images/icons/icon-religious.png", alt="")
									span
										strong 432
										p Religious
							p.
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos quaerat quidem consequuntur libero?
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis perspiciatis cumque repellendus ab, similique nisi necessitatibus itaque ea.
							p.
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias tempore ut aliquam hic. Ipsa tempora debitis excepturi aliquid nam eligendi ipsam ad voluptatibus. Culpa, officia. Voluptate, maxime incidunt?
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ut officia suscipit nemo nobis quis obcaecati aliquid eum ad, odit voluptates temporibus inventore provident saepe dolore sint, cum omnis asperiores.
							p.
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus molestiae laudantium ipsa. Quos est nemo accusamus! Repellendus soluta at mollitia aliquid saepe.