extends base/home
include components/mixings

block content
	//- .second-head.atHome
	//- 	.container
	//- 		.second-head-left.pull-left.xs-float-none
	//- 			time Selasa, 9 Oktober 2018
	//- 			//- include includes/trending
	//- 		.second-head-right
	//- 			.followSosmed
	//- 				span.
	//- 					Ikuti Kami:
	//- 				ul
	//- 					li
	//- 						a(href="#" class="facebook")
	//- 							i(class="fa fa-facebook")
	//- 					li
	//- 						a(href="#" class="twitter")
	//- 							i(class="fa fa-twitter")
	//- 					li
	//- 						a(href="#" class="instagram")
	//- 							i(class="fa fa-instagram")
	//- 					li
	//- 						a(href="#" class="linkedin")
	//- 							i(class="fa fa-linkedin")
	
	.homeKD
		section.prahara-lippo
			.container
				div.inline-higlight
					div
						strong Sorot
						h3 
							a(href="#") Prahara Lippo #[span »]
					div
						ul
							li
								a(href="#") Lippo Karawaci Tuntaskan Penjualan Bowsprit dan First REIT Rp 2,2 T
							li
								a(href="#") Setahun Berlalu, Wujud Megaproyek Meikarta Terlunta Mengejar Mimpi
							li
								a(href="#") Forum IMF-Bank Dunia Galang Bantuan bagi Korban Gempa Lombok dan Palu
							//- li
							//- 	a(href="#") Apple, Google dan Amazon jadi Merek Paling Bernilai 2018
					div
						a.btn(href="#") Selengkapnya »
		section.headlines
			.container
				.headlinesWrapper
					.row
						.col-md-4.col-sm-7
							a(href="#", alt="{topik}", class="topik-link") Energi
							h2
								a(href="detail-artikel.html", class="lockIcon") Kemenperin Usul Kemenkeu Pangkas Penerimaan Negara di Masela
							article
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
								p.infoArtikel 5 menit yang lalu
						.col-md-5.col-sm-5
							figure
								a(href="" class="hl-pict")
									img(src="https://source.unsplash.com/600x400/?fashion", alt="")
								figcaption Arief Kamaludin/Katadata
						.col-md-3.col-sm-12
							
							.otherBanner.clear-top-margin
								img(src="images/banners/r.jpg", alt="")
					.row
						.col-md-12
							div.headline-thumbnails
								ul
									li
										figure
											a(href="#")
												img(src="https://source.unsplash.com/300x200/?energy,oil,gas", alt="")
										a(href="#", alt="{topik}", class="topik-link") Energi
										a(href="#", title="title") Petronusa Gugat SKK Migas soal Status Blok Selat Panjang
										p.sponsor Sponsor: PT. Perusahaan Listrik Negara (PERSERO)
										span.infoBottom.bottom-down-11
											p.infoArtikel 5 menit yang lalu
									li
										figure
											a(href="#")
												img(src="https://source.unsplash.com/300x200/?market,finance", alt="")
										a(href="#", alt="{topik}", class="topik-link sponsored") Tips Financial
										a(href="#", title="title") Jokowi Minta Bantuan Anies Selesaikan Sertifikat Tanah DKI Jakarta
										span.infoBottom.bottom-down-11
											p.infoArtikel 5 menit yang lalu
									li
										figure
											a(href="#")
												img(src="https://source.unsplash.com/300x200/?tech,sience", alt="")
										a(href="#", alt="{topik}", class="topik-link") Digital
										a(href="#", title="title") Investor Lakukan Aksi Ambil Untung, IHSG Dibuka Turun 0,37%
										span.infoBottom.bottom-down-11
											p.infoArtikel 5 menit yang lalu
									li
										figure
											a(href="#")
												img(src="https://source.unsplash.com/300x200/?economic,creative", alt="")
										a(href="#", alt="{topik}", class="topik-link") Ekonomi Kreatif
										a(href="#", title="title") Petronusa Gugat SKK Migas soal Status Blok Selat Panjang
										span.infoBottom.bottom-down-11
											p.infoArtikel 5 menit yang lalu
									li
										figure
											a(href="#")
												img(src="https://source.unsplash.com/300x200/?village,state", alt="")
										a(href="#", alt="{topik}", class="topik-link") Pembangunan Desa
										a(href="#", title="title") Jokowi Minta Bantuan Anies Selesaikan Sertifikat Tanah DKI Jakarta
										span.infoBottom.bottom-down-11
											p.infoArtikel 5 menit yang lalu
									li
										figure
											a(href="#")
												img(src="https://source.unsplash.com/300x200/?national,country", alt="")
										a(href="#", alt="{topik}", class="topik-link") Nasional
										a(href="#", title="title") Investor Lakukan Aksi Ambil Untung, IHSG Dibuka Turun 0,37%
										span.infoBottom.bottom-down-11
											p.infoArtikel 5 menit yang lalu
		div.center-belt
			.container
				img(src="images/banners/centerBelt728x90.jpg", alt="")
		
		section.ekono
			.container.posRelative
				h3 Ekonografik
				a(href="#", class="linkIndex pull-right") Lihat Semua »
				.arrowNavigation2
					a.prevArrowNav2
						i(class="fa fa-chevron-left" aria-hidden="true")
					a.nextArrowNav2
						i(class="fa fa-chevron-right" aria-hidden="true")
				.ekonoGraphics
					+ekonoGraphic('ekono1.jpg', '')
					+ekonoGraphic('ekono2.jpg', '')
					+ekonoGraphic('ekono1.jpg', '')
					+ekonoGraphic('ekono2.jpg', '')
					//- +ekonoGraphic('ekono1.jpg', '')
					//- +ekonoGraphic('ekono2.jpg', '')
					//- +ekonoGraphic('ekono1.jpg', '')
					//- +ekonoGraphic('ekono2.jpg', '')
	section.scrollContent
		.container
			.row.is-flex-row-top
				.col-md-2
					include includes/kdv3-comp/populer
					include includes/kdv3-comp/lapsus
				.col-md-7
					.section-heading
						h3.section-title #[a(href="#") Berita Terbaru]
						a(href="#", class="linkIndex") Indeks Berita »
					div.list-scrollcontent

						//- Looping list
						each pict in pictures1
							span
								figure
									a(href="#")
										img(src="https://source.unsplash.com/300x128/?"+pict, alt="alt")
								article
									a(href="#") Petronusa Gugat SKK Migas soal Status Blok Selat Panjang
									a(href="#", alt="{topik}", class="topik-link") Energi
									p.infoArtikel.margin-left-15 Hari ini, 8.20 WIB
						//- End looping

						//- Inject Slider
						section.slide-kanal
							.section-heading
								h3.section-title #[a(href="#") Telaah »]
							.arrowNavigation5
								a#prevslideSection-telaah.prevArrowNav5
									i(class="fa fa-chevron-left" aria-hidden="true")
								a#nextslideSection-telaah.nextArrowNav5
									i(class="fa fa-chevron-right" aria-hidden="true")
							div#slideSection-telaah.sliding-section
								each pict in pictures1
									+sectionSlider(pict)
						//- End Inject

						//- Looping list
						each pict in pictures2
							span
								figure
									a(href="#")
										img(src="https://source.unsplash.com/300x128/?"+pict, alt="alt")
								article
									a(href="#") Petronusa Gugat SKK Migas soal Status Blok Selat Panjang
									a(href="#", alt="{topik}", class="topik-link") Energi
									p.infoArtikel.margin-left-15 Hari ini, 8.20 WIB
						//- End looping

						//- Inject Slider
						section.slide-kanal
							.section-heading
								h3.section-title #[a(href="#") Analisis »]
							.arrowNavigation5
								a#prevslideSection-analisis.prevArrowNav5
									i(class="fa fa-chevron-left" aria-hidden="true")
								a#nextslideSection-analisis.nextArrowNav5
									i(class="fa fa-chevron-right" aria-hidden="true")
							div#slideSection-analisis.sliding-section
								each pict in pictures2
									+sectionSlider(pict)
						//- End Inject

						//- Looping list
						each pict in pictures3
							span
								figure
									a(href="#")
										img(src="https://source.unsplash.com/300x128/?"+pict, alt="alt")
								article
									a(href="#") Petronusa Gugat SKK Migas soal Status Blok Selat Panjang
									a(href="#", alt="{topik}", class="topik-link") Energi
									p.infoArtikel.margin-left-15 Hari ini, 8.20 WIB
						//- End looping

						//- Inject Slider
						section.slide-kanal
							.section-heading
								h3.section-title #[a(href="#") Databoks »]
							.arrowNavigation5
								a#prevslideSection-databoks.prevArrowNav5
									i(class="fa fa-chevron-left" aria-hidden="true")
								a#nextslideSection-databoks.nextArrowNav5
									i(class="fa fa-chevron-right" aria-hidden="true")
							div#slideSection-databoks.sliding-section
								each pict in pictures2
									+sectionSlider(pict)
						//- End Inject

						//- Looping list
						each pict in pictures4
							span
								figure
									a(href="#")
										img(src="https://source.unsplash.com/300x128/?"+pict, alt="alt")
								article
									a(href="#") Petronusa Gugat SKK Migas soal Status Blok Selat Panjang
									a(href="#", alt="{topik}", class="topik-link") Energi
									p.infoArtikel.margin-left-15 Hari ini, 8.20 WIB
						//- End looping

						span.video-news
							figure
								a(href="#")
									button
										i(class="fa fa-play")
									img(src="https://source.unsplash.com/900x450/?city", alt="alt")
							article
								a(href="#") Petronusa Gugat SKK Migas soal Status Blok Selat Panjang
								a(href="#", alt="{topik}", class="topik-link") Video
								p.infoArtikel.margin-left-15 17 Oktober 2018, 20.00 WIB
						
						//- Looping list
						each pict in pictures1
							span
								figure
									a(href="#")
										img(src="https://source.unsplash.com/300x128/?"+pict, alt="alt")
								article
									a(href="#") Petronusa Gugat SKK Migas soal Status Blok Selat Panjang
									a(href="#", alt="{topik}", class="topik-link") Energi
									p.infoArtikel.margin-left-15 Hari ini, 8.20 WIB
						//- End looping

						a.btn.btn-abu.btn-block Muat lebih banyak
				.col-md-3
					.otherBanner
						img(src="images/banners/r300x600.jpg", alt="")
					include includes/kdv3-comp/video-widget
					include includes/kdv3-comp/foto-widget
					include includes/kdv3-comp/opini-widget
					.otherBanner.clear-top-margin
						img(src="images/banners/r.jpg", alt="")
					include includes/kdv3-comp/box-newsletter
		
