extends base/home
include components/mixings

block content
	.second-head
		.container
			.second-head-left.pull-left
				+breadcrumb(["Home", "Opini"])
			.second-head-right
	section.homeOpini
		.container
			.head-and-caption
				h2 Opini
				p.sendMail Kirimkan opini Anda ke #[a(href="mailto:opini@katadata.co.id") opini@katadata.co.id]
			.row
				.topik-pil
					strong Topik Pilihan
					+topikPil(['Energi', 'Digital', 'Makro', 'Nasional', 'Pertambangan', 'Perdagangan', 'Bursa'])
			section.headlines2
				.headlinesWrapper
					.row
						.col-md-3
							a(href="#", alt="{topik}", class="topik-link") Energi
							h3
								a(href="#") Kemenperin Usul Kemenkeu Pangkas Penerimaan Negara di Masela
							article
								p.infoArtikel 
									| Oleh 
									strong Yuliawati
									|, 1 Januari 2018
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
						.col-md-6
							figure
								a(href="" class="hl-pict")
									img(src="images/article-img/HL-pict.jpg", alt="")
									figcaption Arief Kamaludin/Katadata
						.col-md-3
							//- include includes/artikel-terpopuler
							figure.thumb-article-img
								img(src="images/thumb-img/thumb1.jpg", alt="")
							a(href="#", alt="{topik}", class="topik-link") Energi
							h4
								a(href="#") Tiga Pulau Disulap Jadi Kapal Induk TNI Bakal Beroperasi 2019
							p.
								Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
			
			.row
				.col-md-9.listing
					ul
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
						li
							p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
					a(href="#" class="btn block-half") Opini Lainnya
				.col-md-3
					h3 Opini Terpopuler
					include includes/opini-terpopuler
						
