extends base/home
include components/mixings

block content
	.second-head
		.container
			.second-head-left.pull-left
				+breadcrumb(["Home", "Berita"])
			.second-head-right
				
	section.kategori-berita
		.container
			.head-and-caption
				h2 Berita
			.row
				.topik-pil
					strong Topik Pilihan
					+topikPil(['Energi', 'Digital', 'Makro', 'Nasional', 'Pertambangan', 'Perdagangan', 'Bursa'])
			.content-kategori
				.row
					.col-md-6
						figure
							a(href="#" class="hl-pict")
								img(src="images/article-img/HL-pict.jpg", alt="")
								figcaption Arief Kamaludin/Katadata
						a(href="#", alt="{topik}", class="topik-link") Energi
						article
							h3
								a(href="#") Tiga Pulau Disulap Jadi Kapal Induk TNI Bakal Beroperasi 2019
							p.infoArtikel Oleh #[strong Yuliawati], 1 Januari 2018
							p.
								Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
					.col-md-6
						ul.smallKategori
							li
								figure.thumb-article-img
									img(src="images/thumb-img/thumb1.jpg", alt="")
								a(href="#", alt="{topik}", class="topik-link") Energi
								h4
									a(href="#") Tiga Pulau Disulap Jadi Kapal Induk TNI Bakal Beroperasi 2019
								p.
									Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim unde facere, obcaecati cum iusto voluptatem alias pariatur fugit? Nobis ex perspiciatis quidem ullam esse fugiat!
							li
								figure.thumb-article-img
									img(src="images/thumb-img/thumb1.jpg", alt="")
								a(href="#", alt="{topik}", class="topik-link") Energi
								h4
									a(href="#") Tiga Pulau Disulap Jadi Kapal Induk TNI Bakal Beroperasi 2019
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							li
								a(href="#", alt="{topik}", class="topik-link") Energi
								h4
									a(href="#") Tiga Pulau Disulap Jadi Kapal Induk TNI Bakal Beroperasi 2019
							li
								a(href="#", alt="{topik}", class="topik-link") Energi
								h4
									a(href="#") Tiga Pulau Disulap Jadi Kapal Induk TNI Bakal Beroperasi 2019
			
			.row
				.col-md-9
					.listing
						ul
							li
								span
									p.small 1 Jan 2018
									a(href="#", alt="{topik}", class="topik-link") Energi
								article
									h4
										a(href="#").
											Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
									p.
										Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
								figure
									img(src="images/thumb-img/thumb1.jpg", alt="")
							li
								span
									p.small 1 Jan 2018
									a(href="#", alt="{topik}", class="topik-link") Energi
								article
									h4
										a(href="#").
											Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
									p.
										Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
								figure
									img(src="images/thumb-img/thumb1.jpg", alt="")
							li
								span
									p.small 1 Jan 2018
									a(href="#", alt="{topik}", class="topik-link") Energi
								article
									h4
										a(href="#").
											Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
									p.
										Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
								figure
									img(src="images/thumb-img/thumb1.jpg", alt="")
							li
								span
									p.small 1 Jan 2018
									a(href="#", alt="{topik}", class="topik-link") Energi
								article
									h4
										a(href="#").
											Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
									p.
										Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
								figure
									img(src="images/thumb-img/thumb1.jpg", alt="")
							li
								span
									p.small 1 Jan 2018
									a(href="#", alt="{topik}", class="topik-link") Energi
								article
									h4
										a(href="#").
											Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
									p.
										Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
								figure
									img(src="images/thumb-img/thumb1.jpg", alt="")
							li
								span
									p.small 1 Jan 2018
									a(href="#", alt="{topik}", class="topik-link") Energi
								article
									h4
										a(href="#").
											Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
									p.
										Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
								figure
									img(src="images/thumb-img/thumb1.jpg", alt="")
							li
								span
									p.small 1 Jan 2018
									a(href="#", alt="{topik}", class="topik-link") Energi
								article
									h4
										a(href="#").
											Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
									p.
										Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
								figure
									img(src="images/thumb-img/thumb1.jpg", alt="")
						a(href="#" class="btn block-half") Berita Lainnya
				.col-md-3
					.otherBanner.no-top-border
						img(src="images/banners/bannerSmall3.png", alt="")
