extends base/home
include components/mixings

block content
	.second-head
		.container
			.second-head-left.pull-left
				+breadcrumb(["Home", "Library", "Data"])
			.second-head-right
	.detail-artikel
		.container
			.wrapperDetailArtikel
				.row
					.col-md-12
						strong.small-label Wawancara
						h1.width-60.xs-width-auto.
							Nasib Investasi Hulu Migas Pasca Terbitnya Aturan Pajak Gross Split
						h3.taiching
							Peringkat utang jangka panjang Indonesia naik menjadi BBB yang berarti risiko gagal bayar utang relatif lebih rendah.
						a(href="#", class="lbl_kd6 hidden-xs")
							img(src="images/label_kd6.png")
				.row
					.col-md-12
						.penulis-opini
							//- a(href="")
							//- 	img(src="images/avatar/woman-thumb.png", alt="")
							article
								p.infoArtikel #[strong A. Rinto Pudyantoro]
								p Praktisi dan Penulis Buku Bisnis Hulu Migas
								time 1 Januari 2018
							a(href="#", class="lbl_kd6 visible-xs")
								img(src="images/label_kd6.png")
							ul.btn-sosmed.pull-right.xs-float-none
								li
									a(href="#" class="facebook" title="Facebook")
										i(class="fa fa-facebook" aria-hidden="true")
								li
									a(href="#" class="twitter" title="Twitter")
										i(class="fa fa-twitter" aria-hidden="true")
								li
									a(href="#" class="linkedin" title="Linkedin")
										i(class="fa fa-linkedin" aria-hidden="true")
								li
									a(href="#" class="g-plus" title="Google Plus")
										i(class="fa fa-google-plus" aria-hidden="true")
								li
									a(href="#" class="link-chain" title="Copy Link")
										i(class="fa fa-link" aria-hidden="true")
				.row.margin-top-30
					.col-md-8
						figure.mainDetailPict
							img(src="images/article-img/detail-pict1.jpg")
							figcaption (Arief Kamaludin/Katadada)
							small Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, similique.
						article.textArticle
							p.
								Go-Jek sendiri sebenarnya tak pernah mengurus lisensi itu. Namun, perusahaan yang dipimpin Nadiem Makarim tersebut dengan cerdik telah mengambil langkah antisipasi dengan akuisisi startup financial technology (fintech) PonselPay milik PT MVCommerce (PT Dompet Anak Bangsa) pada akhir 2016 lalu. Meski tak populer, PonselPay sudah mendapat izin penerbitan e-money dari BI sejak 2014.
							p.
								Lisensi e-money PonselPay itulah yang kemudian digunakan oleh GoPay. Alhasil, ketika beberapa perusahaan teknologi seperti Grab, Tokopedia, hingga Bukalapak tersandung masalah lisensi, Go-Pay bisa tetap tenang melenggang.
							h4 GrabPay Mati Suri, Lalu Bangkit Lagi
							p.
								Hampir dua bulan ‘mati suri’ karena saldo yang tak bisa diisi, #[a(href="#") GrabPay akhirnya menemukan jalan keluar]. Grab menggandeng PT Visionet Internasional agar dapat menggunakan lisensi uang elektronik OVO untuk kembali menghidupkan GrabPay.
							p.
								“Mulai hari ini, penumpang Grab dapat kembali mengisi ulang GrabPay Credits dan menggunakan 'GrabPay, powered by OVO’ untuk membayar perjalanan mereka yang dipesan dengan aplikasi Grab,” Managing Director GrabPay Southeast Asia Jason Thompson, Kamis (14/12).
							p.
								#[a(href="#") Grab dan OVO sama-sama terafiliasi dengan Grup Lippo]. Pada Grab, konglomerasi milik keluarga Riady ini menanamkan modal sebesar US$ 100 juta melalui Venturra Capital (VC). PT Visionet International, penerbit OVO, berada di bawah naungan LippoX yang merupakan perusahaan digital payment milik Grup Lippo.
							p.
								Sebelum dengan OVO, Grab pada Rabu (13/12) lalu juga mengumumkan kerja sama dengan perusahaan aplikasi pembayaran mobile milik Yusuf Mansur, PayTren. Kerja sama keduanya bertujuan untuk membangun jaringan perusahaan mikro besar di Indonesia dengan target member mencapai 3 juta pengusaha.
							section.newsletter.inDetail
								//- img(src="images/icons/bel.png", alt="")
								strong News Alert
								p.
									Dapatkan informasi terkini seputar ekonomi dan bisnis langsung lewat email Anda
								form
									.customInput.withBorder
										input(type="email" name="" placeholder="Email anda...")
									//- p.small.
									//- 	Dengan mendaftar, Anda setuju untuk menerima Newsletter dari Katadata. Anda bisa melakukan Unsubscribe kapan pun.
									.recaptha-space
										img(src="images/recaptcha.png", alt="")
									input(type="submit" name="" value="Daftar" class="btn btn-blue-pastel")
							p.
								#[a(href="#") Sementara pada awal 2017 lalu, Grab juga mengakuisisi Kudo]. Startup online to offline (O2O) ini diakuisisi demi membantu Grab memperluas jangkauan operasionalnya
							//- section.newsletter.inDetail
							//- 	.row
							//- 		.col-md-6.col-xs-12
							//- 			img(src="images/icons/bel.png", alt="")
							//- 			strong News Alert
							//- 			p.
							//- 				Dapatkan informasi terkini seputar ekonomi dan bisnis langsung lewat email Anda
							//- 		.col-md-6.col-xs-12
							//- 			form
							//- 				.customInput.withBorder
							//- 					input(type="email" name="" placeholder="Email anda...")
							//- 				input(type="submit" name="" value="Daftar" class="btn btn-orange")
							//- 				p.small.
							//- 					Dengan mendaftar, Anda setuju untuk menerima Newsletter dari Katadata. Anda bisa melakukan Unsubscribe kapan pun.

							h4 Ambisi Go-Jek untuk Go-Pay
							p.
								Tak tinggal diam melihat rivalnya bangkit, Go-Jek segera unjuk gigi. Hanya berselang sehari dari pengumuman kemitraan Grab dan OVO, Go-Jek langsung menyatakan akuisisi tiga startup fintech sekaligus; Midtrans, Kartuku, dan Mapan.
							p.
								Chief Executive Officer (CEO) Go-Jek Nadiem Makarim berharap, Go-Pay bakal terus memimpin industri jasa dompet digital dan proses pembayaran independen. “Inisiatif ini merupakan langkah strategis dalam memperkuat pondasi dan langkah kami di industri fintech Indonesia,” kata Nadiem dalam keterangan resmi, Jakarta, Jumat (15/12).
							p.
								#[a(href="#") Seperti yang dilakukan Grab dengan Kudo dan Paytren], akuisisi ketiga fintech oleh Go-Jek itu dipastikan akan memperkuat basis transaksi Go-Pay, baik online maupun offline.
							p.
								Menurut Nadiem, akusisi ini menjadi lompatan perusahaan dari penyedia layanan transportasi hingga menguasai teknologi multi-platform yang fokus pada pembayaran digital. Kartuku, Midtrans, dan Mapan tercatat memproses total transaksi lebih dari Rp 67,5 triliun per tahun melalui kartu kredit, debit, maupun dompet digital.
						.sosmedBottomDetail.match-margin
							strong.
								Share
							ul.btn-sosmed
								li
									a(href="#" class="facebook" title="Facebook")
										i(class="fa fa-facebook" aria-hidden="true")
								li
									a(href="#" class="twitter" title="Twitter")
										i(class="fa fa-twitter" aria-hidden="true")
								li
									a(href="#" class="linkedin" title="Linkedin")
										i(class="fa fa-linkedin" aria-hidden="true")
								li
									a(href="#" class="g-plus" title="Google Plus")
										i(class="fa fa-google-plus" aria-hidden="true")
								//- li
								//- 	a(href="#" class="link-chain" title="Copy Link")
								//- 		i(class="fa fa-link" aria-hidden="true")
								li
									a(href="#" class="whatsapp" title="Whatsapp")
										i(class="fa fa-whatsapp" aria-hidden="true")
								li
									a(href="#" class="line" title="Line")
										img(src="images/icons/Line_Icon.png", alt="Line Chats")
						.tagLink.match-margin
							strong.
								Tags
							ul
								li
									a(href="#") Go-Pay
								li
									a(href="#") Go-Jek
								li
									a(href="#") Go-Pay
								li
									a(href="#") Go-Jek
					#sideBarDetail.col-md-4
						h3 Opini Terpopuler
						include includes/opini-terpopuler
		section.baca-juga
			.container.posRelative
				h3 Baca Juga
				a(href="#", class="linkIndex") #[span Indeks »]
				.arrowNavigation
					button.prevArrowNav
						i(class="fa fa-chevron-left" aria-hidden="true")
					button.nextArrowNav
						i(class="fa fa-chevron-right" aria-hidden="true")
				//- slider
				.berita-slide
					+otherNews('thumb1.jpg', 'Tiga Pulau Disulap Jadi Kapal Induk TNI Bakal Beroperasi 2019')
					+otherNews('thumb2.jpg', 'Kemenperin Usul Kemenkeu Pangkas Penerimaan Negara di Masela')
					+otherNews('thumb3.jpg', 'Tiga Pulau Disulap Jadi Kapal Induk TNI Bakal Beroperasi 2019')
					+otherNews('thumb2.jpg', 'Tiga Pulau Disulap Jadi Kapal Induk TNI Bakal Beroperasi 2019')
					+otherNews('thumb1.jpg', 'Kemenperin Usul Kemenkeu Pangkas Penerimaan Negara di Masela')