extends base/home
include components/mixings

block content
	section.kd-404
		.container
			.row
				.col-md-7
					p.
						Maaf, kami tidak menemukan halaman yang Anda cari.
					a(href="", class="btn") « KEMBALI KE BERANDA
				.col-md-5
					.errRight
						h2.err404 404
						span Page Not Found