extends base/error
include components/mixings

block content
	section.kd-504
		.wrapper-504
			img(src="./images/custom-error-img/504-fitting-lamp.png", alt="" class="fitting fadeInDown")
			img(src="./images/custom-error-img/504-alert-message.png", alt="" class="alert-message zoomIn")
			img(src="./images/custom-error-img/504-man.png", alt="" class="man-504 fadeInUp")