extends base/home
include components/mixings

block content
	section.kd-about
		include includes/hero-banner-about
		.container
			.row
				.col-md-2
					ul.about-side-nav
						li
							a(href="" class="select-mnu") Profil
						li
							a(href="kd-about(produk).html") Produk
						li
							a(href="") Tim
						li
							a(href="") Pedoman Pemberitaan Media Siber
						li
							a(href="") Karier
						li
							a(href="") Advertising
						li
							a(href="kd-about(produk).html") Hubungi Kami
				.col-md-7.about-content
					article
						p
							strong Software Architect &amp; Scrum Master
						p.
							As a software architect, you will provide best-fit architectural solutions for one or more projects. you will assist in defining scope and sizing of work and anchor Proof of Concept developments. You will provide solution architecture for the business problem, platform integration with third party services, designing and developing complex features for business needs.
						p.
							As a scrum master, you will provide effective collaboration, facilitation, leadership and coaching skills supporting the agile development process and delivery of each project. You should do make a significant impact, developing and coaching new scrum teams and changing the way of work. You will enforce the agile tenants, removing impediments and promoting empowerment. Support agile based SDLC for software development creating necessary standards, tools and best practices in a clearly document form.
						p.
							We invite the nation’s best professionals with strong capability to give our customer their best business solutions &amp; best customer experience.
						p #[strong Software Architect] #[br] #[strong Employment Type:] Temporary
						p #[strong Job Description]
						ul.job-desc
							li Develop, improve, and maintain high quality of the architecture and codebase.
							li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, repudiandae?
							li Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab optio perspiciatis vero corrupti, error nam odio nisi? Perferendis, assumenda nesciunt.
						p #[strong Requirement]
						ul.job-desc
							li Lorem ipsum dolor sit amet.
							li Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, cum?
							li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora omnis praesentium repellat!
						p.
							#[strong Only selected candidates will be contacted]
				.col-md-3