extends base/home
include components/mixings

block content
	section.kd-about
		.hero-banner-about
			//- a(href="#")
			//- 	img(src="images/icons/icon-play.png", alt="")
			figure
				img(src="images/foto-profil-kd.jpg")
		.container
			.row
				.col-md-2
					ul.about-side-nav
						li
							a(href="kd-about.html") Profil
						li
							a(href="kd-about(produk).html") Produk
						li
							a(href="" class="select-mnu") Tim
						li
							a(href="") Pedoman Pemberitaan Media Siber
						li
							a(href="") Karier
						li
							a(href="") Advertising
						li
							a(href="kd-about(hubungi).html") Hubungi Kami
				.col-md-7.about-content
					article
						h3 Tim Kami
						.struktur-tim
							strong.group-title Board Of Directors
							ul
								li
									p.job-title Chief Executive Officer | Editor-in-Chief
									span.name Metta Dharmasaputra
								li
									p.job-title Chief Content Officer
									span.name Heri Susanto
								li
									p.job-title Chief Operating Officer
									span.name Ade Wahyudi

							strong.group-title Redaksi/News
							ul
								li
									p.job-title Managing Editor
									span.name Yura Syahrul
								li
									p.job-title Deputy Managing Editor
									span.name Muchamad Nafi (katadata.co.id), Amal Ihsan Hadian (dinside.id)
								li
									p.job-title Editor
									span.name Yuliawati, Hari Widowati, Safrezi Fitra, Pingit Aria Mutiara Fajrin, Arnold Dhani, Marthin Sirait, Martha Ruth Thertina Ekarina
								li
									p.job-title Engagement Editor
									span.name Nur Farida Ahniar
								li
									p.job-title Reporter
									span.name Desy Setyowati, Ameidyo Daud Nasution, Anggita Rezki Amelia, Dimas Jarot Bayu Prakoso, Michael Reily Praditya Putra, Rizky Alika, Ihya Ulum Aldin
								li
									p.job-title Translator
									span.name Moh. Arsyad Paripurna

							strong.group-title Research &amp; Publication
							ul
								li
									p.job-title Head of Research
									span.name Adek Media Roza
								li
									p.job-title Publication Manager
									span.name Aria Wiratma Yudhistira
								li
									p.job-title Jr. Manager Research
									span.name Anshar Dwi Wibowo
								li
									p.job-title Researcher
									span.name Adipurno Widi Putranto, Jeany Hartriani Nathacia Suhendra, Pepri Saputra
								li
									p.job-title Jr. Researcher
									span.name Widya Nandini
								li
									p.job-title Writer
									span.name Muhammad Firman Eko Putra

							strong.group-title Data
							ul
								li
									p.job-title Head of Data
									span.name Padjar Iswara
								li
									p.job-title Data Manager
									span.name Agus Dwi Darmawan
								li
									p.job-title Assistant Manager Data Center
									span.name Viva Budi Kusnandar
								li
									p.job-title Data Analyst Staff
									span.name Nazmi Haddyat Tamara
								li
									p.job-title Communication Program
									span.name Aliefaini Pryanisa

							strong.group-title Visual
							ul
								li
									p.job-title Head of Visual Division
									span.name Lambok E. Martin Hutabarat
								li
									p.job-title Design &amp; Visual Editor
									span.name Robby
								li
									p.job-title Graphic Designer
									span.name Ade Rahmat Hidayat, Dani Nurbiantoro, Cicilia Sri Bintang Lestari, Muhamad Yana
								li
									p.job-title Web Designer
									span.name Firman Firdaus
								li
									p.job-title Illustrator
									span.name Betaria Sarulina
								li
									p.job-title Photo &amp; Video Editor
									span.name Donang Wahyu Setyo Widati
								li
									p.job-title Photographer
									span.name Arif K. Rachmad Laksono
								li
									p.job-title Multimedia Creator
									span.name Andi Mashury

							strong.group-title Marketing
							ul
								li
									p.job-title VP Commercial &amp; Business Development
									span.name Tomy Prastowo
								li
									p.job-title GM Strategy &amp; Business Analyst
									span.name Faisyal Firdaus
								li
									p.job-title GM Sales &amp; Marketing
									span.name Andikha
								li
									p.job-title Head of Marketing
									span.name Moh. Agung Djahuri S.
								li
									p.job-title Sales Manager
									span.name Imelda E. Manurung, Tommy Januarto, Sugiono
								li
									p.job-title Marketing &amp; Promotion Manager
									span.name Desy Safina
								li
									p.job-title Product Manager
									span.name Aldo Geovanny
								li
									p.job-title Account Executive
									span.name Dara Krisna Albitya, Izni Fitriandani
								li
									p.job-title Admin Marketing
									span.name Prilia Qiftyah Budiandari
								li
									p.job-title Digital Marketing
									span.name Firman Winardi

							strong.group-title Information Technology
							ul
								li
									p.job-title IT Manager
									span.name Dedy Irawan
								li
									p.job-title Software Engineer Jr. Manager
									span.name Arif Firmansyah
								li
									p.job-title Software Engineer	
									span.name Bayu Mahdhani
								li
									p.job-title Web Developer
									span.name Donny Faturrachman, Ricky Alexander Titaley
								li
									p.job-title IT Suppport
									span.name Ulil Albab
								li
									p.job-title Data Steward
									span.name Ibnu Muhammad, Fakhri Kurniawan

							strong.group-title Supporting - Finance &amp; Accounting
							ul
								li
									p.job-title Finance &amp; Accounting Jr. Manager
									span.name Fadlly
								li
									p.job-title Finance &amp; Accounting Staff
									span.name Lestari Widyastuti, Windy Megawati Saputeri

							strong.group-title Supporting - Hr &amp; Ga
							ul
								li
									p.job-title HR &amp; GA Jr. Manager
									span.name Dewi Ulfa Sari
								li
									p.job-title Program Administrator
									span.name Nur Fadilah Hidra
								li
									p.job-title Admin Supporting Staff
									span.name Syahyono, Tanuri, Muhamad Nur Azmi

					.prev-next-about
						a(href="#", class="btn btn-link pull-left")
							i(class="far fa-angle-double-left")
							|  [Prev-title-content]
						a(href="#", class="btn btn-link pull-right")
							| [Next-title-content] 
							i(class="far fa-angle-double-right")
				.col-md-3