extends base/home
include components/mixings

block content
	section.kd-about
		.hero-banner-about
			a(href="#")
				img(src="images/icons/icon-play.png", alt="")
			figure
				img(src="images/foto-profil-kd.jpg")
		.container
			.row
				.col-md-2
					ul.about-side-nav
						li
							a(href="" class="select-mnu") Profil
						li
							a(href="kd-about(produk).html") Produk
						li
							a(href="") Tim
						li
							a(href="") Pedoman Pemberitaan Media Siber
						li
							a(href="") Karier
						li
							a(href="") Advertising
						li
							a(href="kd-about(produk).html") Hubungi Kami
				.col-md-7.about-content
					article
						p.
							#[strong KATADATA.co.id] adalah perusahaan media, data dan riset online di bidang ekonomi dan bisnis. Didirikan pada 1 April 2012 di Jakarta, perusahaan ini menyajikan berita, informasi, data, dan hasil riset secara mendalam bagi kepentingan para pemimpin bisnis dan pengambil kebijakan, namun dikemas secara lugas dan atraktif agar mudah dipahami publik. Karena itu, berita dan informasi tak hanya disajikan dalam bentuk teks, melainkan juga dalam tampilan visual yang memikat.
						p.
							Dengan kata lain, kami berupaya menyederhanakan persoalan yang rumit, tanpa harus kehilangan esensinya.  "Simplicity is the Ultimate Sophistication," seperti kata Leonardo da Vinci, yang kami jadikan motto perusahaan. Tim Katadata terdiri dari para jurnalis dan periset berpengalaman di bidang energi, finansial, makroekonomi, perdagangan dan infrastruktur.
				.col-md-3