extends base/home
include components/mixings

block content
	section.kd-about
		include includes/hero-banner-about
		.container
			.row
				.col-md-2
					ul.about-side-nav
						li
							a(href="kd-about.html") Profil
						li
							a(href="kd-about(produk).html"  class="select-mnu") Produk
						li
							a(href="") Tim
						li
							a(href="") Pedoman Pemberitaan Media Siber
						li
							a(href="") Karier
						li
							a(href="") Advertising
						li
							a(href="kd-about(hubungi).html") Hubungi Kami
				.col-md-7.about-content
					article
						strong Berita
						p.
							Katadata.co.id fokus dalam menyajikan berita pilihan dan berkualitas (quality content), yang ditulis secara komprehensif dan mendalam (in-depth news). Dilengkapi pula dengan infografik dan foto memikat, serta opini dan wawancara dengan para pengambil kebijakan dan pemimpin bisnis.
						
						strong Riset
						p.
							Di tengah keterbatasan waktu para pemimpin bisnis dan pengambil kebijakan, kami menyediakan pengiriman berita-berita terpenting dan inside info secara reguler melalui email (newsletter) khusus kepada para pelanggan. Selain itu, Katadata bekerjasama dengan berbagai pihak dalam pembuatan berbagai riset ekonomi dan bisnis.

						strong Data
						p.
							Untuk menunjang produk berita dan riset, Katadata melansir produk dan layanan terbaru Databoks. Portal data dan statistik ini ditujukan sebagai sarana efektif untuk mempublikasikan berbagai data dan informasi kepada publik, serta menjadi sumber pencarian data yang dapat dimanfaatkan dengan mudah oleh para pengguna

						strong Communication for Research
						p.
							Banyak hasil riset berkualitas dan penting, namun kerap tidak terpublikasikan secara luas dan rumit sehingga tidak mudah dikonsumsi oleh publik. Untuk menjawab itu, Katadata mengolah materi publikasi dan riset yang kompleks dari lembaga riset atau perusahaan, ke dalam bentuk tulisan dan tampilan visual (infografik, motion-graphic, video) yang atraktif dan mudah
					.prev-next-about
						a(href="#", class="btn btn-link pull-left")
							i(class="far fa-angle-double-left")
							|  [Prev-title-content]
						a(href="#", class="btn btn-link pull-right")
							| [Next-title-content] 
							i(class="far fa-angle-double-right")
				.col-md-3
