extends base/home
include components/mixings

block content
	.second-head
		.container
			.second-head-left.pull-left
				+breadcrumb(["Home", "Telaah"])
			.second-head-right
	section.kd-home-telaah
		.container
			.head-and-caption.shortcutBorderBottom.margin-bottom-25
				h2 Telaah
				strong Menelisik lebih dalam seputar isu-isu terkini.
				ul.lang
					li #[a(href="#" class="active") Indonesia]
					li #[a(href="#") Inggris]
			.row.is-table-row-top.margin-bottom-25
				.col-md-4
					div.itemList
						a(href="#")
							figure
								img(src="https://placeimg.com/640/480/any", alt="")
							h4 Indonesia dalam Satu Dekade Deindustrialisasi
						p.
							Sekitar 20 tahun lalu, sektor manufaktur Indonesia dipuji Bank Dunia karena menjanjikan ekonomi berkualitas. Sekarang, kondisinya sedang meredup. Sektor ini dalam 10 tahun terakhir tumbuh lambat.
						p.infoArtikel Oleh #[strong Agus Dwi Darmawan], 6 Januari 2018
				.col-md-4
					div.itemList
						a(href="#")
							figure
								img(src="https://placeimg.com/640/480/people", alt="")
							h4 Indonesia dalam Satu Dekade Deindustrialisasi
						p.
							Sekitar 20 tahun lalu, sektor manufaktur Indonesia dipuji Bank Dunia karena menjanjikan ekonomi berkualitas. Sekarang, kondisinya sedang meredup. Sektor ini dalam 10 tahun terakhir tumbuh lambat.
						p.infoArtikel Oleh #[strong Agus Dwi Darmawan], 6 Januari 2018
				.col-md-4
					div.itemList
						a(href="#")
							figure
								img(src="https://placeimg.com/640/480/any", alt="")
							h4 Indonesia dalam Satu Dekade Deindustrialisasi
						p.
							Sekitar 20 tahun lalu, sektor manufaktur Indonesia dipuji Bank Dunia karena menjanjikan ekonomi berkualitas. Sekarang, kondisinya sedang meredup. Sektor ini dalam 10 tahun terakhir tumbuh lambat.
						p.infoArtikel Oleh #[strong Agus Dwi Darmawan], 6 Januari 2018
		
			.row.is-table-row-top.margin-bottom-25
				.col-md-4
					div.itemList
						a(href="#")
							figure
								img(src="https://placeimg.com/640/480/tech", alt="")
							h4 Indonesia dalam Satu Dekade Deindustrialisasi
						p.
							Sekitar 20 tahun lalu, sektor manufaktur Indonesia dipuji Bank Dunia karena menjanjikan ekonomi berkualitas. Sekarang, kondisinya sedang meredup. Sektor ini dalam 10 tahun terakhir tumbuh lambat.
						p.infoArtikel Oleh #[strong Agus Dwi Darmawan], 6 Januari 2018
				.col-md-4
					div.itemList
						a(href="#")
							figure
								img(src="https://placeimg.com/640/480/any", alt="")
							h4 Indonesia dalam Satu Dekade Deindustrialisasi
						p.
							Sekitar 20 tahun lalu, sektor manufaktur Indonesia dipuji Bank Dunia karena menjanjikan ekonomi berkualitas. Sekarang, kondisinya sedang meredup. Sektor ini dalam 10 tahun terakhir tumbuh lambat.
						p.infoArtikel Oleh #[strong Agus Dwi Darmawan], 6 Januari 2018
				.col-md-4
					div.itemList
						a(href="#")
							figure
								img(src="https://placeimg.com/640/480/random", alt="")
							h4 Indonesia dalam Satu Dekade Deindustrialisasi
						p.
							Sekitar 20 tahun lalu, sektor manufaktur Indonesia dipuji Bank Dunia karena menjanjikan ekonomi berkualitas. Sekarang, kondisinya sedang meredup. Sektor ini dalam 10 tahun terakhir tumbuh lambat.
						p.infoArtikel Oleh #[strong Agus Dwi Darmawan], 6 Januari 2018
			.shortcutBorderBottom.margin-bottom-25
			a(href="#", class="btn block-half switch-50 xs-switch-75") Telaah Lainnya
			