extends base/home
include components/mixings

block content
	.second-head
		.container
			.second-head-left
				+breadcrumb(["Home", "Inovasi"])
	section.kd-inovasi
		.container
			.head-and-caption.shortcutBorderBottom.margin-bottom-25
				strong.titleItalic Inovasi
				strong Views from the experts
			.row
				.col-md-9
					.headline-inovasi
						p.small 1 Jan 2018
						article
							h2 #[a(href="") Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin]
							figure
								a(href="")
									img(src="https://picsum.photos/600/400/?random")
									figcaption Arief Kamaludin/Katadata
						ul.hl-list-inovasi
							li
								a(href="") Bila Ingin Bertahan, Harus Bekerja Sama dengan Fintech
								img(src="images/avatar/opini-pict1.jpg", alt="", class="img-circle")
								p Rudi Hartono
							li
								a(href="") Bila Ingin Bertahan, Harus Bekerja Sama dengan Fintech
								img(src="images/avatar/opini-pict1.jpg", alt="", class="img-circle")
								p Rudi Hartono
							li
								a(href="") Bila Ingin Bertahan, Harus Bekerja Sama dengan Fintech
								img(src="images/avatar/opini-pict1.jpg", alt="", class="img-circle")
								p Rudi Hartono
					.listing.avatar
						ul
							li
								p.small 1 Jan 2018
								article
									h4
										a(href="#")
											Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
									p.
										Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
								figure
									img(src="images/avatar/opini-pict1.jpg", alt="")
									figcaption Rudi Hartono
							li
								p.small 1 Jan 2018
								article
									h4
										a(href="#")
											Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
									p.
										Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
								figure
									img(src="images/avatar/opini-pict1.jpg", alt="")
									figcaption Rudi Hartono
							li
								p.small 1 Jan 2018
								article
									h4
										a(href="#")
											Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
									p.
										Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
								figure
									img(src="images/avatar/opini-pict1.jpg", alt="")
									figcaption Rudi Hartono
							li
								p.small 1 Jan 2018
								article
									h4
										a(href="#")
											Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
									p.
										Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
								figure
									img(src="images/avatar/opini-pict1.jpg", alt="")
									figcaption Rudi Hartono
							li
								p.small 1 Jan 2018
								article
									h4
										a(href="#")
											Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
									p.
										Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
								figure
									img(src="images/avatar/opini-pict1.jpg", alt="")
									figcaption Rudi Hartono
							li
								p.small 1 Jan 2018
								article
									h4
										a(href="#")
											Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
									p.
										Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
								figure
									img(src="images/avatar/opini-pict1.jpg", alt="")
									figcaption Rudi Hartono
							li
								p.small 1 Jan 2018
								article
									h4
										a(href="#")
											Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
									p.
										Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
								figure
									img(src="images/avatar/opini-pict1.jpg", alt="")
									figcaption Rudi Hartono
						a(href="#" class="btn block-half") Berita Lainnya
				.col-md-3
					.otherBanner.clear-top-padding.no-top-border
						img(src="images/banners/banner-300-klinik-hukum.jpg", alt="")
						img(src="images/banners/im3.jpg", alt="")