extends base/home
include components/mixings

block content
	.second-head
		.container
			.second-head-left.pull-left
				+breadcrumb(["Home", "Infomark", "Projects"])
			.second-head-right
	section.infomark
		.container
			.infomarkHead
				h3 Infomark
				ul.navInfomark
					li
						a(href="#") Tentang Infomark
					li
						a(href="#") Layanan/Produk
					li
						a(href="#") Klien
					li
						a(href="#") Kontak
			.row
				.col-md-12
					ul.free-box-list
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/any", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/tech", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/people", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/arch", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/any", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/tech", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
					.shortcutBorderBottom.margin-bottom-25
					.text-center
						a(href="#" class="btn width-50 xs-width-full margin-bottom-25") Muat Lebih Banyak