extends base/home
include components/mixings

block content
	section
		.container
			.head-and-caption.shortcutBorderBottom.margin-bottom-25.no-breadcrumb.text-center
				span Kirim Ulang Aktivasi
			.row
				.col-md-6.col-md-offset-3
					form.formSearch.removeBorder.text-center
						.form-group
							input(type="text" class="form-control" placeholder="Email anda...")
						button(class="btn btn-block btn-blue-pastel margin-bottom-10") Kirim
						a(href="", class="btn btn-link") Kembali ke Login »