extends base/home
include components/mixings

block content
	.second-head
		.container
			.second-head-left.pull-left
				+breadcrumb(["Home", "Laporan Khusus"])
			.second-head-right
	section.kd-lapsus
		.container
			.head-and-caption.shortcutBorderBottom.margin-bottom-25
				h2 Laporan Khusus
				strong Sajian laporan mendalam khas Katadata.
			.row
				.col-md-12.lapsus-thumb
					h3 Telaah
					ul.free-box-list
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/any", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/tech", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/people", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/arch", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/any", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/tech", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
					a(href="#", class="btn") Telaah Lainnya
					.shortcutBorderBottom
			.row
				.col-md-12.telaah-thumb
					h3 Laporan Khusus Lainnya
					ul.free-box-list
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/any", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/tech", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/people", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/arch", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/any", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="https://placeimg.com/640/480/tech", alt="")
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
					a(href="#", class="btn") Muat Lebih Banyak