extends base/home
include components/mixings

block content
	.second-head
		.container
			.second-head-left.pull-left
				+breadcrumb(["Home", "Berita"])
			.second-head-right
				
	section.multimedia-home
		.container
			.head-and-caption
				h2 Multimedia
			.row
				.topik-pil
					strong Topik Pilihan
					+topikPil(['Energi', 'Digital', 'Makro', 'Nasional', 'Pertambangan', 'Perdagangan', 'Bursa'])
			a(href="#")
				h3 Video »
			a(href="#", class="linkIndex pull-right") Halaman Video »
		section.video-slider-wrapper
			.container
				.row
					.col-md-10.col-md-offset-1.col-xs-12
						.arrowNavigation4
							a.prevArrowNav4
								i(class="fa fa-chevron-left" aria-hidden="true")
							a.nextArrowNav4
								i(class="fa fa-chevron-right" aria-hidden="true")
						.video-slider
							.item.image
								span.loading Loading...
								figure
									.slide-image.slide-media
										img.image-entity(data-lazy='images/multimedia/vid-slide3.jpg')
								a(href="kd-video-detail.html").caption
							.item.image
								span.loading Loading...
								figure
									.slide-image.slide-media
										img.image-entity(data-lazy='images/multimedia/vid-slide2.jpg')
								a(href="kd-video-detail.html").caption

		.container
			.row
				.col-md-9
					ul.video-list
						li
							a(href="#")
								img(src="images/multimedia/vid-slide1.jpg", alt="")
							a(href="#", alt="{topik}", class="topik-link") Energi
							span 1:58
							a.linkVid.
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, temporibus.
						li
							a(href="#")
								img(src="images/multimedia/vid-slide2.jpg", alt="")
							a(href="#", alt="{topik}", class="topik-link") Energi
							span 1:58
							a.linkVid.
								Target Pajak Tinggi, Pengusaha Resah
						li
							a(href="#")
								img(src="images/multimedia/video1.jpg", alt="")
							a(href="#", alt="{topik}", class="topik-link") Energi
							span 1:58
							a.linkVid.
								Target Pajak Tinggi, Pengusaha Resah
						li
							a(href="#")
								img(src="images/multimedia/video1.jpg", alt="")
							a(href="#", alt="{topik}", class="topik-link") Energi
							span 1:58
							a.linkVid.
								Target Pajak Tinggi, Pengusaha Resah
						li
							a(href="#")
								img(src="images/multimedia/vid-slide1.jpg", alt="")
							a(href="#", alt="{topik}", class="topik-link") Energi
							span 1:58
							a.linkVid.
								Target Pajak Tinggi, Pengusaha Resah
						li
							a(href="#")
								img(src="images/multimedia/vid-slide2.jpg", alt="")
							a(href="#", alt="{topik}", class="topik-link") Energi
							span 1:58
							a.linkVid.
								Target Pajak Tinggi, Pengusaha Resah
				.col-md-3
					h3 Video Terpopuler
					ul.list-terpopuler
						li
							a
								figure
									img(src="images/thumb-img/vid-thumb1.jpg", alt="")
								p Megahnya Stadion Utama Gelora Bung Karno
						li
							a
								figure
									img(src="images/thumb-img/vid-thumb2.jpg", alt="")
								p Megahnya Stadion Utama Gelora Bung Karno
						li
							a
								figure
									img(src="images/thumb-img/vid-thumb3.jpg", alt="")
								p Megahnya Stadion Utama Gelora Bung Karno
						li
							a
								figure
									img(src="images/thumb-img/vid-thumb1.jpg", alt="")
								p Megahnya Stadion Utama Gelora Bung Karno
						li
							a
								figure
									img(src="images/thumb-img/vid-thumb3.jpg", alt="")
								p Megahnya Stadion Utama Gelora Bung Karno
			.shortcutBorderTop.margin-bottom-25
			.row
				.col-md-12.text-center
					a(href="#" class="btn width-50 xs-width-full") Ke Halaman Video
			.shortcutBorderBottom.padding-top-25.margin-bottom-25
			a(href="#") #[h3 Foto »]
			a(href="#", class="linkIndex pull-right") Halaman Foto »

			.row
				.col-md-9
					.foto-head
						figure
							img(src="images/foto-head.jpg", alt="")
						article.fotoInfo
							div.layerBox
								span
							a(href="#") Lihat Galeri
							p 15 Foto
				.col-md-3
					a(href="#", alt="{topik}", class="topik-link") Infrastruktur
					a(href="#", class="linkVid margin-bottom-15") Mengejar Pesawat dengan Kereta Bandara
					p.
						Waktu tempuh kereta dari Stasiun Sudirman Baru menuju Bandara Soekarno-Hatta sekitar 54 menit.
			.shortcutBorderBottom.margin-bottom-25
			.row
				.col-md-9
					ul.foto-list
						li
							a(href="#")
								img(src="images/thumb-img/vid-thumb1.jpg", alt="")
								article.fotoInfo
									div.layerBox
										span
									p 15
							a(href="#", alt="{topik}", class="topik-link") Infrastruktur
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="images/thumb-img/vid-thumb2.jpg", alt="")
								article.fotoInfo
									div.layerBox
										span
									p 15
							a(href="#", alt="{topik}", class="topik-link") Infrastruktur
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="images/thumb-img/vid-thumb3.jpg", alt="")
								article.fotoInfo
									div.layerBox
										span
									p 15
							a(href="#", alt="{topik}", class="topik-link") Infrastruktur
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
						li
							a(href="#")
								img(src="images/thumb-img/vid-thumb2.jpg", alt="")
								article.fotoInfo
									div.layerBox
										span
									p 15
							a(href="#", alt="{topik}", class="topik-link") Infrastruktur
							a.linkVid.
								Mengejar Pesawat dengan Kereta Bandara
				.col-md-3
					h3 Foto Terpopuler
					ul.list-terpopuler
						li
							a
								figure
									img(src="images/thumb-img/vid-thumb1.jpg", alt="")
								p Megahnya Stadion Utama Gelora Bung Karno
						li
							a
								figure
									img(src="images/thumb-img/vid-thumb2.jpg", alt="")
								p Megahnya Stadion Utama Gelora Bung Karno
						li
							a
								figure
									img(src="images/thumb-img/vid-thumb3.jpg", alt="")
								p Megahnya Stadion Utama Gelora Bung Karno
						li
							a
								figure
									img(src="images/thumb-img/vid-thumb1.jpg", alt="")
								p Megahnya Stadion Utama Gelora Bung Karno
						li
							a
								figure
									img(src="images/thumb-img/vid-thumb3.jpg", alt="")
								p Megahnya Stadion Utama Gelora Bung Karno
			.shortcutBorderTop.margin-bottom-25
			.row
				.col-md-12.text-center
					a(href="#" class="btn width-50 xs-width-full") Ke Halaman Foto