extends base/home
include components/mixings

block content
	section
		.container
			.head-and-caption.shortcutBorderBottom.margin-bottom-25.no-breadcrumb
				h2 Redaksi
				a(href="#", class="linkIndex pull-right") Masthead » 
	section.profil-penulis
		.container
			.row
				.col-md-9
					.bio-penulis
						figure
							img(src="images/penulis/yura.jpg")
						article
							strong Yura Syahrul
							p.
								Yura Syahrul is Etiam massa nibh, vulputate non dictum eget, tristique quis erat. Sed consequat lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget. t lorem fringilla odio elementum imperdiet. Nunc ultricies tortor elit, et maximus urna mattis eget. Lorem fringilla odio elementum imperdiet.
				.col-md-3
					.followSosmed.margin-bottom-20
						span Ikuti Saya:
						ul
							li
								a(href="#" class="facebook")
									<i class="fa fa-facebook"></i>
							li
								a(href="#" class="twitter")
									<i class="fa fa-twitter"></i>
							li
								a(href="#" class="linkedin")
									<i class="fa fa-linkedin"></i>
			.shortcutBorderBottom.margin-bottom-20
			.row
				.col-md-9.listing
					+formSearch6
					ul
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
						li
							span
								p.small 1 Jan 2018
							article
								h4
									a(href="#")
										Mata Uang Digital Ripple Makin Populer, Lonjakan Harga Lampaui Bitcoin
								p.
									Industri dalam negeri akan tumbuh. Kemudian industri-industri tersebut bisa memberikan pendapatan lagi bagi negara melalui pajak.
							figure
								img(src="images/thumb-img/thumb1.jpg", alt="")
					a(href="#" class="btn block-half") Artikel Lainnya