extends base/home
include components/mixings

block content
	section
		.container
			.head-and-caption.shortcutBorderBottom.margin-bottom-25.no-breadcrumb.text-center
				h2 Reset Password Anda
			.row
				.col-md-6.col-md-offset-3
					p.margin-bottom-10.
						Anda lupa password? Jangan khawatir. Kami akan mengirimkan email yang berisi langkah-langkah untuk me-reset password Anda.
					form.formSearch.removeBorder.text-center
						.form-group
							input(type="email" class="form-control" placeholder="Email anda...")
						button(class="btn btn-block btn-blue-pastel margin-bottom-10") Kirim
						a(href="", class="btn btn-link") Kembali ke Login »