extends base/home
include components/mixings

block content
	section.kd-subscribe
		.container
			.head-and-caption.shortcutBorderBottom.margin-bottom-35.no-breadcrumb.text-center
				span.width-75 Jadikan “quality data journalism” sebagai menu Anda dalam mengunyah informasi sehari-hari.
			.row
				.col-md-10.col-md-offset-1
					.row
						.col-md-6.margin-mm-bottom-30.margin-tb-bottom-30
							+kdLogin2
						.col-md-1
						.col-md-5
							.subscribe-info
								p
									span.
										Dengan mendaftar, Anda dapat:
								ul
									li
										p.
											Mengakses seluruh artikel, data, dan berbagai statistik di Databoks dengan satu akun.
									li
										p.
											Men-download atau meng-export statistik dalam berbagai format file (docs, sheet, slide, atau pdf).
									li
										p.
											Personalisasi pengalaman Anda dalam menggunakan statistik Databoks (notifikasi email, membagikan tautan, melekatkan/embed statistik Databoks pada website Anda, dll.).
									li
										p.
											Mendapatkan promo spesial untuk produk-produk Databoks.
					