extends base/member
include components/mixings

block member-caption
	.container
		.row
			.col-md-12
				.member-cap
					.member-left
						p Hello, #[strong Bayu Madhani]
					.member-right
						p Anda menjadi member sejak 20 Februari 2018

block member-content
	.container
		.member-cntn
			.row
				.col-md-2
					aside
						ul
							li
								a(href="#") Profil
							li
								a(href="#") Datablog/Analisis
							li
								a(href="#") Koleksi
							li
								a(href="#") Pesan Masuk
							li.pilih
								a(href="#") Alert
							li
								a(href="#") Keluar
				.col-md-10
					.box-member
						.box-member-header
							.box-header-left
								h3 Email Alert
							.box-header-right
								a(href="" class="btn btn-blue-pastel") 
									i(class="fa fa-arrow-circle-left")
									|  Kembali
						.box-member-body
							p tidak ada data




//- block content
	//- .second-head
	//- 	.container
	//- 		.second-head-left.pull-left
	//- 			+breadcrumb(["Home", "Indeks"])
	//- 		.second-head-right
	//- section.indeks-pages
	//- 	.container