extends base/member
include components/mixings

block member-caption
	.container
		.row
			.col-md-12
				.member-cap
					.member-left
						p Hello, #[strong Bayu Madhani]
					.member-right
						p Anda menjadi member sejak 20 Februari 2018

block member-content
	.container
		.member-cntn
			.row
				.col-md-2
					aside
						ul
							li.pilih
								a(href="#") Profil
							li
								a(href="#") Datablog/Analisis
							li
								a(href="#") Koleksi
							li
								a(href="#") Pesan Masuk
							li
								a(href="#") Alert
							li
								a(href="#") Keluar
				.col-md-10
					.box-member
						.box-member-header
							.box-header-left
								h3 Ubah Password
							.box-header-right
								a(href="" class="btn btn-blue-pastel") 
									i(class="fa fa-arrow-circle-left")
									|  Kembali
						.box-member-body
							p.margin-bottom-20 Untuk mengubah password, isi informasi di bawah.
							.row
								.col-md-5
									form(action="" method="" class="formSearch removeBorder")
										.form-group
											label(for="oldPassword") Password Lama*
											input(type="password" class="form-control" id="oldPassword")
										.form-group
											label(for="newPassword") Password Baru*
											input(type="password" class="form-control" id="newPassword")
										.form-group
											label(for="confirmNewPassword") Ulangi Password*
											input(type="password" class="form-control" id="confirmNewPassword")
										button.btn.btn-blue-pastel.margin-right-5 Simpan
										button.btn Batal



//- block content
	//- .second-head
	//- 	.container
	//- 		.second-head-left.pull-left
	//- 			+breadcrumb(["Home", "Indeks"])
	//- 		.second-head-right
	//- section.indeks-pages
	//- 	.container