extends base/for-video-detail
include components/mixings

block content
	section.video-detail
		section.video-head-detail
			//- iframe(src="https://www.youtube.com/embed/9No-FiEInLA?enablejsapi=1&amp;start=0&amp;autoplay=1&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
			//- iframe(id="yt" src="https://www.youtube.com/embed/X9ELENWZqLE?enablejsapi=1&controls=1&fs=0&iv_load_policy=3&rel=0&showinfo=1&loop=0" frameborder="0" allowfullscreen)
			iframe(id="yt" src="https://www.youtube.com/embed/ZpPv7ubYJ5Y?enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
			.videoInfo.closeInfo
				.infoWrapper
					a(href="#", alt="{topik}", class="topik-link") Infrastruktur
					p.infoArtikel 27 Januari 2018 #[span 15 Foto]
					h1.putih Mengejar Pesawat dengan Kereta Bandara
					p.
						Presiden Joko Widodo (Jokowi) meresmikan kereta Bandara Soekarno-Hatta, Selasa, 2 Januari kemarin. Berdasarkan Peraturan Presiden (Perpres) Nomor 83 Tahun 2011, Kereta Api Indonesia (KAI) bersama PT Angkasa Pura II (Persero) membentuk anak usaha bernama PT Railink untuk mengoperasikan kereta bandara.
					.topik-terkait
						span Tags: 
						ul
							li
								a(href="#") kereta,
							li
								a(href="#") pt inka,
							li
								a(href="#") ekspor,
							li
								a(href="#") transportasi
					.share-it
						p.putih.margin-bottom-10 Sebarkan:
						ul.btn-sosmed
							li
								a(title="Facebook" class="facebook")
									i(class="fa fa-facebook" aria-hidden="true")
							li
								a(title="Twitter" class="twitter")
									i(class="fa fa-twitter" aria-hidden="true")
							li
								a(title="Pinterest" class="pinterest")
									i(class="fa fa-pinterest" aria-hidden="true")
							li
								a(title="Google Plus" class="g-plus")
									i(class="fa fa-google-plus" aria-hidden="true")
							li
								a.btn-like
									i(class="fa fa-thumbs-up" aria-hidden="true")
									|	like 312
		.container
			.row
				.col-md-9
					ul.video-list
						li
							a(href="#")
								img(src="images/thumb-img/vid-thumb1.jpg", alt="")
							a(href="#", alt="{topik}", class="topik-link") Energi
							span 1:58
							a.linkVid.
								Target Pajak Tinggi, Pengusaha Resah
						li
							a(href="#")
								img(src="images/thumb-img/vid-thumb2.jpg", alt="")
							a(href="#", alt="{topik}", class="topik-link") Energi
							span 1:58
							a.linkVid.
								Target Pajak Tinggi, Pengusaha Resah
						li
							a(href="#")
								img(src="images/thumb-img/vid-thumb3.jpg", alt="")
							a(href="#", alt="{topik}", class="topik-link") Energi
							span 1:58
							a.linkVid.
								Target Pajak Tinggi, Pengusaha Resah
						li
							a(href="#")
								img(src="images/thumb-img/vid-thumb2.jpg", alt="")
							a(href="#", alt="{topik}", class="topik-link") Energi
							span 1:58
							a.linkVid.
								Target Pajak Tinggi, Pengusaha Resah
						li
							a(href="#")
								img(src="images/thumb-img/vid-thumb1.jpg", alt="")
							a(href="#", alt="{topik}", class="topik-link") Energi
							span 1:58
							a.linkVid.
								Target Pajak Tinggi, Pengusaha Resah
						li
							a(href="#")
								img(src="images/thumb-img/vid-thumb3.jpg", alt="")
							a(href="#", alt="{topik}", class="topik-link") Energi
							span 1:58
							a.linkVid.
								Target Pajak Tinggi, Pengusaha Resah
					.shortcutBorderTop.margin-bottom-25
					a(href="#" class="btn block-half") Video Lainnya
				.col-md-3
					h3 Video Terpopuler
					ul.list-terpopuler
						li
							a
								figure
									img(src="images/thumb-img/vid-thumb1.jpg", alt="")
								p Megahnya Stadion Utama Gelora Bung Karno
						li
							a
								figure
									img(src="images/thumb-img/vid-thumb2.jpg", alt="")
								p Megahnya Stadion Utama Gelora Bung Karno
						li
							a
								figure
									img(src="images/thumb-img/vid-thumb3.jpg", alt="")
								p Megahnya Stadion Utama Gelora Bung Karno
						li
							a
								figure
									img(src="images/thumb-img/vid-thumb1.jpg", alt="")
								p Megahnya Stadion Utama Gelora Bung Karno
						li
							a
								figure
									img(src="images/thumb-img/vid-thumb3.jpg", alt="")
								p Megahnya Stadion Utama Gelora Bung Karno

block myscript
	// build:js scripts/video-yt.js
	script(src="scripts/video-yt.js")
	// endbuild