extends base/home
include components/mixings

block content
	.second-head
		.container
			.second-head-left.pull-left
				+breadcrumb(["Home", "Kebijakan Privacy"])
			.second-head-right
	section.privacy
		.container
			.row
				.col-md-8.col-md-offset-2
					.head-and-caption.shortcutBorderBottom.margin-bottom-30
						h2.margin-bottom-5 Kebijakan Privacy
						a(href="#" class="btn") #[img(src="images/icons/pdf-icon.png")] Downoad PDF
					article
						p.
							Berikut adalah kebijakan privasi  kami untuk  #[a(href="#") http://databoks.katadata.co.id/] dan untuk layanan tertentu yang disediakan oleh PT Katadata Indonesia.
						
						p.
							Laman ini menginformasikan kebijakan kami mengenai pengumpulan, penggunaan, dan peyingkapan informasi pribadi yang kami terima dari pengguna situs ini. Kami menggunakan informasi pribadi Anda hanya untuk menyajikan dan meningkatkan situs. Dengan menggunakan situs ini, Anda menyetujui pengumpulan dan penggunaan informasi sesuai kebijakan ini.
						
						h3 Pengumpulan dan Penggunaan Informasi

						p.
							Ketika menggunakan situs kami, kami akan meminta Anda untuk menyediakan informasi identitas pribadi yang bisa digunakan untuk menghubungi atau mengidentifikasi Anda. Informasi identitas pribadi bisa berupa, namun tidak terbatas pada nama Anda (“Informasi Pribadi”). Databoks dapat membagikan informasi pribadi Anda dan informasi lainnya dengan afiliasi kami (meliputi situs web yang berafiliasi di bawah kepemilikan atau kekuasaan yang sama) dan penyedia layanan yang ditunjuk. Databoks dapat membagikan dengan pihak ketiga informasi tentang pengguna situs web kami, seperti penggunaan Anda atas situs web ini atau sistus web lainnya, dan penyedia layanan situs web ini atau situs web lainnya, namun hanya dalam basis anonim dan agregat.  Konsisten dengan pilihan yang Anda buat saat memberikan informasi pribadi, Databoks juga dapat membagikan informasi pribadi Anda dengan sponsor atau pihak ketiga (Penyedia-Pihak Ketiga) yang memberikan Anda penawaran khusus atau promosi yang mungkin menarik bagi Anda. And dapat memerintahkan Databoks kapanpun untuk tidak membagikan informasi pribadi Anda dengan Penyedia-Pihak Ketiga manapun. Harap dicatat bahwa (i) proses ini memakan beberapa waktu untuk selesai, konsisten dengan hukum yang berlaku; dan (ii) bahkan setelah proses ini selesai, informasi pribadi Anda dan informasi lainnya tetap akan dibagikan dengan afiliasi kami (meliputi situs web yang berafiliasi di bawah kepemilikan atau kekuasaan yang sama) dan penyedia layanan yang ditunjuk.
						
						h3 Log Data

						p.
							Selayaknya kebanyakan operator situs, kami mengumpulkan informasi yang dikirimkan browser Anda kapanpun Anda mengunjungi situs kami (“Log Data”).
						p.
							Log Data ini meliputi informasi seperti alamat Internet Protocol (IP) komputer Anda, tipe browser, versi browser, laman situs kami yang Anda kunjungi, waktu dan tanggal kunjungan Anda, durasi yang dihabiskan di laman tersebut dan statistik lainnya.
						p.
							Sebagai tambahan, kami dapat menggunakan layanan pihak ketiga seperti Google Analytics yang mengumpulkan, memonitor dan menganalisis ini.
						
						h3 Komunikasi

						p.
							Kami dapat menggunakan informasi pribadi Anda untuk menghubungi Anda dengan newsletter, material marketing atau promosional, dan informasi lainnya.
						
						h3 Cookies

						p.
							Cookies adalah file dengan jumlah data yang kecil, yang bisa berupa pengidentifikasi unik. Cookies dikirim ke browser Anda dari situs web dan disimpan di hard drive komputer Anda.

						p.
							Selayaknya situs lainnya, kami menggunakan cookies untuk mengumpulkan informasi. Anda dapat memerintahkan browser Anda untuk menolak semua cookies atau mengindikasi ketika cookie dikirim. Namun jika Anda tidak menyetujui cookies, Anda tidak dapat menggunakan beberapa bagian situs kami.
						
						h3 Keamanan

						p.
							Keamanan atas informasi pribadi Anda penting bagi kami, namun ingat bahwa tidak ada metode transmisi melalui internet, atau metode penyimpanan eletronik, yang 100% aman. Sementara kami berusaha untuk menggunakan cara yang dapat diterima secara komersial untuk melindungi informasi pribadi Anda, kami tidak bisa menjamin keamanan yang mutlak.
						
						h3 Perubahan atas Kebijakan Privasi ini

						p.
							Kebijakan privasi ini efektif sejak dan akan tetap berlaku kecuali sehubungan dengan perubahan ketentuan di masa depan, yang akan berlaku segera setelah diposting di laman ini.

						p.
							Kami memiliki hak untuk memperbarui atau mengubah kebijakan privasi kami kapanpun dan sebaiknya Anda mengecek kebijakan privasi ini secara berkala. Penggunaan Anda atas layanan kami selanjutnya setelah kami memposting perubahan atas kebijakan privasi pada laman ini akan meminta pengakuan Anda atas perubahannya dan persetujuan Anda untuk mematuhi dan terikat pada kebijakan privasi yang telah diubah.

						p.
							Jika kami membuat perubahan material pada kebijakan privasi ini, kami akan memberi tahu Anda baik melalui alamat email yang Anda berikan, atau dengan menempatkan pemberitahuan yang jelas di situs web kami.

						h3 Hubungi Kami

						p.
							Jika Anda memiliki pertanyaan tentang kebijakan privasi ini, silakan hubungi kami.
					
					a(href="#" class="btn") #[img(src="images/icons/pdf-icon.png")] Downoad PDF