html,body
	input[type="radio"],
	input[type="checkbox"]
		margin: 0
	.fb_iframe_widget
		top: 5px
	.abu
		background-color: #ced3cc
	.hitam
		background-color: #191a1e
	.putihLink, .putih
		color: white
	.wwNavigation-overlay
		position: fixed
		display: none
		top: 0
		width: 100%
		height: 100%
		background-color: rgba(0,0,0,.55)
		z-index: 3
	.cari-btn
		cursor: pointer
		display: inline-block
		i
			margin-right: 10px
			color: white
		a
			display: inline-block
			pointer-events: none
	section
		margin-bottom: 25px
	figure
		// overflow-y: hidden
		width: 100%
		margin-bottom: 20px
		img
			display: block
			width: 100%
		figcaption
			font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
			font-size: 10px
			font-weight: 400
			padding: 3px 0 5px
			text-transform: uppercase
			text-align: right
			font-size: 10px
			color: #999
		&.thumb-article-img
			height: 175px
			max-height: 280px
			width: 100%
			overflow: hidden
			+breakpoint(tablet)
				overflow: hidden
				height: 230px
			+breakpoint(mobile)
				height: auto
				margin-bottom: 10px
			img
				width: 100%
				height: auto
				// +breakpoint(tablet)
				// 	width: 100%
				// 	height: auto
				// +breakpoint(mobile)
				// 	width: 100%
				// 	height: auto
		a.hl-pict
			display: inline-block
			width: 100%
			overflow: hidden
			text-decoration: none
	a.addLabel // lbl_kd6
		position: absolute
		display: block
		text-align: center
		top: 10px
		right: 30px
		width: 170px
		span
			font-size: 15px
			margin-bottom: 7px
			display: block
			color: #777
		img
			width: 100%
		&:hover
			text-decoration: none
		+breakpoint(tablet)
			right: 30px
		+breakpoint(mobile)
			position: static
			width: 180px
			margin: 0 auto 20px
	.tagLink
		position: relative
		margin-bottom: 10px
		+clearit
		strong
			margin-right: 10px
			margin-bottom: 10px
			display: inline-block
			vertical-align: middle
			font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
			font-size: 15px
			font-weight: 700
			text-transform: uppercase
			+breakpoint(mobile)
				margin-bottom: 0
		ul
			margin-bottom: 10px
			display: inline-block
			+breakpoint(mobile)
				margin-top: 10px
				margin-left: 0
			li
				display: inline-block
				margin-right: 10px
				margin-bottom: 10px
				&:last-child
					margin-right: 0
				a
					padding: 10px 20px
					font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
					font-weight: 400
					display: block
					+border-radius(3px)
					border: 1px solid #ccc
					color: $black
					&:hover
						text-decoration: none
						background: $orange
						color: white
						border: 1px solid $orange
		&.match-margin
			strong
				text-align: right
				margin-top: 12px
				margin-right: 0
				margin-bottom: 0
				width: calc(100% - (655px + 15px))
				+breakpoint(desktop)
					width: calc(100% - (720px + 15px))
				+breakpoint(mobile)
					margin-top: 0
			ul
				margin-top: 0
				float: right
				width: 655px
				+breakpoint(desktop)
					width: 720px
				+breakpoint(mobile)
					margin: 10px 0
					float: none
					width: 100%
	.sosmedBottomDetail
		@extend .tagLink
		ul
			li
				a
					padding: initial
					+border-radius(50%)
					color: white
					border: none
					&:hover
						border: none
	a.lockIcon
		position: relative
		display: block
		&:after
			position: absolute
			bottom: 0
			margin-left: 3px
			content: '\e900'
			font-family: icomoon
			font-size: 17px
			line-height: 1.6
			font-weight: bold
			color: $black
	a
		font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
		font-weight: 500
		color: #0070c9
		white-space-collapsing: discard
		&.linkIndex
			position: relative
			display: inline-block
			font-size: 16px
			padding: 4px 0
			margin-left: 50px
			+breakpoint(mobile)
				float: right
				margin-left: 20px
			+breakpoint(small-mobile)
				float: right
				font-size: 14px
			span
				display: inline-block
				&:before
					position: absolute
					top: 50%
					left: -26px
					transform: translateY(-50%)
					content: ''
					display: inline-block
					width: 2px
					height: 80%
					background-color: #333
			&.no-left-border
				span
					&:before
						background-color: transparent
	p
		font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
		font-size: 18px
		font-weight: 400
		line-height: 1.5
		color: $blTxt
		span
			display: block
			font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
			font-weight: 500
	h1,
	h2
		font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
		font-weight: 500
		color: $black
		a
			font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
			font-weight: 500
			color: $black
	h1
		margin-bottom: 20px
		font-size: 2.5rem
		line-height: 1.2
		a
			color: $black
	h2
		margin-bottom: 20px
		font-size: 2.2rem
		line-height: 1.2
		a
			color: $black
	h3
		font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
		font-size: 22px
		font-weight: 500
		display: inline-block
		margin-bottom: 20px
		color: $blue-cap
		&.italicCap
			font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
			font-size: 1.5rem
			font-style: italic
			font-weight: 700
			letter-spacing: -1px
		&.blue-light
			color: $blue-light
		&.white
			color: white
		&.bg-blue
			padding: 15px 18px
			color: white
			background-color: $blue-sea
		+breakpoint(small-mobile)
			font-size: 19px
		&.lr-border
			margin-top: 32px
			position: relative
			display: block
			text-align: center
			+breakpoint(mobile)
				margin-top: 0
			span
				position: relative
				background-color: #fff
				padding: 0 10px
			&:before
				position: absolute
				top: 12px
				left: 0
				content: ''
				display: block
				width: 100%
				height: 1px
				background-color: #ddd
	a.goUp
		position: fixed
		bottom: 20px
		// top: -45px
		right: 5px
		display: inline-block
		width: 40px
		height: 40px
		opacity: 0
		text-align: center
		background-color: $blue-pastel
		// background-color: rgba(198,162,72,.9)
		color: white
		z-index: 2
		transition: all .3s ease-in-out
		box-shadow: 0 8px 10px -5px darken(rgb(107,184,210), 28%)
		// +border-radius(50%)
		+border-radius(0)
		+breakpoint(mobile)
			right: 10px
		i
			font-size: 23px
			line-height: 1.6
	article
		h3
			margin-bottom: 15px
			a
				font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
				font-weight: 500
				display: inline-block
				color: $black
				line-height: 1.4
	h4
		font-size: 17px
		line-height: 1.4
		a
			color: $black
	article.fotoInfo
		padding: 15px
		position: absolute
		left: 20px
		bottom: 20px
		background-color: rgba(0,0,0,.7)
		z-index: 3
		a,p
			font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
			font-size: 15px
			font-weight: 500
			display: inline-block
			vertical-align: middle
			color: white
		a,p
			margin-left: 10px
	.paySuport
		float: left
		span
			margin-right: 20px
			display: inline-block
			font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
			font-size: 18px
			font-weight: 300
		ul
			display: inline-block
			vertical-align: middle
			li
				display: inline-block
	.topik-link
		padding: 6px 10px
		margin-bottom: 5px
		font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
		font-size: 11px
		font-weight: 500
		color: white
		text-transform: uppercase
		display: inline-block
		background: $yellow-wood
	a.linkVid
		font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
		font-size: 17px
		font-weight: 400
		margin-bottom: 5px
		display: block
		cursor: pointer
		line-height: 1.4
		color: $black
	div.layerBox
		display: inline-block
		vertical-align: middle
		width: 22px
		height: 16px
		> span
			position: relative
			display: block
			width: 18px
			height: 14px
			background-color: white
			box-shadow: 1.5px 1.5px 0 rgba(0,0,0,.5)
			&:before,
			&:after,
				position: absolute
				content: ''
				width: 18px
				height: 14px
				background-color: white
				box-shadow: 1.5px 1.5px 0 rgba(0,0,0,.5)
			&:before
				top: 3px
				left: 3px
				z-index: -1
			&:after
				top: 6px
				left: 6px
				z-index: -2
		&.bigFigure
			width: 30px
			height: 24px
			> span
				font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
				font-size: 14px
				font-weight: 500
				text-align: center
				line-height: 20px
				width: 26px
				height: 20px
				&:before,
				&:after
					width: 26px
					height: 20px
		&.oneImg
			&:before,
			&:after,
				display: none
	.followSosmed
		position: relative
		span
			font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
			font-size: 12px
			font-weight: 400
			text-transform: uppercase
			display: inline-block
			vertical-align: middle
		ul
			display: inline-block
			vertical-align: middle
			li
				margin: 0 4px
				display: inline-block
				&:last-child
					margin-right: 0
					margin-bottom: 0
				a
					display: block
					width: 28px
					height: 28px
					text-align: center
					border-radius: 50%
					background: salmon
					i
						font-size: 16px
						line-height: 28px
						color: #FFFFFF
				a[class*="facebook"]
					background-color: $fb
					&:hover
						background-color: darken($fb, 5%)
				a[class*="twitter"]
					background-color: $tw
					&:hover
						background-color: darken($tw, 5%)
				a[class*="instagram"]
					background-color: $insta
					&:hover
						background-color: darken($insta, 5%)
				a[class*="gg-plus"]
					background-color: $gg
					&:hover
						background-color: darken($gg, 5%)
				a[class*="linkedin"]
					background-color: $lnkd
					&:hover
						background-color: darken($lnkd, 5%)

				// &:nth-child(1)
				// 	a
				// 		background-color: $fb
				// 		&:hover
				// 			background-color: darken($fb, 5%)
				// &:nth-child(2)
				// 	a
				// 		background-color: $tw
				// 		&:hover
				// 			background-color: darken($tw, 5%)
				// &:nth-child(3)
				// 	a
				// 		background-color: $insta
				// 		&:hover
				// 			background-color: darken($insta, 5%)
				// &:nth-child(4)
				// 	a
				// 		background-color: $lnkd
				// 		&:hover
				// 			background-color: darken($lnkd, 5%)
	span.lineCaption2
		position: relative
		display: block
		margin-bottom: 40px
		&:before
			position: absolute
			top: 50%
			left: 0
			transform: translateY(-50%)
			content: ''
			width: 100%
			height: 7px
			background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQYV2NkQAJFRUX/GWF8EKevr48RLADjgNiMyByQAACy6Q5a1WmoKgAAAABJRU5ErkJggg==") repeat
		h3
			margin: 0
			padding: 5px 25px
			position: relative
			left: 50%
			transform: translateX(-50%)
			border: 1px solid #ccc
			+border-radius(3px)
			+box-shadow(0,0,10px, rgba(0,0,0,.15))
			background: white
	.minigrafik-body
		position: relative
		// +borderDotVerBefore
		&:before
			left: -11px
		&:after
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: rgba(0,0,0,.25)
		span.miniPlay
			position: absolute
			top: 50%
			left: 50%
			width: 48px
			height: 48px
			display: inline-block
			transform: translate(-50%, -50%)
			background: url('../images/icons/play-button.png') no-repeat
			background-size: contain
			z-index: 1
		img
			width: 100%
		.minigrafik-caption
			padding: 10px
			position: absolute
			bottom: 0
			width: 100%
			background-color: rgba(0,0,0,.75)
			+clearit
			h3
				font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
				font-size: 20px
				font-weight: 400
				margin: 0
				color: #fff
			a.linkIndex
				color: $blue-sea
		+breakpoint(mobile)
			+noBorderDot
	strong.small-label
		display: inline-block
		margin-bottom: 5px
		font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
		font-size: 12px
		font-weight: 500
		letter-spacing: .3px
		text-transform: uppercase
		color: $blue-pastel
	.topik-terkait
		padding: 15px
		margin-bottom: 20px
		background-color: #f2f2f2
		width: 100%
		+clearit
		span
			display: inline-block
			vertical-align: middle
		strong
			margin-bottom: 10px
			font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
			font-weight: 500
			display: block
		ul
			li
				display: inline-block
				margin-right: 2px
				a
					font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
					font-size: 15px
					font-weight: 400
					line-height: 1.4
					color: $black
	p.infoArtikel
		margin-bottom: 10px
		display: inline-block
		font-size: 15px
		color: #727272
		span
			display: inline-block
		strong
			font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
			font-weight: 500
			color: $black
		&.white
			color: white
			strong
				color: inherit
	.newsletter
		+clearit
		padding: 20px 0
		// border-top: 1px solid #ddd
		// border-bottom: 1px solid #ddd
		margin-bottom: 25px
		background-color: #eee
		img
			float: left
			margin-right: 15px
			+breakpoint(tablet)
				margin-bottom: 20px
			+breakpoint(mobile)
				margin-bottom: 20px
		article
			float: right
			width: calc(100% - 100px)
			strong
				display: block
				font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
				font-size: 20px
				font-weight: 700
				margin-bottom: 8px
			p
				margin-bottom: 25px
				font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
				font-size: 15px
				font-weight: 300
				line-height: 1.4
				&.small
					margin-bottom: 10px
					font-size: 14px
		.customInput
			display: inline-block
			width: 75%
			+breakpoint(mobile)
				// display: block
				width: 62%
				margin-bottom: 12px
		input[type="submit"]
			padding: 9px 0
			font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
			font-weight: 500
			float: right
			width: 23%
			+breakpoint(mobile)
				width: 35%
				margin-bottom: 8px
		&.inDetail
			position: relative
			top: 10px
			float: left
			width: 48%
			padding: 15px 0
			margin-right: 18px
			margin-bottom: 18px
			margin-left: -95px
			border-top: 5px solid $blue-pastel
			border-bottom: 5px solid $blue-pastel
			background-color: transparent
			+breakpoint(tablet)
				margin-left: 0
				float: left
				width: 50%
			+breakpoint(mobile)
				position: static
				margin-left: 0
				margin-bottom: 15px
				float: none
				width: 100%
			strong
				display: block
				font-family: "Gotham Narrow A", "Gotham Narrow B", 'Roboto'
				font-size: 16px !important
				font-weight: 700
				margin-bottom: 8px
			p
				font-size: 14px !important
				margin-bottom: 10px !important
				&.small
					padding: 0 2px
					font-size: 12px
					margin-bottom: 12px
			.customInput
				display: inline-block
				margin: 0 0 20px
				width: 100%
			.recaptha-space
				margin-bottom: 15px
				display: block
				+clearit
				img
					width: 100%
			input[type="submit"]
				float: none
				width: 100%
	// .ekonoBigImg
	// 	position: relative
	// 	padding-bottom: 25px
	// 	margin-bottom: 25px
	// 	border-bottom: 1px solid #ddd
	// 	+clearit
	// 	figure
	// 		margin-bottom: 15px
	// 		border: 5px solid #ddd
	// 		img
	// 			display: block
	// 			width: 100%
	// 			height: auto
	// 	a
	// 		display: inline-block
	// 		vertical-align: middle
	// 		+breakpoint(mobile)
	// 			display: block
	// 			margin-bottom: 20px
