// FONT FAMILY
$font_idx: 1
$font_default: Helvetica, Arial, sans-serif !default

// Font Family Ex. (name, 'fonts/path')
$font_family: (icomoon: '../fonts/icomoon')

//'Roboto': '../fonts/roboto-light-webfont', 'Roboto': '../fonts/roboto-regular-webfont', 'Roboto': '../fonts/roboto-medium-webfont', robotoBold: '../fonts/roboto-bold-webfont'

$position: top right bottom left

// Font Gotham Narrow
// ----------------------------
//
// Gotham Narrow Light
// font-family: "Gotham Narrow A", "Gotham Narrow B";
// font-style: normal;
// font-weight: 300;

// Gotham Narrow Light Italic
// font-family: "Gotham Narrow A", "Gotham Narrow B";
// font-style: italic;
// font-weight: 300;

// Gotham Narrow Book
// font-family: "Gotham Narrow A", "Gotham Narrow B";
// font-style: normal;
// font-weight: 400;

// Gotham Narrow Book Italic
// font-family: "Gotham Narrow A", "Gotham Narrow B";
// font-style: italic;
// font-weight: 400;

// Gotham Narrow Medium
// font-family: "Gotham Narrow A", "Gotham Narrow B";
// font-style: normal;
// font-weight: 500;

// Gotham Narrow Medium Italic
// font-family: "Gotham Narrow A", "Gotham Narrow B";
// font-style: italic;
// font-weight: 500;

// Gotham Narrow Bold
// font-family: "Gotham Narrow A", "Gotham Narrow B";
// font-style: normal;
// font-weight: 700;

// Gotham Narrow Bold Italic
// font-family: "Gotham Narrow A", "Gotham Narrow B";
// font-style: italic;
// font-weight: 700;

/* Buttons */
$buttons: ('btn-red', #D9534F, #FFFFFF), ('btn-blue', #00aeef, #FFFFFF), ('btn-orange', #f5843c, #FFFFFF), ('btn-abu', #eeeeee, #333333), ('btn-abu-hijau', #8eadb2, #FFFFFF), ('btn-green', #5CB85C, #FFFFFF), ('btn-fb', #4d68ba, #FFFFFF), ('btn-tw', #71adf3, #FFFFFF), ('btn-lnkd', #33669e, #FFFFFF), ('btn-yellow-wood', #c4a333, #FFFFFF), ('btn-blue-pastel', #6bb8d2, #FFFFFF), ('btn-blue-navy', #1785c1, #FFFFFF)
/* Color */
$gray: #727272
$black: #111111
$blTxt: #444444
// $blue: #004a73
$blue: #082556
$blue-pastel: #6bb8d2
$blue-cap: #0c2433
$yellow-wood: #c4a333
$yellow-wood-bak: #dbb95e
$blue-light: #86a6b2
$blue-light2: #8eadb2
$graygreen: #ced3cc
$orange: #f5843c
$blue-sec-head2: #809a9c
$blue-sea: #00aeef
$navy-light: #90abb5

$fb: #4d68ba
$tw: #71adf3
$insta: #e4405f
$lnkd: #33669e
$pinter: #bd081c
$gg: #dd4b39
$other: #1baae1
$wa: #34AF23
$ln: #00c300


// media-query (retina, (min-width: 2048px))

$media-query: (desktop, (min-width: 1366px) and (max-width: 1919)), (laptop, (min-width: 1280px)), (ipad, (width: 1024px)), (wide, (min-width: 992px)), (ipad-pro, (height: 1366px)), (tablet, (min-width: 768px) and (max-width: 991px)), (mobile, (max-width: 767px)), (small-mobile, (max-width: 320px))
%line-custom-top
	position: absolute
	content: ''
	top: -7px
	left: 50%
	transform: translateX(-50%)
	width: 100%
	height: 7px
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQYV2NkQAJFRUX/GWF8EKevr48RLADjgNiMyByQAACy6Q5a1WmoKgAAAABJRU5ErkJggg==") repeat

%line-custom-bottom
	&:after
		position: absolute
		content: ''
		bottom: 0
		left: 50%
		transform: translateX(-50%)
		width: 100%
		height: 7px
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQYV2NkQAJFRUX/GWF8EKevr48RLADjgNiMyByQAACy6Q5a1WmoKgAAAABJRU5ErkJggg==") repeat

%thin-line-custom-top
	&:after
		position: absolute
		content: ''
		top: 0
		left: 50%
		transform: translateX(-50%)
		width: 100%
		height: 1px
		background-color: #ddd
	&.no-top-border
		&:after
			width: 0
			height: 0
			background-color: transparent

%thin-line-custom-bottom
	&:after
		position: absolute
		content: ''
		bottom: 0
		left: 50%
		transform: translateX(-50%)
		width: 100%
		height: 1px
		background-color: #ddd
	&.no-bottom-border
		&:after
			width: 0
			height: 0
			background-color: transparent
